@import '../templates/case/diptech/_style';
@import '../templates/case/goal-block/_style';
@import '../templates/case/double-image/_style';
@import '../templates/case/double-text/_style';

.project-page>inner-column {
    margin: 0;
    max-width: none;
}

diptech,
double-image,
double-text,
goal-block {

    picture {
        max-width: 500px;
        margin: 0 auto;
    }
}

.links {

    inner-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--simple-big-space);
        max-width: 800px;
        margin: 10px auto;
    }

    .action-link:first-of-type {
        display: none;
    }
}

@media (min-width: 700px) {

    diptech,
    double-image,
    double-text,
    goal-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--simple-big-space);
        align-items: center;

        picture {
            margin: 0;
            max-width: none;
        }
    }

    diptech text-content,
    double-text p {
        margin-bottom: 0;
    }

}