@import '../templates/case/diptech/_style';
@import '../templates/case/goal-block/_style';
@import '../templates/case/double-image/_style';
@import '../templates/case/double-text/_style';

.project-page>inner-column {
    padding: var(--general-space) 0;
    margin: 0;
    max-width: none;
}

diptech,
double-image,
double-text,
goal-block {
    min-height: 300px;
    picture {
        max-width: 500px;
        margin: 0 auto;
    }
}

.links inner-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--simple-space);

    a {
        padding: var(--simple-space) var(--simple-big-space);
        border: var(--thin) solid var(--highlight);
        background-color: var(--highlight);
        text-align: center;
        color: var(--white);
        text-transform: uppercase;
    }

    a:first-of-type {
        display: none;
    }
    
}

.project-page section:nth-of-type(even) {
    background-color: var(--fade);
}


@media (min-width: 700px) {

    diptech,
    double-image,
    double-text,
    goal-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--simple-big-space);
        align-items: center;
        
        picture {
            margin: 0;
            max-width: none;
        }
    }

    diptech text-content,
    double-text p {
        margin-bottom: 0;
    }

}