@import '../css/components/site-header.scss';
@import '../css/components/site-footer.scss';
@import '../css/components/side-bar.scss';
@import '../css/components/small-partials.scss';


input,
textarea,
select {
	width: 100%;
	font-family: "Montserrat", sans-serif;
	padding: 10px 15px;
	font-size: var(--step-0);
	border: 2px solid var(--black);
	outline: none;
	resize: none;
}

select {
	option {
		text-transform: uppercase;
	}
}

label {
	font-family: "Montserrat", sans-serif;
	font-size: var(--step-1);
}

input:focus,
textarea:focus {
	border: 2px solid var(--color);
	background-color: var(--color-super-light)
}

textarea {
	min-height: 100px;
}

form-field {
	display: block;
	grid-column: 1 / -1;
	width: 100%;
	position: relative;
}

action-links {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.action-link {
	letter-spacing: .03em;
	font-weight: 500;
	width: 100%;
	border: var(--thin) solid var(--color);
	color: var(--white);
	text-align: center;
	text-transform: uppercase;
	padding: 15px 20px;
	background-color: var(--color);
	transition: background-color .2s ease-in-out, border .2s ease-in-out;
	font-family: 'IBM Plex Serif', serif;

	+.action-link {
		border: var(--thin) solid var(--color-super-light);
		color: var(--black);
		background-color: var(--color-super-light);

		&:hover {
			background-color: var(--white);
			border: var(--thin) solid var(--color-mute);
		}
	}
}

.action-link:hover {
	background-color: var(--color-dark);
	border-color: var(--color-dark);
}

#menu-toggle:checked~.menu a:hover {
	background-color: var(--accent);
}


.button {
	appearance: none;
	background-color: transparent;
	border: 2px solid #1A1A1A;
	color: #3B3B3B;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	min-width: 0;
	outline: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	transition: background-color 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
	will-change: transform;
}

.button:disabled {
	pointer-events: none;
}

.button:hover {
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

.button:active {
	box-shadow: none;
	transform: translateY(0);
}