
form{
    padding: 2.5vh 2rem;
}

form{
    padding-bottom: 0;
}

form h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 500;
}

.forms main inner-column{
    padding-bottom: var(--large-height);
}

field{
    text-align: center;
}

.feedback p,
.feedback li{
    padding: 1rem;
}

button,
input,
label,
select{

    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    display: block;
}

select{
    margin: 10px auto;
    font-size: 18px;
}

/* Section ONe */

label{
    margin: 2vh auto;
}


button {
    margin-top: 4vh;
    padding: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    
}


input{
    height: 25px;
    border-color: var(--coffee);
    width: 100%;
}

button, 
.forms main a,
.e4p main a{
    width: 280px;

    padding: 20px 20px;
    text-align: center;
    font-weight: 500;

    color: var(--black);
    background-color: var(--faded);
    border-radius: 5px;
    border: 3px solid var(--coffee);

    font-size: clamp(1.1rem, 1.2vw, 1.2rem);
    background-image: linear-gradient(var(--link), var(--link));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .3s, color .3s;
}

button:hover,
.forms main a:hover,
.e4p main a:hover{
    border-color: var(--ink);
    color: var(--ink);
    cursor: pointer;
    background-size: 100% 100%;
    cursor: pointer;
}

header.forms inner-column{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* .e4p h1{
    text-align: center;
} */

.e4p ul{
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	grid-gap: 10px 10px;
    justify-content: center;
}

.e4p ul li {
    margin: 0 auto;
}

.form-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

results{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

results p{
    margin: 0;
}

results strong{
    font-size: 25px;
    font-weight: 800;
}

results h3{
    font-size: 28px;
    font-weight: 500;
    color: var(--coffee);
    text-shadow:  -2px 2px 5px rgb(0 0 0 /.4);
}

@media (min-width:600px){

    main inner-column.forms{
        max-width: none;
        width: 450px;
        gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
    }

    form{
        min-width: 60%;
        border-right: 3px solid var(--coffee);
    }

    .e4p ul li {
        margin: 0;
    }

    .form-page{
        flex-direction: row;
    }

    results {
        max-width: 50%;
    }
}


@media (min-width: 800px){
    .field{
        display: flex;
        flex-direction: row;
        justify-content: CENTER;
        align-items: center;
    }

    .field div{
        width: 65%;
    }
}


