@import 'style.css';

.projects article-grid{
    margin: 0;
}

.projects inner-column{
    margin-bottom: var(--med-height);
}

section.projects article{
    padding-top: var(--med-height);
    padding-bottom: var(--med-height);

    display: flex;
    flex-direction: column;
    box-shadow:
    0 3px 0 0 var(--coffee);
}

section.projects article .container{
    max-width: 55ch;
}


section.projects picture{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: var(--small-width);
    max-width: 50ch;
}

div.container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

div.project-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    padding-right: var(--xs-width);
    padding-bottom: var(--xs-height);
    max-width: 52ch;
}

.project-links a{
    padding: 20px 20px;
    width: 270px;
    text-align: center;
    font-weight: 500;

    color: var(--black);

    background-color: var(--faded);
    border: 3px solid var(--coffee);
    border-radius: 5px;

    font-size: clamp(1.1rem, 1.2vw, 1.2rem);
    background-image: linear-gradient(var(--link), var(--link));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}


.project-links a:hover {
    color: var(--ink);

    border-color: var(--ink);
    
    cursor: pointer;
    background-size: 100% 100%;
}

/* $Project Images */

.project-image{
    margin-bottom: var(--med-width);

}

.project-image a{
    outline:3px solid var(--coffee);
    border: 3px solid var(--coffee);
    border-radius: 8px;
    overflow: hidden;

}

.project-image a:hover{
    outline:3px solid var(--ink);

    
    cursor: pointer;

}

@media (min-width:550px){

    section.projects picture{
        padding-right: auto;
    }
}

@media (min-width:800px){
    section.projects article{
        flex-direction: row-reverse;

        gap: var(--med-width);

    }

    section.projects picture{
        max-width: none;
        min-width: 380px;
        margin-bottom: 0;
    }
}

@media(min-width: 1700px){
    inner-column{
        max-width: 1300px;
    }
}



