
html {
    --ink: rgb(244, 240, 240);

    --faded: rgba(242, 217, 201, 0.8);
    --accent-ink: rgba(235, 235, 235, 0.7);
    --link: rgb(206, 148, 41);
    --black: rgb(0 0 0/.8);
    --coffee: rgb(196, 143, 30);
    --dark-theme: rgba(0 0 0/0.40);


    --xs-height: 1vh;
    --xs-width:1vw;
    --small-height: 2vh;
    --small-width:2vw;
    --med-height: 5vh;    
    --med-width:5vw;
    --large-height: 8vh;    
    --large-width:8vw;
    --xlarge-height: 11vh;    
    --xlarge-width: 11vw;
}

body{
    color: var(--ink);
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;

    background: linear-gradient(22deg, #3f524d, #564228, #29353c, #483623, #1f5759, #59381f, #000000);
    background-size: 1400% 1400%;
    -webkit-animation: AnimationName 42s ease infinite;
    -moz-animation: AnimationName 42s ease infinite;
    -o-animation: AnimationName 42s ease infinite;
    animation: AnimationName 42s ease infinite;
  }
    @-webkit-keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
  }
    @-moz-keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
  }
    @-o-keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
  }
    @keyframes AnimationName {
    0%{background-position:57% 0%}
    50%{background-position:44% 100%}
    100%{background-position:57% 0%}
  }





@media (prefers-color-scheme:light){

  html{
    --ink: rgb(20, 20, 20);

    --faded: rgba(203, 242, 201, 0.8);
    --accent-ink: rgba(58, 57, 57, 0.7);
    --link: rgb(41, 206, 184);
    --black: rgb(20, 20, 20);
    --coffee: rgb(34, 171, 132);
    --dark-theme: rgba(255 255 255/0.40);


  }

  

  body{
    background: linear-gradient(322deg, #80a9d0, #c186d3, #75d6de, #B8E3FF, #d2f7f8, #c2d5ed);
    background-size: 1400% 1400%;
    -webkit-animation: AnimationName 42s ease infinite;
    -moz-animation: AnimationName 42s ease infinite;
    -o-animation: AnimationName 42s ease infinite;
    animation: AnimationName 42s ease infinite;
  }

  .project-image img{
    filter: invert(100%)
  }

}

inner-column{
  max-width: 1100px;
  padding: var(--small-height) var(--small-width);
  
}

article-grid{
  margin-top: var(--med-height);

}

div.info-wrapper{
  padding-left: var(--med-width);
  margin-right: auto;
}

div.section-grid{
  width: 100%;
}

p a:hover{
  background-color: var(--link);
  color: var(--ink);
  text-decoration: none;
}

a:hover{
  color: var(--coffee);

}

/* Font-size styles */

.loud-voice{
    font-weight: 800;
    font-size: clamp(2.7rem,12vw,11rem);
    letter-spacing: 4px;
}

.attention-voice{
  font-weight: 700;
  font-size: clamp(2.3rem,9vw,8rem);

  margin-bottom: var(--small-height);
}

.calm-voice{
  font-weight: 500;
  font-size: clamp(1.6rem,5vw,2.5rem);
}

h3.calm-voice{
  margin-bottom: var(--small-height);
}

p{
    font-weight:400;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    margin-bottom: var(--small-height);
    line-height: 1.6;
}

p:last-of-type{
  margin-bottom: var(--med-height);
}

span{
  font-weight: 400;
  font-size: 1.2rem;
}


@keyframes drop-in {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}

@keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
