@import 'reset.css';
@import 'setup.css';
@import 'structure.css';
@import 'header.css';
@import 'projects.css';

/* $Main Page Content */
/* $landing */

section.landing{
    position: relative;
}

.landing h1{
    animation: smooth 1s linear forwards;
    margin-bottom: var(--small-height);
}

.landing span{
    display: block;
    margin-bottom: var(--med-height);
    color: var(--faded);
}

.landing div.info-wrapper{
    max-width: 60ch;
    animation: slide-in 1000ms;
}

.landing-actions a {
    width: fit-content;
    /* max-width: 270px; */

    padding: 20px 20px;
    text-align: center;
    font-weight: 500;

    color: var(--black);
    background-color: var(--faded);
    box-shadow: 3px 3px 0 0 var(--ink);
    border-radius: 5px;
    border: 3px solid var(--coffee);

    font-size: clamp(1rem, 1.2vw, 1.2rem);
    transition: all ease-in .2s ;
}

.landing-actions a:hover{
    background-color: var(--link);
    transform: translate(0.2em, 0.2em);
    box-shadow: 0 0 0 1px transparent;
    color: var(--ink);

    border: 3px solid transparent;
    
    cursor: pointer;
}

.landing article{
    margin-left: var(--med-width);

    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    transition: all .2s ease-in;

    max-width: 50ch;
}

.landing article{
    box-shadow:
    0 3px 0 0 var(--coffee);
}

.landing article.three{
    margin-bottom: 0;
}

.landing article p{
    font-weight: 300;
    font-style: oblique;

}

.landing article a{
    font-weight: 500;
    padding: 20px 20px;

    /* max-width: 270px; */
    max-width: fit-content;

    transition: all 250ms ;

    color: var(--black);
    background-color: var(--faded);
    box-shadow: 3px 3px 0 0 var(--ink);
    border-radius: 5px;
    border: 3px solid var(--coffee);

}


.landing article a:hover{

    background-color: var(--link);
    transform: translate(0.2em, 0.2em);
    box-shadow: 0 0 0 1px transparent;
    color: var(--ink);

    border: 3px solid transparent;
    
    cursor: pointer;
}

/* $socials */

.landing ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    animation: slide-in 1000ms;

    margin-top: var(--med-height)
}

.landing ul img{
    transition: all ease-in .1s ;
}

.landing ul img:hover{
    filter: invert(1);
}

.landing li{
    background-color: var(--faded);
    border: 3px solid var(--coffee);
    box-shadow: 3px 3px 0 0 var(--ink);
    border-radius: 5px;

    width: 35px;
    height: 35px;

    transition: all ease-in .2s ;
}

.landing li:hover {
    background-color: var(--link);
    transform: translate(0.2em, 0.2em);
    box-shadow: 0 0 0 1px transparent;
    color: var(--ink);
    
    cursor: pointer;
}

.landing article-grid{
    margin-bottom: var(--large-height);
}

@media(min-width:700px){
    section.landing inner-column .info-wrapper{
        max-width: 70ch;
    }
}

@media (min-width:650px) and (max-width:1160px){

    article-grid.connect{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .landing article{
        margin: 0;
        align-items: center;
        justify-content: space-evenly;
        min-height: 250px;
        padding-left: 0;

        position: relative;
        width: 100%;
    }

    .landing article p{
        text-align: center;
        height: 100px;
        position: absolute;
        top: 40%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        max-width: 25ch;
    }


    .landing article a{
        position: absolute;
        bottom: 0;
    }
    
    .landing article.three{
        padding: 0;
        box-shadow: none;
    }

    .landing article{
        box-shadow: 
        3px 0 0 0 var(--coffee);
    }
}

@media (min-width:1160px){

    .landing inner-column{
        position: relative;
    }

    .landing article p{
        margin: 0;
        text-align: center;
    }

    article-grid.connect{
        padding: 0;
    }

    .landing article-grid.connect{
        margin: 0;
    
    }

    .landing article {
        position: absolute;

        width: 275px;
        height: 200px;
        margin-bottom: 0;

        align-items: center;
        justify-content: center;
        transition: none;


        border: 3px solid var(--ink);
        background-color: var(--black);
        box-shadow: none;
        border-radius: 5px;
        backdrop-filter: blur(10px);

        padding: var(--xs-height) var(--xs-width);
    }

    .landing article p,
    .landing article a{

        text-align: center;
        margin: 0 auto;
        font-size: clamp(.9rem, var(--xs-height), 1rem);
    }

    .landing article a{
        margin-top: 10px;
    }

    .landing article{
        margin: 0;
    }

    .landing article.one{
        right:50px;
        bottom:265px;
        z-index: 1;
    }    
    
    .landing article.three{
        right: 110px;
        bottom: 80px;
        z-index: 2;
    }

    /*svg arrow idea! dont forget*/

}


@media (min-width:1700px){
    section.landing inner-column .info-wrapper{
        padding-left: 68.025px;
    }

    section.landing article p,
    section.landing article a{
        text-align: center;
        margin: 0 auto;
        padding: 10px 10px;
    }

    article.one{
        top: 30vh;
    }

    .landing article{
        min-width: 320px;
    }

}

