@import '_reset';
@import '_setup';
@import '_variables';
@import '_typography';
@import '_case';
@import '_modules';


.skills {
	display: flex;
	text-transform: uppercase;
	flex-wrap: wrap;
	gap: 5px;
	color: var(--highlight);
	p:after {
		content: ',';
	}

	p:last-of-type:after {
		content: '';
	}
	
}

.action-link{
	transition: all .4s;
	letter-spacing: .1em;
	font-weight: 600;
	background-color: transparent;
	border: 3px solid var(--highlight);
	color: var(--ink);

	text-align: center;
    text-transform: uppercase;
	padding: var(--simple-space);
}

.action-link:hover{
	background-color: var(--highlight);
}

#menu-toggle:checked ~ .menu a:hover{
	background-color: var(--accent);
	
}


p a:hover,
p+a:hover {
	background-color: var(--highlight);
	transition: all .4s;
	color: white;
}

big-heading,
landing-heading,
missing-heading {

	margin-top: var(--simple-big-space);
	margin-bottom: var(--simple-big-space);
}


big-heading,
missing-heading {
	animation: upFadeIn .5s forwards;
	opacity: 0;
	animation-delay: .3s;
}
