@import 'reset.css';
@import 'setup.css';
@import 'variables.css';
@import 'typography.css';
@import 'modules.css';


.intro {
	margin-bottom: var(--tight-space);
}

@keyframes square {
	0%   { transform: translateY(0); }
	100% { transform: translateY(-700px) rotate(600deg); }
}

project-card .projects-action:hover,
button:hover,
form-grid a:hover,
blog-card a:hover,
project-page .container a:hover{
	background-color: var(--highlightOP);
	transition: all .4s;
	color: black;
}

p a:hover,
p+a:hover{
	background-color: var(--highlight);
	transition: all .4s;
	color: white;
}

big-heading,
landing-heading,
missing-heading{

	margin-top: var(--simple-big-space);
}


big-heading,
missing-heading{
	animation: upFadeIn .5s forwards ;
	opacity: 0;
}


