@import 'reset.css';
@import 'setup.css';
@import 'variables.css';
@import 'typography.css';
@import 'modules.css';

@-moz-document url-prefix() {
	.remove-me {
		border: 1px solid red;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.strong {
	font-weight: 800;
}

.intro {
	margin-bottom: var(--tight-space);
	color: var(--highlight);
	font-weight: 500;
	font-size: clamp(1rem, 2vw, 1.4rem);
}

.intro p {
	font-weight: 500;

}

.skills {
	display: flex;
	text-transform: uppercase;
	flex-wrap: wrap;
	gap: 5px;
	color: var(--cube-line);
}

.skills p:after {
	content: ',';
}

.skills p:last-of-type:after {
	content: '';
}


project-card .projects-action,
button,
form-grid a,
blog-card a,
project-page .container a,
missing-heading a {
	transition: all .4s;
	letter-spacing: .1em;
	font-weight: 600;
}

project-card .projects-action:hover,
button:hover,
form-grid a:hover,
blog-card a:hover,
project-page .container a:hover,
missing-heading a:hover {
	background-color: var(--highlightOP);
	color: black;
}

p a:hover,
p+a:hover {
	background-color: var(--highlight);
	transition: all .4s;
	color: white;
}

big-heading,
landing-heading,
missing-heading {

	margin-top: var(--simple-big-space);
	margin-bottom: var(--simple-big-space);
}


big-heading,
missing-heading {
	animation: upFadeIn .5s forwards;
	opacity: 0;
	animation-delay: .3s;
}