
html {
	box-sizing: border-box;
	scroll-behavior: smooth;

	--simple-small-space:  5px;
	--simple-space:  20px;
	--simple-big-space:  40px;

	--general-space:  5vh;
	--tight-space:  3vh;

	--thin:  3px;
	--thick:  5px;
	--Xthick: 9px;

	background-color: rgb(255,255,255);
/*
	zoom: .9;*/
}

html {

	--gray: rgb(196 193 190);
	--darkgray: #474747;
	--white: #fff;
	--black: #000;


	--highlight:rgb(67, 111, 156);
	--highlightOP:  rgb(82 122 163 /.3);
	--darkhighlight: #2e4359;

	--accentone: #e37842;
	--accenttwo: rgb(234 197 177) ;
	
	--ink:  rgb(10 5 5);
	--page:  #f4f4f4;
	--pageCompliment: #E3EBF8;
	--menu-bar:  #5a7aad;

	--landing-text:#f4f4f4;


	--cube-color: rgb(66 147 227 /.5);;
	--cube-line: rgb(194 209 232/.5);

}

@media( min-width:  1500px){

	html{
		--general-space:   3vh;
		--tight-space:  1.7vh;
	}
}

@media(prefers-color-scheme:  dark){
	html{

		--gray:  #474747;
		--darkgray: rgb(196 193 190) ;
		--landing-text: rgb(10 5 5) ;
		--page:  #135b80;
		--ink: #f4f4f4 ;
		--highlight:  #e37842;
		--highlightOP:rgb(232 207 194);

		--accentone:  #E3EBF8;

		--pageCompliment: rgb(234 197 177) ;
		--menu-bar: #9c693e;

		--cube-color: rgb(227 120 66 /.7);
		--cube-line: rgb(232 207 194 /.7);
	}

}


@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}

@keyframes rotate{
	0%{
		transform:  rotate3d(0, 0, 0, 0);
	}
	100%{
		transform: rotate3d(, 1, 0, 360deg);
	}
}


@keyframes spin {
	0% {
		transform: rotateY(0deg) rotateX(0deg);
		
	}

	100% {
		transform: rotateY(360deg) rotateX(360deg);
	}

} 

