@import 'reset.css';
@import 'setup.css';
@import 'typography.css';
@import 'modules.css';
@import 'variables.css';


.site-menu-helper {

    content: '';
    width: clamp(2.5rem, 5vw, 2.6rem);
    position: fixed;
    height: 100%;
    bottom: 0;
    left: 0;
    display: none;
    background-color: var(--highlight);
    z-index: -10;
}

main.page-content {
    padding-bottom: 10vh;
}

.button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}