@import 'reset.css';
@import 'setup.css';
@import 'typography.css';
@import 'modules.css';
@import 'variables.css';


.site-menu-helper {
    content: '';
    width: clamp(2.5rem, 5vw, 2.6rem);
    position: fixed;
    height: 100%;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba(0 139 139 /0.8);
    z-index: -1;
}

main.page-content {
    padding-bottom: 10vh;
}