.site-header {
    inner-column {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 5px;

        a {
            padding: .7em .5em;
        }
    }
}