
inner-column{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

inner-column section {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-self: center;
}

form,
article{
    padding: 2.5vh 1rem;
}

button,
input,
label{

    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    display: block;
}

/* Section ONe */

label{
    margin: 2vh auto;
}


button {
    margin-top: 10vh;
    padding: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    
}

h2{
    font-weight: 600;
    font-size: 1.8rem;
    padding: 2rem 0;
    text-align: center;
    box-shadow:0px 2px 0 0 rgb(224, 175, 84);
}

@media (min-width: 800px){
    .field{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .field div{
        width: 43%;
    }
}


