
html {
	--black: #070707;
	--white: #f7f7f7;

	--neutral-stuffs: rgba(113, 109, 109, 0.802);

	--color: #FF746E;
	--highlight: #BFA6A2;

	--shadow: rgba(0,0,0,.8);

	--corners: 20px; /* or whatevers */

	--paper: var(--white);
	--ink: var(--black);

	--invert: invert(0%);
	--wide: 1400px;
	--standard: 1140px;
	--tight: 800px;
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: #070707;
		--ink: #fcfcf7;
		--invert: invert(100%);
	}


}
