project-card {
	display: block;
	width: 100%;
	padding: 3vh 0;
	position: relative;
	background-color: transparent;
	z-index: 10;
}


project-card span {
	font-size: 4rem;
	font-weight: 600;
	/*	transform: rotate(-90deg);*/

	position: absolute;
	width: fit-content;

	top: 40px;
	right: 0;
	color: var(--highlight);
	filter: opacity(30%) blur(.9px);
	z-index: -10;
}

.project-actions{
	padding: 15px 0;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 5px;
	text-align: center;
	justify-content: center;
	align-items: center;
	max-width: 400px;
	margin: 0 auto;
}

.project-actions a{
	grid-column: span 4;
	padding: 10px 5px;
	border: var(--thin) solid var(--accentone);
	background-color: var(--accenttwo);
}

.project-actions a:last-of-type{
	grid-column: 3 /span 4;
}


project-card a+ p{
	background-color:  var(--gray);
	border-top: 3px solid var(--darkgray);
	padding: 20px 10px;
	color: var(--ink);
}

/*@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	project-card span{
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba(255, 255, 255, 0.5);
	}
}*/

.skills{
	display: flex;
	text-transform: uppercase;
	gap: 5px;
	padding-bottom: 5vh;
	color: var(--gray);
	text-shadow: .5px 1px .1px var(--darkgray);
}

.skills p:after {
	content: ',';
}

.skills p:last-of-type:after{
	content: '';
}
