client-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.arrow {
    padding: 12.5px 18.5px;
    margin: 0 auto;
    display: none;
}


@media(min-width:800px) {
    .scroll-menu {
        display: grid;
        grid-template-columns: 10% 1fr 1fr 10%;
        column-gap: 42px;
        align-items: center;
        justify-content: center;

    }

    .arrow {
        display: block;
    }

    .template-two client-card {
        grid-column: span 2;
    }

}