@import 'reset.scss';
@import 'setup.scss';
@import 'variables.scss';
@import 'typography.scss';
@import 'components.scss';
@import 'modules.scss';

.pro {
	font-family: 'Abril Fatface', cursive;
}

.special-text {
	display: grid;
	grid-template-columns: 36% 20% 1fr;

	span:nth-of-type(1) {
		text-align: end;
		grid-column: 1/span 2;
	}

	span:nth-of-type(2) {
		grid-row: 2;
		grid-column: 2/-1;
	}

	span:nth-of-type(3) {
		grid-row: 3;
		grid-column: 2/-1;
	}
}


.uppercase {
	text-transform: uppercase;
}

.gs_reveal {
	opacity: 0;
	visibility: hidden;
	will-change: transform, opacity;
}