@import 'reset.scss';
@import 'setup.scss';
@import 'variables.scss';
@import 'typography.scss';
@import 'components.scss';
@import 'modules.scss';

.pro {
	font-family: 'Abril Fatface', cursive;
}

.uppercase {
	text-transform: uppercase;
}

.gs_reveal {
	opacity: 0;
	visibility: hidden;
	will-change: transform, opacity;
}