project-card {
	display: block;
	width: 100%;
	padding-bottom: var(--big-general-space);
	background-color: transparent;
	z-index: 10;
}

project-card h3 {
	padding-bottom: 15px;
}

project-card text-content {
	position: relative;
	padding-bottom: var(--simple-small-space);
}


.project-detail {
	margin-top: var(--simple-space);
}

.project-thumbnail img {
	object-fit: cover;
	width: 100%;
	height: 100%;

}

.projects-action {
	padding: 15px var(--simple-space);
	border: var(--thick) solid var(--highlight);
	background-color: var(--highlight);
	margin-top: var(--simple-space);
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	max-width: 50%;
	margin-left: auto;
}

project-card .span-title {
	font-size: 3rem;
	font-weight: 600;
	align-self: flex-end;

	position: absolute;
	bottom: 0;
	right: 0;
	color: var(--cube-color);
	z-index: 1;
	filter: opacity(70%) blur(1px);
}

@media(min-width:600px) {

	project-card {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		column-gap: var(--simple-space);
		position: relative;
	}

	project-card text-content {
		grid-column: span 4;
	}

	project-card .projects-action {
		grid-column: span 1;
		max-width: none;
		align-self: flex-end;
		margin: 0;
	}

	project-card .project-thumbnail {
		aspect-ratio: 16/9;
		grid-column: span 3;

		filter: brightness(60%);
	}

	project-card .span-title {
		right: 25vw;
	}

	project-card .project-detail {
		color: var(--white);
		margin-top: var(--simple-space);
		grid-column: 3 / span 2;
		position: absolute;
		grid-row: 2;
		padding: 10px;
		text-shadow: 2px 2px 5px var(--darkgray);
		background-color: var(--fade);
	}


}

@media (min-width: 850px) {

	project-card {
		column-gap: var(--simple-big-space);
	}

	project-card .project-thumbnail {
		filter: brightness(100%);
	}

	project-card .project-detail {
		background-color: transparent;
		color: inherit;
	}

	project-card:first-of-type text-content {
		grid-column: 3 / span 2;
	}

	project-card:first-of-type .project-thumbnail {
		grid-column: 1/ span 2;
		grid-row: 1 / span 3;
	}

	project-card:first-of-type .span-title {
		right: 0;
		bottom: 0;
	}

	project-card:first-of-type .project-detail {
		margin-top: 0;
		grid-column: 3 / span 2;
		position: statice;
		grid-row: 2;
		padding: 0;
		text-shadow: none;
	}

	project-card:first-of-type .projects-action {
		grid-column: 4 /span 1;
		grid-row: 3;
		max-width: none;

	}

	project-card:not(:first-of-type) .span-title {
		right: 0;
	}

	project-card:not(:first-of-type) {
		grid-template-rows: auto 1fr 200px;
	}

	project-card:not(:first-of-type) .project-thumbnail {
		grid-column: span 4;
	}

	project-card:not(:first-of-type) text-content {
		grid-column: span 4;
	}

	project-card:not(:first-of-type) .project-detail {

		padding: 0;
		position: static;
		grid-row: 3;
		grid-column: span 3;
		text-shadow: none;
	}

	project-card:not(:first-of-type) .projects-action {
		grid-row: 3;
		grid-column: span 1;
		align-self: flex-start;
		margin-top: var(--simple-space);
	}

}