.tuesday div{
    position: relative;
    padding-top: 15px;
    padding-bottom: 30px;
}

.tuesday picture{
    max-width: 75px;
    padding-bottom: 5px;
}

.tuesday div:before{
    content: '';
    display: block;
    width: 60%;
    position: absolute;
    height: var(--thin);
    background-color: var(--accentColor);
    top: 0;
    left: 0;
}

.circle{
    fill:var(--circle);
    stroke:var(--ink);
    stroke-width:var(--xthick);
}

.square{
    fill:var(--square);
    stroke:var(--ink);
    stroke-width:var(--xthick);
}

@media(min-width:800px){
    .tuesday module{
        background-color: var(--color);
    }

    .tuesday .articles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px 0px;
        margin-bottom:40px;
        justify-content: space-between;
    }

    .tuesday li{
        max-width: 49%;
    }

    .tuesday module-header{
        max-width: 60%;
    }

    .tuesday li{
        padding: 30px;
        border: var(--thin) solid var(--ink);
    }

    .tuesday div:before{
        display: none;
    }

    .tuesday div{
    background-color: var(--square);
    max-width: 35%;
    padding: 20px;
    color: var(--color);
    }
}