RewriteEngine On
RewriteRule ^home/?$ index.php?page=home [L,QSA]
RewriteRule ^([^/]+)/?$ index.php?page=$1 [L,QSA]


# /projects/project-name  →                 ?page=projects&slug=project-slug
RewriteRule ^projects/([0-9a-zA-Z_-]+)$     ?page=project&slug=$1 [NC,L]

# /projects/project-name  →                 ?page=projects&slug=project-slug
RewriteRule ^form/([0-9a-zA-Z_-]+)$     ?page=form&slug=$1 [NC,L]