/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lusitana:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* https://www.paulirish.com/2012/box-sizing-border-box-ftw */
/* structure */
body {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--page);
  color: var(--ink);
}

main {
  flex-grow: 1;
}

inner-column {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--general-space) 1rem;
  max-width: 1200px;
}

article-grid,
landing-heading,
text-content,
label,
input,
field,
button {
  display: block;
  width: 100%;
}

/* display elements */
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

a p {
  display: inline;
}

p a {
  display: inline-block;
  text-decoration: underline;
  color: var(--highlight);
  font-weight: 500;
}

p {
  line-height: 1.3;
  max-width: 60ch;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* images */
picture {
  display: block;
}

picture img {
  display: block;
  height: auto;
  width: 100%;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* $accesibility */
.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --simple-small-space: 5px;
  --simple-space: 20px;
  --simple-big-space: 40px;
  --big-general-space: 12vh;
  --general-space: 5vh;
  --tight-space: 2.6vh;
  --thin: 3px;
  --thick: 5px;
  --Xthick: 9px;
  --gray: rgb(196 193 190);
  --darkgray: #474747;
  --white: #fff;
  --black: rgb(10 5 5);
  --fade: rgb(5 5 5 / .16);
}

html {
  --ink: #f4f4f4;
  --page: #135b80;
  --highlight: rgb(227 120 66);
  --highlightOP: #f0dfd5;
  --accent: rgb(232, 144, 100);
  --cube-color: rgb(227 120 66 / .6);
  --cube-line: rgb(211 182 165 / 70%);
  --landing-text: rgb(10 5 5);
  background-color: rgb(5, 5, 5);
}

@media (prefers-color-scheme: light) {
  html {
    --ink: rgb(10 5 5);
    --page: #f4f4f4;
    --highlight: rgb(19 92 128);
    --highlightOP: rgb(191 215 227);
    --accent: rgb(164, 192, 212);
    --landing-text: #f4f4f4;
    --cube-color: rgb(126 175 199 / 60%);
    --cube-line: rgb(191 215 227/.7);
    background-color: #f4f4f4;
  }
}
@media (min-width: 1700px) {
  html {
    --big-general-space: 7vh;
    --general-space: 3vh;
    --tight-space: 1.7vh;
  }
}
/* $animations*/
@-webkit-keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-in {
  from {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes drop-in {
  from {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slide-in {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotateAnimation {
  from {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  to {
    -webkit-transform: rotateY(225deg);
            transform: rotateY(225deg);
  }
}
@keyframes rotateAnimation {
  from {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  to {
    -webkit-transform: rotateY(225deg);
            transform: rotateY(225deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: rotate3d(1, 0, 360deg);
            transform: rotate3d(1, 0, 360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: rotate3d(1, 0, 360deg);
            transform: rotate3d(1, 0, 360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
            transform: rotateY(360deg) rotateX(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
            transform: rotateY(360deg) rotateX(360deg);
  }
}
@-webkit-keyframes circular {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes circular {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes alertIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes alertIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes upFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes upFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes rightFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes rightFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
.logo {
  font-family: "Manrope", sans-serif;
  padding: var(--simple-space) var(--simple-small-space);
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  line-height: 1;
  font-weight: 800;
  text-shadow: 0px 1px 1px var(--fade);
  z-index: 100;
  background-color: transparent;
}

.roar-voice {
  font-size: clamp(2.9rem, 10vw, 8rem);
  font-weight: 700;
  text-transform: uppercase;
  transition: font-size 0.2s;
}

.yell-voice {
  font-size: clamp(2.4rem, 7vw, 3.8rem);
  font-weight: 600;
  text-transform: uppercase;
}

.loud-voice {
  font-size: clamp(2.2rem, 7vw, 3.5rem);
}

.attention-voice {
  font-size: clamp(1.8rem, 7vw, 2.2rem);
  font-weight: 500;
}

.chant-voice {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.strict-voice {
  font-size: clamp(1.2rem, 3.5vw, 1.6rem);
}

.calm-voice, p, li, a {
  font-size: clamp(1rem, 2vw, 1.1rem);
  line-height: 1.4;
}

small,
.small-voice {
  font-size: clamp(0.9rem, 1.5vw, 1rem);
}

:is(.calm-voice, p, li) em {
  font-style: italic;
}

:is(.calm-voice, p, li) strong {
  font-weight: 700;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
code {
  font-family: monospace;
  font-size: 1.1em;
  color: green;
}

diptech {
  width: 100%;
  display: grid;
  gap: var(--simple-space);
}

diptech.flipped text-content {
  order: 2;
}

diptech picture {
  margin-bottom: var(--simple-space);
}

diptech h3 {
  padding-bottom: var(--simple-space);
}

goal-block {
  width: 100%;
  display: grid;
  gap: var(--simple-space);
}

goal-block ul {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  list-style: square;
}

double-image {
  display: grid;
  width: 100%;
  gap: var(--simple-space);
}

double-image picture {
  margin-bottom: var(--simple-space);
}

double-text {
  display: grid;
  width: 100%;
  gap: var(--simple-space);
}

.project-page > inner-column {
  padding: var(--general-space) 0;
  margin: 0;
  max-width: none;
}

diptech,
double-image,
double-text,
goal-block {
  min-height: 300px;
}

diptech picture,
double-image picture,
double-text picture,
goal-block picture {
  max-width: 500px;
  margin: 0 auto;
}

.links inner-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--simple-space);
}

.links inner-column a:first-of-type {
  display: none;
}

.links inner-column a {
  padding: var(--simple-space) var(--simple-big-space);
  border: var(--thin) solid var(--highlight);
  background-color: var(--highlight);
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}

.project-page section:nth-of-type(even) {
  background-color: var(--fade);
}

@media (min-width: 700px) {
  diptech,
double-image,
double-text,
goal-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--simple-big-space);
    align-items: center;
  }
  diptech text-content,
double-text p {
    margin-bottom: 0;
  }
  diptech picture,
double-image picture,
double-text picture,
goal-block picture {
    margin: 0;
    max-width: none;
  }
}
big-heading {
  display: block;
  width: 100%;
  text-align: center;
}

big-heading p {
  max-width: 450px;
  margin: 0 auto;
}

landing-heading {
  text-align: center;
  position: relative;
}

landing-heading h1 {
  text-shadow: 1px 1px 3px var(--fade);
  opacity: 0;
  -webkit-animation: upFadeIn 0.5s forwards ease-in-out;
          animation: upFadeIn 0.5s forwards ease-in-out;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

landing-heading .intro {
  opacity: 0;
  -webkit-animation: upFadeIn 0.5s forwards ease-in-out;
          animation: upFadeIn 0.5s forwards ease-in-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.landing-image {
  position: relative;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  -webkit-animation: upFadeIn 0.5s forwards ease-in-out;
          animation: upFadeIn 0.5s forwards ease-in-out;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.details {
  position: absolute;
  top: 30%;
  width: 100%;
  max-width: 450px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  color: var(--white);
  text-align: center;
  padding: 10px 10px;
  font-weight: 500;
  opacity: 0;
  -webkit-animation: upFadeIn 0.5s forwards ease-in-out;
          animation: upFadeIn 0.5s forwards ease-in-out;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.landing-image img {
  -webkit-filter: brightness(50%) grayscale(20%);
          filter: brightness(50%) grayscale(20%);
  z-index: 1;
}

@media (min-width: 650px) {
  landing-heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: var(--simple-space);
       -moz-column-gap: var(--simple-space);
            column-gap: var(--simple-space);
    position: relative;
  }
  landing-heading h1 {
    margin-bottom: var(--general-space);
  }
  landing-heading text-content {
    grid-column: 1/span 3;
    text-align: left;
    align-self: center;
    position: absolute;
    z-index: 1;
  }
  landing-heading text-content p.details {
    max-width: 65%;
  }
  .landing-image {
    grid-column: 3/5;
    justify-self: flex-end;
    margin: 0;
  }
  .landing-image img {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    z-index: 1;
  }
  .details {
    position: static;
    width: 100%;
    max-width: none;
    margin: 0;
    color: var(--ink);
    text-align: left;
    text-shadow: none;
    padding: 0;
  }
}
@media (prefers-color-scheme: dark) {
  .landing-image img {
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }
}
footer {
  background-color: #474747;
  margin-top: var(--tight-space);
}

.site-footer inner-column {
  padding: var(--simple-big-space) 1rem;
  max-width: 900px;
}

span strong {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

footer nav ul li {
  color: var(--white);
}

footer nav ul a {
  padding: var(--simple-small-space) var(--simple-space);
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  color: var(--white);
}

footer nav ul a:hover {
  background-color: var(--highlight);
}

footer nav ul:last-of-type {
  width: 100%;
  text-align: center;
}

footer .socials,
footer .page-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--simple-space);
  text-align: center;
}

footer .socials li:first-of-type,
footer .page-links li:first-of-type {
  grid-column: span 2;
  pointer-events: none;
  text-decoration: underline;
}

@media (min-width: 500px) {
  footer nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    align-items: flex-start;
  }
  footer nav ul {
    grid-column: span 2;
  }
  footer nav ul:last-of-type {
    grid-row: 2;
    grid-column: span 4;
  }
}
@media (min-width: 800px) {
  footer nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto auto;
    align-items: flex-start;
    gap: var(--tight-space);
  }
  footer nav ul {
    grid-column: span 4;
  }
  footer .socials,
footer .page-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
  }
  footer .socials li:first-of-type,
footer .page-links li:first-of-type {
    grid-column: span 5;
  }
  footer nav ul:last-of-type {
    grid-row: 3;
    grid-column: span 4;
  }
}
.site-header {
  background-color: var(--page);
  color: var(--ink);
  z-index: 100;
}

.site-header inner-column {
  padding: 0 1rem;
  display: flex;
  gap: var(--simple-small-space);
  justify-content: space-between;
}

.site-header inner-column ul {
  position: relative;
}

.site-header ul .svg-box {
  max-width: 50px;
  position: absolute;
  z-index: -10;
  margin-left: auto;
  margin-right: auto;
  top: 2px;
  left: 2px;
  bottom: 0;
  right: 0;
  background-color: transparent;
}

.site-header ul svg {
  -webkit-animation: rotateAnimation 3s linear infinite;
          animation: rotateAnimation 3s linear infinite;
}

g rect {
  fill: transparent;
}

g g {
  stroke-width: 10px;
  fill: var(--cube-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--cube-line);
}

.burger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--page);
}

.main-menu {
  display: none;
  margin-left: auto;
}

.main-menu ul {
  display: flex;
  flex-direction: row;
  gap: var(--simple-small-space);
  justify-content: flex-end;
}

.main-menu ul a {
  padding: var(--simple-space);
  position: relative;
}

.main-menu ul a:hover {
  background-color: var(--accent);
  text-shadow: 1px 1px 1px var(--page);
  color: var(--ink);
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

.main-menu ul a:hover::before {
  opacity: 1;
}

.active {
  background-color: var(--highlight);
  color: var(--white);
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

footer .active {
  background-color: transparent;
  border: 3px solid var(--highlight);
}

.main-menu .active:before {
  content: "";
  height: var(--thick);
  width: 100%;
  background-color: var(--cube-line);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 100;
}

/* menu */
.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu > a {
  margin: 0 1rem;
  overflow: hidden;
  align-items: center;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 25px var(--simple-space);
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--highlight);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: var(--page);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.menu-button-container {
  display: flex;
}

.menu {
  position: absolute;
  top: 0;
  margin-top: 70px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#menu-toggle ~ .menu a {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu a {
  border: 1px solid var(--highlight);
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu > a {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: var(--white);
  background-color: #222;
}

.menu > absolute:not(:last-child) {
  border-bottom: 1px solid #444;
}

.large-size {
  display: none;
}

.larger-size {
  display: none;
}

@media (min-width: 500px) {
  .main-menu {
    display: flex;
    justify-content: flex-end;
  }
  .menu {
    top: 15px;
    width: 40%;
    left: auto;
    right: 0;
    margin-top: 50px;
  }
  .menu .small-size {
    display: none;
  }
}
@media (min-width: 650px) {
  .main-menu .large-size {
    display: block;
  }
}
@media (min-width: 800px) {
  .main-menu .large-size {
    display: block;
  }
  .main-menu .larger-size {
    display: block;
  }
  .burger {
    display: none;
  }
}
about-card {
  width: 100%;
  display: block;
  color: var(--ink);
  padding-top: var(--general-space);
  padding-bottom: var(--general-space);
}

about-card p + a {
  text-decoration: underline;
  color: var(--highlight);
  font-weight: 500;
}

p.about-content {
  padding-bottom: var(--simple-space);
}

about-card .image-container {
  padding-top: var(--tight-space);
  position: relative;
  max-width: 350px;
  min-height: 400px;
  margin: 0 auto;
}

.image-container img {
  -webkit-animation: FadeInOut;
          animation: FadeInOut;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  position: absolute;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.image-container img:nth-of-type(1) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.image-container img:nth-of-type(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.image-container img:nth-of-type(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.image-container img:nth-of-type(4) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.home .about-card {
  background-color: var(--fade);
}

.about about-card {
  color: var(--ink);
}

.about-image {
  aspect-ratio: 5/6;
  max-width: 350px;
  margin: 0 auto;
}

.about-image img {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-blog {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

@media (min-width: 770px) {
  about-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: var(--simple-big-space);
       -moz-column-gap: var(--simple-big-space);
            column-gap: var(--simple-big-space);
  }
  about-card text-content {
    grid-column: 1/span 2;
  }
  about-card .image-container {
    grid-column: 3/span 2;
    align-self: center;
    min-width: 350px;
    padding-top: 0;
  }
}
project-card {
  display: block;
  width: 100%;
  padding-bottom: var(--big-general-space);
  background-color: transparent;
  z-index: 10;
}

project-card h3 {
  padding-bottom: 15px;
}

project-card text-content {
  position: relative;
  padding-bottom: var(--simple-small-space);
}

.project-detail {
  margin-top: var(--simple-space);
}

.project-thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.projects-action {
  padding: 15px var(--simple-space);
  border: var(--thick) solid var(--highlight);
  background-color: var(--highlight);
  margin-top: var(--simple-space);
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  max-width: 50%;
  margin-left: auto;
}

project-card .span-title {
  font-size: 3rem;
  font-weight: 600;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--cube-color);
  z-index: 1;
  -webkit-filter: opacity(70%) blur(1px);
          filter: opacity(70%) blur(1px);
}

@media (min-width: 600px) {
  project-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: var(--simple-space);
       -moz-column-gap: var(--simple-space);
            column-gap: var(--simple-space);
    position: relative;
  }
  project-card text-content {
    grid-column: span 4;
  }
  project-card .projects-action {
    grid-column: span 1;
    max-width: none;
    align-self: flex-end;
    margin: 0;
  }
  project-card .project-thumbnail {
    aspect-ratio: 16/9;
    grid-column: span 3;
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
  }
  project-card .span-title {
    right: 25vw;
  }
  project-card .project-detail {
    color: var(--white);
    margin-top: var(--simple-space);
    grid-column: 3/span 2;
    position: absolute;
    grid-row: 2;
    padding: 10px;
    text-shadow: 2px 2px 5px var(--darkgray);
    background-color: var(--fade);
  }
}
@media (min-width: 850px) {
  project-card {
    -webkit-column-gap: var(--simple-big-space);
       -moz-column-gap: var(--simple-big-space);
            column-gap: var(--simple-big-space);
  }
  project-card .project-thumbnail {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  project-card .project-detail {
    background-color: transparent;
    color: inherit;
  }
  project-card:first-of-type text-content {
    grid-column: 3/span 2;
  }
  project-card:first-of-type .project-thumbnail {
    grid-column: 1/span 2;
    grid-row: 1/span 3;
  }
  project-card:first-of-type .span-title {
    right: 0;
    bottom: 0;
  }
  project-card:first-of-type .project-detail {
    margin-top: 0;
    grid-column: 3/span 2;
    position: statice;
    grid-row: 2;
    padding: 0;
    text-shadow: none;
  }
  project-card:first-of-type .projects-action {
    grid-column: 4/span 1;
    grid-row: 3;
    max-width: none;
  }
  project-card:not(:first-of-type) .span-title {
    right: 0;
  }
  project-card:not(:first-of-type) {
    grid-template-rows: auto 1fr 200px;
  }
  project-card:not(:first-of-type) .project-thumbnail {
    grid-column: span 4;
  }
  project-card:not(:first-of-type) text-content {
    grid-column: span 4;
  }
  project-card:not(:first-of-type) .project-detail {
    padding: 0;
    position: static;
    grid-row: 3;
    grid-column: span 3;
    text-shadow: none;
  }
  project-card:not(:first-of-type) .projects-action {
    grid-row: 3;
    grid-column: span 1;
    align-self: flex-start;
    margin-top: var(--simple-space);
  }
}
project-section {
  width: 100%;
  display: block;
}

@media (min-width: 850px) {
  project-section,
small-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: var(--simple-big-space);
       -moz-column-gap: var(--simple-big-space);
            column-gap: var(--simple-big-space);
  }
  project-section text-content,
small-grid text-content {
    grid-column: span 4;
  }
  project-section project-card {
    grid-column: span 4;
  }
  project-section project-card:not(:first-of-type),
small-grid project-card {
    grid-column: span 2;
    padding-bottom: var(--tight-space);
  }
}
contact-form {
  display: block;
  width: 100%;
  padding-top: var(--general-space);
  padding-bottom: var(--general-space);
}

label,
input,
button,
select,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 2vw, 1.2rem);
  resize: none;
  width: 100%;
}

input,
textarea {
  padding: var(--simple-space) var(--simple-small-space);
  border-radius: 0;
  border: 0;
}

textarea {
  min-height: 150px;
}

label {
  margin-bottom: 5px;
}

input {
  height: 1.6rem;
  margin-bottom: 25px;
}

contact-form input,
contact-form textarea {
  margin-bottom: var(--simple-big-space);
  border: 3px solid transparent;
}

contact-form input::-webkit-input-placeholder, contact-form textarea::-webkit-input-placeholder {
  font-weight: 500;
}

contact-form input::-moz-placeholder, contact-form textarea::-moz-placeholder {
  font-weight: 500;
}

contact-form input::placeholder,
contact-form textarea::placeholder {
  font-weight: 500;
}

contact-form input:focus,
contact-form textarea:focus {
  background-color: var(--highlightOP);
  color: var(--black);
  border: 3px solid var(--cube-color);
  border-radius: none;
  outline: none;
  transition: background-color 600ms, border-color 400ms;
}

contact-form input:focus::-webkit-input-placeholder {
  color: var(--fade);
}

contact-form input:focus::-moz-placeholder {
  color: var(--fade);
}

contact-form input:focus::placeholder {
  color: var(--fade);
}

select {
  height: 1.6rem;
  text-align: center;
}

.message input {
  height: 10rem;
}

contact-form form {
  max-width: 450px;
  margin: 0 auto;
}

form button {
  margin-left: auto;
  margin-right: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

contact-form button {
  max-width: 50%;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
}

button {
  outline: none;
  padding: 15px var(--simple-space);
  border: var(--thick) solid var(--highlight);
  background-color: var(--highlight);
  margin-top: var(--simple-big-space);
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
}

.fade {
  display: none;
  grid-column: 3/span 2;
  scale: 0.9;
}

@media (min-width: 400px) {
  contact-form text-content {
    grid-column: 1/span 2;
    max-width: 80%;
  }
}
@media (min-width: 800px) {
  contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: var(--simple-space);
       -moz-column-gap: var(--simple-space);
            column-gap: var(--simple-space);
    position: relative;
  }
  contact-form text-content {
    grid-column: 1/span 4;
    max-width: 50ch;
  }
  contact-form form {
    grid-column: 1/span 2;
    max-width: none;
    margin: 0;
  }
  .fade {
    display: block;
    -webkit-animation: rightFadeIn 1.5s forwards;
            animation: rightFadeIn 1.5s forwards;
    position: absolute;
    top: 20px;
  }
  contact-form .cube-sphere {
    order: 3;
    display: block;
    z-index: 1;
    margin: 0;
    -webkit-animation: circular 10s infinite linear;
            animation: circular 10s infinite linear;
  }
}
resume-card,
resume-section {
  display: block;
  width: 100%;
}

resume-section h4 {
  margin-bottom: var(--simple-space);
}

resume-section h4:last-of-type {
  margin-bottom: var(--simple-space);
  padding-top: var(--simple-space);
  border-top: var(--thin) solid var(--cube-line);
}

@media (min-width: 800px) {
  resume-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: var(--simple-big-space);
       -moz-column-gap: var(--simple-big-space);
            column-gap: var(--simple-big-space);
  }
  resume-section > text-content {
    grid-column: span 2;
  }
  resume-section h4 {
    grid-column: 1/span 4;
  }
  resume-card:nth-of-type(odd) {
    grid-column: 1/span 2;
  }
  resume-card:nth-of-type(even) {
    grid-column: 3/span 2;
  }
}
resume-card .skills {
  padding: 0;
}

resume-card {
  margin: var(--tight-space) 0;
  padding-bottom: var(--simple-space);
}

resume-card text-content {
  color: var(--ink);
}

.date {
  margin-bottom: var(--tight-space);
  color: var(--ink);
}

.duties {
  padding-left: 1rem;
  padding-top: var(--simple-space);
  padding-bottom: var(--simple-space);
}

.duties li {
  list-style-type: square;
  max-width: 50ch;
  padding-top: var(--simple-small-space);
  padding-bottom: var(--simple-small-space);
}

@media (min-width: 800px) {
  resume-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr auto;
    -webkit-column-gap: var(--simple-big-space);
       -moz-column-gap: var(--simple-big-space);
            column-gap: var(--simple-big-space);
  }
  resume-card * {
    grid-column: 1/span 4;
  }
  .education + resume-card + resume-card {
    grid-row: 6;
  }
}
grid-blog {
  display: block;
  width: 100%;
}

grid-blog ul {
  margin-top: var(--tight-space);
  margin-bottom: var(--tight-space);
}

grid-blog li {
  margin-bottom: 80px;
}

iframe {
  width: 100%;
}

div.blog {
  margin: var(--general-space) auto;
}

blog-card {
  display: block;
  width: 100%;
}
blog-card picture {
  position: relative;
}
blog-card picture img {
  -webkit-filter: grayscale(90%) brightness(30%);
          filter: grayscale(90%) brightness(30%);
}
blog-card text-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  padding: var(--simple-space) 10px;
  background-color: transparent;
  color: var(--white);
}

.podcast {
  color: var(--highlightOP);
  letter-spacing: 0.1em;
}

.blockquote {
  padding: var(--simple-space);
  margin-top: var(--simple-space);
  margin-bottom: var(--simple-space);
  background-color: var(--fade);
  border-left: var(--thick) solid var(--cube-line);
}

.blockquote svg {
  max-width: 30px;
}

.quote {
  font-size: 1.4rem;
  max-width: 400px;
  line-height: 1.4;
  font-style: italic;
}

.author {
  float: right;
  font-size: 1.1rem;
  font-weight: bold;
}

.quote-icon {
  margin-bottom: 10px;
}

.blockquote hr {
  margin-top: 50px;
}

.blog-thumbnail {
  aspect-ratio: 4/3;
}

.blog-thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.blog-action {
  padding: 15px var(--simple-space);
  border: var(--thick) solid var(--highlight);
  background-color: var(--highlight);
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

@media (min-width: 400px) {
  .blog-thumbnail {
    aspect-ratio: 16/8;
  }
  blog-card text-content {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  blockquote svg {
    height: auto;
  }
  .blog-action {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: auto;
  }
}
@media (min-width: 650px) {
  blog-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: var(--simple-space);
       -moz-column-gap: var(--simple-space);
            column-gap: var(--simple-space);
    row-gap: var(--simple-space);
    /*    grid-template-rows: auto auto 1fr auto;*/
  }
  blog-card text-content {
    left: 2%;
    max-width: 400px;
  }
  blog-card picture {
    grid-column: 1/4;
  }
  .blockquote {
    grid-column: 1/4;
    margin: 0;
  }
  .blog-action {
    max-width: none;
    grid-column: 4;
    margin-top: 0;
    align-self: flex-end;
  }
}
@media (min-width: 800px) {
  blog-card picture {
    grid-column: 1/3;
  }
  .blockquote {
    grid-column: 3/5;
  }
}
missing-heading {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  min-height: 600px;
}

missing-heading p {
  max-width: 400px;
  margin: 0 auto;
}

missing-heading ul a {
  padding: 15px var(--simple-space);
  border: var(--thick) solid var(--highlight);
  background-color: var(--highlight);
  text-align: center;
  margin-top: var(--simple-space);
  color: var(--white);
  text-transform: uppercase;
}

.cube-sphere {
  margin-top: var(--general-space);
  position: relative;
  height: 500px;
  padding: 0;
  border-radius: 50%;
  /*	animation: circular 10s infinite linear; */
}

.cube-sphere g g {
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

missing-heading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: var(--simple-space);
     -moz-column-gap: var(--simple-space);
          column-gap: var(--simple-space);
}

missing-heading nav {
  grid-column: span 4;
}

missing-heading text-content {
  grid-column: span 4;
}

missing-heading .cube-sphere {
  grid-column: span 4;
}

@media (min-width: 500px) {
  missing-heading nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: var(--simple-space);
       -moz-column-gap: var(--simple-space);
            column-gap: var(--simple-space);
  }
  missing-heading ul li:nth-child(odd) {
    grid-column: 1/span 2;
  }
  missing-heading ul li:nth-child(even) {
    grid-column: 3/span 2;
  }
}
@media (min-width: 800px) {
  missing-heading text-content {
    -webkit-animation: rightFadeIn 2s;
            animation: rightFadeIn 2s;
  }
  missing-heading nav {
    grid-column: 3/span 2;
    order: 2;
    z-index: 2;
  }
  missing-heading text-content {
    grid-column: 3/span 2;
    order: 1;
    z-index: 2;
  }
  missing-heading .cube-sphere {
    order: 3;
    grid-column: 1/span 2;
    position: absolute;
    top: 0;
    left: 5%;
    margin: 0;
    scale: 1.2;
    z-index: 1;
    -webkit-animation: circular 10s infinite linear;
            animation: circular 10s infinite linear;
  }
}
goals-section {
  width: 100%;
  display: block;
  display: block;
}

goals-section h4 {
  margin-bottom: var(--tight-space);
}

.about section:nth-of-type(3) {
  background-color: var(--fade);
}

@media (min-width: 800px) {
  goals-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: var(--simple-big-space);
       -moz-column-gap: var(--simple-big-space);
            column-gap: var(--simple-big-space);
  }
  goals-section > text-content {
    grid-column: span 2;
  }
  goal-card {
    grid-column: 1/span 2;
  }
  goal-card:nth-of-type(even) {
    grid-column: 3/span 2;
  }
}
goal-card {
  width: 100%;
  display: block;
  margin-bottom: var(--general-space);
}

goal-card ul {
  padding-left: 1rem;
}

goal-card li {
  max-width: 60ch;
  list-style: square;
  padding-top: var(--simple-space);
}

goal-card span {
  font-size: 2rem;
  font-weight: 600;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  top: 0;
  right: 0;
  color: var(--highlight);
  -webkit-filter: opacity(50%) blur(0.5px);
          filter: opacity(50%) blur(0.5px);
  z-index: -10;
}

@media (min-width: 800px) {
  goal-card li {
    max-width: 40ch;
  }
}
form-grid {
  width: 100%;
  display: block;
}

.form form-grid {
  border-top: var(--thin) solid var(--cube-line);
}

form-box {
  width: 100%;
  display: block;
}

form-grid ul {
  display: grid;
  -webkit-column-gap: var(--simple-big-space);
     -moz-column-gap: var(--simple-big-space);
          column-gap: var(--simple-big-space);
  row-gap: var(--simple-space);
}

form-grid ul li {
  transition: all 1s;
}

form-grid a {
  padding: var(--simple-space);
  border: var(--thick) solid var(--highlight);
  background-color: var(--highlight);
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.js {
  display: none;
}

div.change-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 1rem;
  margin-bottom: 30px;
}

div.change-form input {
  margin: 0;
  max-width: 100px;
}

div.change-form span {
  font-weight: 500;
}

.form div.change-form {
  margin-top: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--highlight);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 500px) {
  form-grid ul {
    grid-template-columns: repeat(4, 1fr);
  }
  form-grid ul li:nth-of-type(even) {
    grid-column: 3/span 2;
  }
  form-grid ul li:nth-of-type(odd) {
    grid-column: 1/span 2;
  }
}
@media (min-width: 900px) {
  form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  form-grid nav {
    grid-column: span 4;
    order: 3;
  }
  form-grid text-content {
    order: 1;
    grid-column: span 3;
  }
  form-grid .change-form {
    grid-column: 4/span 1;
    margin: 0;
    order: 2;
    align-self: center;
  }
}
@media (min-width: 1050px) {
  form-grid ul {
    row-gap: 0;
  }
  form-grid ul li:nth-of-type(even) {
    grid-column: 3/span 1;
  }
  form-grid ul li:nth-of-type(odd) {
    grid-column: 1/span 1;
  }
  form-grid nav li:nth-of-type(3),
form-grid nav li:nth-of-type(7) {
    grid-column: 2;
  }
  form-grid nav li:nth-of-type(4) {
    grid-column: 4;
  }
  form-grid nav li:nth-of-type(8) {
    grid-row: 5;
  }
}
.feedback {
  margin-top: var(--tight-space);
}

results {
  display: block;
  width: 100%;
}

results .chant-voice {
  margin-bottom: var(--tight-space);
}

form-box {
  display: grid;
  -webkit-column-gap: var(--simple-big-space);
     -moz-column-gap: var(--simple-big-space);
          column-gap: var(--simple-big-space);
}

label {
  padding-bottom: 15px;
  font-size: clamp(1.1rem, 2vw, 1.3rem);
}

form-box field {
  margin-bottom: var(--general-space);
}

@media (min-width: 600px) {
  form-box {
    grid-template-columns: repeat(4, 1fr);
  }
  form-box text-content {
    grid-column: 1/span 2;
  }
  form-box form {
    grid-column: 1/span 2;
  }
  form-box .feedback {
    grid-column: 3/span 2;
    grid-row: 1;
    justify-self: center;
    margin: 0;
    text-align: center;
  }
}
project-page {
  width: 100%;
  display: block;
}

@-moz-document url-prefix() {
  .remove-me {
    border: 1px solid red;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.strong {
  font-weight: 800;
}

.intro {
  margin-bottom: var(--tight-space);
  color: var(--highlight);
  font-weight: 500;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.intro p {
  font-weight: 500;
}

.skills {
  display: flex;
  text-transform: uppercase;
  flex-wrap: wrap;
  gap: 5px;
  color: var(--highlight);
}

.skills p:after {
  content: ",";
}

.skills p:last-of-type:after {
  content: "";
}

.action-link {
  transition: all 0.4s;
  letter-spacing: 0.1em;
  font-weight: 600;
  background-color: transparent;
  border: 3px solid var(--highlight);
  color: var(--ink);
}

.action-link:hover {
  background-color: var(--highlight);
}

#menu-toggle:checked ~ .menu a:hover {
  background-color: var(--accent);
}

p a:hover,
p + a:hover {
  background-color: var(--highlight);
  transition: all 0.4s;
  color: white;
}

big-heading,
landing-heading,
missing-heading {
  margin-top: var(--simple-big-space);
  margin-bottom: var(--simple-big-space);
}

big-heading,
missing-heading {
  -webkit-animation: upFadeIn 0.5s forwards;
          animation: upFadeIn 0.5s forwards;
  opacity: 0;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
