.action-link {
    background-color: var(--color);
    border: none;
    border-radius: 12px;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1;
    padding: .7em .9em;
    text-align: center;
    text-decoration-thickness: auto;

    &:hover {
        transition: background-color, color .3s cubic-bezier(.4, 0, .2, 1);
        background-color: var(--off-color);
        color: var(--black);
    }
}