@import 'reset.scss';
@import 'setup.scss';
@import 'variables.scss';
@import 'typography.scss';
@import 'components.scss';
@import 'partials.scss';

main.home-page {

	section {
		height: 80%;

		inner-column {

			gap: 30px;
			min-height: 50vh;
		}
	}

	inner-column {
		display: flex;
		flex-direction: column;

	}

	output {
		display: grid;
		place-items: center;
		flex-grow: 1;
	}

	button {
		width: 60%;
		max-width: 175px;
		align-self: flex-end;
	}
}

div-support {
	width: 100%;
	display: block;
	height: 100%;
	pointer-events: none;

	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}