@import 'reset.css';
@import 'setup.css';

body {
    background-color: #f8f8ff;
}

section.projects{
    background-color:  rgba(105, 90, 205, 0.6);
}


inner-column{
    max-width: 950px;
    padding: 5vh 2vw;
}

.loud-voice{
    font-size: clamp(2rem, 4.1vh, 3rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.attention-voice{
    font-size: clamp(1.6rem, 3vh, 2.3rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2.attention-voice{
    padding: 4vh;
}

.calm-voice, 
p,
a{
    font-size: clamp(1rem, 2vh, 1.5rem);
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;

}

p+p{
    padding-top: 2vh;
}

.header-actions *,
.footer-actions *{
    transition: all 500ms;
}

.header-actions,
.footer-actions{
    padding: 2vh;
} 

/* $header */

.goals-page header inner-column h1,
.about-page header inner-column h1{
    padding: 2vh;

}

header{
    border-top: 10px solid rgba(105, 90, 205, 0.6);
    border-left: 10px solid rgba(105, 90, 205, 0.6);
    text-align: center;
}

header inner-column{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

header inner-column h1{
    padding-bottom: 1vh;
}

header inner-column p{
    font-style: italic;

    border-bottom:2px solid rgb(200, 200, 200);
    box-shadow: 0 9px 2px -10px rgb(200, 200, 200);
}

nav.header-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 3vh;
}

nav.header-actions a{
    padding-left: 1vw;
    padding-right: 1vw;
    border-right: 2px solid rgba(105, 90, 205, 0.6);
    border-bottom: 2px solid rgba(105, 90, 205, 0.6);
    text-transform: uppercase;
}

nav.header-actions a:hover{
    background-color: rgba(105, 90, 205);
    color:rgba(255, 255, 255, 0.9);
}

@media (min-width:800px){
    header inner-column{
        flex-direction: row;
        gap:30px;
    }

    header inner-column p{
        border: none;
        box-shadow: none;
    }
}

/* $projects */

.projects inner-column {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 0;
    padding-right: 0;
}

.projects ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:3vh;

    text-align: center;
    padding-top: 3vh;
}

.projects ul li {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    color:rgba(255, 255, 255, 0.8);
}

.projects ul li:hover {
    transform: scale(1.1);
}

.projects a{
    font-size: 1.5rem;
    padding:2vh;
    
}


@media (min-width:600px){
    .projects ul{
        flex-direction: row;
    }

    .projects ul li {
        width:45%;
    }
}

/* $blog */

.blog{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.blog h2{
    text-align: center;
}

.blog iframe{
    width: 100%;
    height: 35vh;
}

.blog{
    border-bottom: 10px solid rgba(105, 90, 205, 0.6);
    border-right: 10px solid rgba(105, 90, 205, 0.6);
}

/* $classmates */

.classmates{
    border-left: 10px solid rgba(105, 90, 205, 0.6);
}

.classmates h2{
    text-align: center;
}


a{
    font-size: clamp(1.2rem, 1.5vh, 1.5rem);
    padding: 1vh;
}

.classmates ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:3vh;

    text-align: center;
    padding-top: 3vh;
}

.classmates ul li {
    width: 35%;
    max-width: 250px;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    color:white;
}

.classmates ul li:hover {
    transform: scale(1.1);
    background-color: rgba(105, 90, 205, 0.7);
}


/* $footer */

footer{
    background-color: rgba(105, 90, 205,.6);
    color: #f8f8ff;
}

footer inner-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav.footer-actions{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;

    padding-bottom: 2vh;

}

nav.footer-actions a{
    padding-left: 1vw;
    padding-right: 1vw;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    font-family: 'Courier', Courier, monospace;
    text-transform: uppercase;
}

nav.footer-actions a:hover{
    background-color: rgba(105, 90, 205);
    color:rgba(255, 255, 255, 0.9);
}

@media (min-width:800px){
    footer inner-column{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap:30px;
    }
}


/* $Goals page */

/* goals header */

inner-column h1.goals-title{
    border-bottom:2px solid rgb(200, 200, 200);
    box-shadow: 0 9px 2px -10px rgb(200, 200, 200);
}

/* goals main section */

main.goals-content {
    border-right: 10px solid rgba(105, 90, 205, 0.6);

} 

.goals-page main inner-column{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.goals-wrapper {
    padding: 2vh 2vw;
    
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    background: linear-gradient(rgba(69,119,237),rgba(105, 90, 205, 0.7));
    color: white;
    
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.4);

}

.goals-wrapper p{
    line-height: 1.6;
}

@media (min-width:800px){

    .goals-page main inner-column{

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .goals-page header inner-column{
        gap: 60px;
    }

    .goals-wrapper{
        min-height: 150px;
        width: 45%;
    }
}

@media (min-width:1300px){
    .goals-page main inner-column{
        max-width: 1400px;
        flex-wrap: none;
        gap: none;
        justify-content: space-between;
        padding-left: 1vh;
        padding-right: 1vh;
    }

    .goals-wrapper{
        width: 23%;

    }
    
}

/* $About me */

.about-page .page-content{
    background-color: rgba(105, 90, 205, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-wrapper .about-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 2vh;
    gap:20px;

    height: 100%;

    transition: 1s;
    transition-delay: .2s;
}

.about-wrapper picture{
    border-radius: 50%;
    width: 300px;
    min-width: 300px;
    height: 300px;
    overflow: hidden;

    margin-bottom: 2vh;
    border: 10px solid rgba(105, 90, 205,.6);
}

.about-wrapper div.about-p{
    padding: 4vh;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    border: 10px solid rgba(105, 90, 205,.6);

    max-width: 70ch;

    background-color: rgba(255, 255, 255, 0.3);
}


@media (min-width:900px){

    .about-wrapper .about-info{
        flex-direction: row;

    }


    .about-info{
        padding: 0;
    }

    .about-info picture {
        border-radius: 10px;
        margin-bottom: 0;
    }

    .about-info p{
        
        text-align: start;
    }
   
}

.goals-page footer inner-column,
.about-page footer inner-column{
    justify-content: center;
}
