.thursday {
	details {
		list-style-type: none;
		cursor: pointer;
		position: relative;
	}

	details>summary {
		border-bottom: var(--thin) solid var(--ink);
		list-style-type: none;
		padding-bottom: 8px;
	}

	details>summary:after {
		content: "\FF0B";
		position: absolute;
		right: 0;
	}

	details[open]>summary::after {
		content: "\FF0D";
	}

	.teaser {
		padding-bottom: 5px;
	}

	ul+ul {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	li {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	@media(min-width: 550px) {
		module-header {
			max-width: 80%;
		}
	}

	@media(min-width: 950px) {
		module-header {
			max-width: none;
			flex-basis: 45%;
			padding: 0;
		}

		module {
			display: flex;
			flex-direction: row;
			gap: 25px;
		}
	}
}