
mast-head {
	display: block;
	display: flex;
	justify-content: space-between;
	/*border: 4px solid blue;*/
	padding: 0;
}

mast-head a{
	text-transform: uppercase;
	font-size: clamp(1rem, 1vw, 1.3rem);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	font-weight: 600;
	color: var(--white);

	height: 60px;
}

mast-head li:hover a{
	background-color: var(--neutral-stuffs);
}

mast-head a:not(.home){
	padding-top: 20px;
	padding-bottom: 20px;
}

mast-head li.link{
	display: none;
}

mast-head .logo {
	max-width: 30px;
	max-height: 30px;
}

mast-head nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-height: 50px;
}

@media(min-width:450px){

	mast-head {
		display: block;
		display: flex;
		justify-content: space-between;
		/*border: 4px solid blue;*/
		padding: 0 .5rem;
	}
	
	mast-head li.link{
		display: block;
	}


}
