output-block {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 10px;

    h3 {
        font-family: 'Lobster', serif;
        letter-spacing: 2px;
        max-width: fit-content;
        color: #e7e3b6;
        padding-bottom: 20px;
    }

    input[type="number"],
    label,
    span {
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        font-size: 22px;
    }

    label {
        color: #EBE9D9;
        line-height: 1.4;
    }

    input[type="number"]:focus {
        outline: 0;
    }

    input[type="number"] {
        font-size: 48px;
        color: var(--ink);
        font-weight: 300;
        border-radius: 2px;
        margin: 0;
        border: none;
        background: rgba(0, 0, 0, 0);
        transition: padding-top 0.2s ease, margin-top 0.2s ease;
        overflow-x: hidden;
        /* Hack to make "rows" attribute apply in Firefox. */
    }

    input[type="number"]+label {
        display: block;
        position: relative;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        width: 25%;
        border-bottom: 3px solid #DD9F54;
        transition: width 0.4s ease;
        height: 0px;
        z-index: -5;
    }

    input[type="number"]:focus+label {
        width: 80%;
        border-top: 3px solid #DD9F54;
    }

    input[type="number"]:focus,
    input[type="number"]:valid {
        margin-top: 35px;
    }

    input[type="number"]:focus+label>span,
    input[type="number"]:valid+label>span {
        top: -100px;
        font-size: 22px;
        color: #e7e3b6;
    }

    input[type="number"]:valid+label {
        border-color: #1e293b;
    }


    input[type="number"]+label>span {
        font-weight: 300;
        margin: 0;
        position: absolute;
        color: #EBE9D9;
        font-size: 40px;
        top: -55px;
        left: 0px;
        z-index: -1;
        transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    }

    .split-container {
        min-height: 105px;
    }

    .range-container {
        display: grid;
        grid-template-columns: 1fr 10%;
        gap: 20px;

        label {
            grid-column: span 2;

            span {
                padding: 0;
            }
        }
    }

    .percentage {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 80px;
            font-family: monospace;
        }

        p:after {
            content: '%';
        }
    }
}