header {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

header inner-column {
    max-width: 1300px;
    padding: 22px 1rem;
}

header .logo {
    width: 134px;
    height: 34px;

}

.site-header .actions a {
    font-size: clamp(0.9rem, 1.5vw, 14px);
}

.menu,
.menu ul,
.globe-icon {
    display: flex;
    align-items: center;
}

.globe-icon {
    gap: 7px;
    font-size: 16px;
}

.menu {
    justify-content: space-between;
}

.menu .actions {
    gap: 30px;
}

.menu .login {
    gap: 20px;
}

.site-header .actions,
.site-header .login {
    display: none;
}

.burger {
    display: none;
}

.burger a {
    padding: 15px 30px;
    width: 100%;
    text-align: center;
    color: var(--page);
    border-bottom: 1px solid var(--light);
}

.burger a:hover {
    background-color: var(--darkHighlight);
}

body.menu-open .burger {
    display: block;
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--highlight);
    color: var(--page);

    border: 0px;
    outline: 0px;

    z-index: 100;
}


.toggle-burger {
    position: relative;
    float: right;
    padding: 10px;
    background-color: transparent;
    border: 0;
    border-radius: 4px;

}

.toggle-burger .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    background-color: var(--highlight);
    border-radius: 1px;
    pointer-events: none;
    transition: all 500ms;
}

.toggle-burger .icon-bar+.icon-bar {
    margin-top: 4px;
}

.menu-open .toggle-burger span:nth-child(1) {
    rotate: -45deg;
    translate: 0 3px;
}

.menu-open .toggle-burger span:nth-child(2) {
    display: none;
}

.menu-open .toggle-burger span:nth-child(3) {
    rotate: 45deg;
    translate: 0 -3px;
}

@media(min-width: 600px) {

    .burger-container {
        display: none;
    }

    .site-header .actions,
    .site-header .login {
        display: flex;
    }
}

.template-two header {
    background-color: var(--highlight);
    color: var(--page);
}

.template-two .toggle-burger .icon-bar {
    background-color: var(--page);
}

.template-two .globe-icon path {
    stroke: var(--page);
}

.template-two .logo path {
    fill: var(--page);
}