general-diptech {

    display: flex;
    flex-direction: column;
    gap: 20px;


    text-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: relative;
        max-width: fit-content;

        p {
            max-width: 65ch;
            padding-left: 1rem;
            border-left: 3px solid var(--main-color);
        }

        p:last-of-type {
            padding-left: 0;
            border-left: 3px solid transparent;
            position: relative;
            padding: 5px;
        }

        p:last-of-type:before {
            content: '';
            height: 60px;
            width: 3px;
            background-color: var(--accent-color);
            position: absolute;
            top: -3px;
            left: -3px;
        }

        p:last-of-type:after {
            content: '';
            height: 3px;
            width: 60px;
            background-color: var(--accent-color);
            position: absolute;
            top: -3px;
            left: -3px;
        }

        p:first-of-type:before {
            content: '';
            height: 60px;
            width: 3px;
            background-color: var(--accent-color);
            position: absolute;
            bottom: -3px;
            right: -3px;
        }

        p:first-of-type:after {
            content: '';
            height: 3px;
            width: 60px;
            background-color: var(--accent-color);
            position: absolute;
            bottom: -3px;
            right: -3px;
        }
    }

    .portrait {
        box-shadow: 0 0 0 3px var(--main-color);
        max-width: 500px;
        background-color: rgba(255, 255, 255, 0.809);

        img {
            max-height: 500px;
        }
    }

    .audio-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media only screen and (min-width:500px) {
    audio {
        height: 50px;
        width: 280px;
        border-radius: 50px;
        border: 2px solid var(--main-color);
        font-family: arial;
        color: white;
        font-size: 0.75em;
        overflow: hidden;
    }

}