@import url(reset.css);
@import url(setup.css);

/* GENERAL STYLING */

body{
    background-color: darkorange;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;

    position:relative;
    min-height: 100vh;
  
}

header, main{
    background-color: rgba(255, 255, 255, 0.6);
}

section.landing{
    background-color: rgba(255, 255, 255, .2);
}

main, section.landing{
    flex-grow: 1;
}

footer{
    background-color: rgba(0, 0, 0, 0.3);
}

inner-column{
    padding: 8vh 1rem;
    max-width: 1200px;
}

inner-column.outer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap:20px
}

inner-column.tight{
    width: 100%;
    padding: 0;
}

inner-column.tight div{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.loud-voice{
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
}

.attention-voice{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
}

.calm-voice, p{
    max-width: 80vw;
    line-height: 1.6;
}

a {
    color: rgba(0, 0, 0, 0.666);
}

/* COG STYLING */

picture.cog,
picture.cloud{
    display: none;
}

section picture.cog {
    width: 350px;
    height: auto;

    position: absolute;
    bottom: -120px;
    left: -130px;

    opacity: .7;
}

section> picture.cloud {

    position: absolute;
    width: 400px;
    
    right: 150px;
    bottom: -150px;

    opacity: .9;

}

main picture.cog {

    width: 350px;
    height: auto;

    position: absolute;
    bottom: -120px;
    right: -130px;

    opacity: .7;
}

/* HEADER */

header inner-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:30px;

    padding-top: .5rem;
    padding-bottom: .5rem;
    
}

picture.logo{
    width: 50px;
    height: auto;

    border-radius: 50%;
    overflow: hidden;

}

/* WELCOME | LANDING */

section.landing inner-column{
    display: flex;
    flex-direction: column;
    gap:20px;

    
    min-height: 500px;

}

picture.landing-image{
    max-width: 500px;
    


}

/* CONTENT PAGE */


.content-image{
    overflow: hidden;
    border-radius: 50% 50% 50% 50% ;

    min-width: 150px;
    min-height: 150px;
}

div.one {
    background-image: url(../images/miles-morales.jpg);
    background-position: center;
    background-size: cover;

}

div.two {
    background-image: url(../images/peter-parker.jpg);
    background-position: center;
    background-size: cover;

}

div.three {
    background-image: url(../images/kingpin.jpg);
    background-position: center;
    background-size: cover;

}


inner-column.tight{
    display: flex;
    flex-direction: column;
    gap:12px;
    align-items: flex-start;

    padding-top: 2rem ;
    padding-bottom: 2rem;
}

/* FOOTER */

footer {
    
    position: absolute;
    bottom: -15vh;

    width: 100%;
}

footer inner-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:20px;

    padding-top: 1rem;
}

footer a {
    color: rgba(255, 255, 255, 0.666);
    padding: 5px 0;
}

@media (min-width: 600px){


    inner-column.tight{
        flex-direction: row;
    }


}

@media (min-width:850px){
    
    p{
        max-width: 50ch;
    }


    /*Landing */


    section.landing p {
        max-width: 50%;
    }


    section.landing inner-column{
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    /* Content */

    inner-column.tight{
        flex-direction: row;
        align-items: center;

    }


    /* footer */

    footer inner-column{
        flex-direction: row;

        /* width: 800px; */
        margin: 0 auto;
    }


    /* COG */

    main.cog-parent {
        position: relative;
        overflow: hidden;
        z-index: 0;
    }

    main picture.cog {
        display: block;
    }

}

@media (min-width: 1200px){

    /*landing */

    section.landing inner-column{
        align-items: flex-start;
    }

    /* content */

    inner-column.outer{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        min-height: 500px;
        margin-right: auto;
        margin-left: auto;

    }

    inner-column.tight{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;

    }

    inner-column.tight div{
        max-width:100%
    }

    /* absolute position items */

    section.landing {
        position: relative;
        overflow: hidden;

    }

    section picture.cog {
        display: block;

    }

    section> picture.cloud {
        display: block;

    }

}