diptech {
    width: 100%;
    display: grid;
    gap: var(--simple-space);

    picture {
        margin-bottom: var(--simple-space);
    }

    h3 {
        padding-bottom: var(--simple-space);
    
    }
    
}

diptech.flipped text-content {
    order: 2;
}
