
site-map {
	display: block;
	/*border: 4px solid green;*/

	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 20px; */

	padding: 4vh 0 10vh;
	text-align: center;
}

site-map a:hover{
	color: var(--color);
}

site-map nav a:not(.logo){
	padding: .5em 1em;
}

site-map .logo {

	max-width: 80px;
	max-height: 80px;
	
	margin-left: auto;
	margin-right: auto;
}

site-map h3{
	margin-top: 5%;
}

site-map .logo * {
	fill: var(--ink);
}

site-map .logo:hover * {
	fill: var(--color);
}

site-map h3 {
	margin-bottom: 20px;
}

site-map li a{
	padding-top: 5px;
	padding-bottom: 5px;
}

site-map input{
	width: 100%;
	height: 2rem;

	font-size: 1.5rem;
	background-color: transparent;
	border: none;
	padding-left: 10px;
	border-bottom: 2px solid var(--white);
	width: 40%;
	margin: 50px auto;
	color: var(--white);
}

site-map input:focus {
    outline: none !important;
  }

footer nav.site-menu ul{
		display: flex;
		margin: 0 auto;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
}

footer nav.site-menu ul li:first-of-type{
	margin-bottom: 20px;
}

nav.x-menu ul{
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

nav.x-menu ul li {
	max-width: fit-content;
}

nav.x-menu ul a{
	padding: 5px 12px;
	font-size: clamp(18px, 2vw, 24px);

}
