.form h1{
    text-align: center;
    padding: 4vh 1rem;
    background-color: var(--accent-color);
    color: var(--white);
}

.form inner-column{
    padding-top: 3vh;
}
/* 
div.required{
	display: flex;
	flex-direction: column;
} */

span a{
	display: inline;
	text-decoration: underline;
	padding-left: 2px;
	padding-right: 2px;
}

span a:hover{
	background-color: var(--hover);
	text-decoration: none;

}

.form-images,
.required{

		display: flex;
		flex-direction: column;
		justify-content: space-betwwen;
		align-items: stretch;
		gap: 10px;

		margin-bottom: 0;

		border: none;
}


form{
	max-width:900px;
	margin:3vh auto;
	background: var(--white);
	border-radius:2px;
	padding:20px;
	font-family: Work sans;
}

field{
	display: block;
	border:1px solid var(--shadow);
	margin-bottom: 30px;
	border-radius: 3px;
}

field h4{
	color: var(--main-color);
	background-color: var(--white);
	max-width: fit-content;
	font-weight: 700;
	letter-spacing: .05em;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2rem;
}

.specials field{
	max-width: 90%  !important;
	margin-left: auto;
	margin-right: auto;
}

form> field:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}

label{
	display: block;
	float: left;
	margin-top:-10px;
	margin-left: 10px;
	background: var(--white);
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: var(--main-color);
	font-size: 1rem;
    font-weight: 500;
    letter-spacing: .05em;
	font-family: 'Work sans', Helvetica, sans-serif;
}

 input[type="text"],
 input[type="date"],
 input[type="datetime"],
 input[type="file"],
 input[type="email"],
 input[type="number"],
 input[type="search"],
 input[type="time"],
 input[type="url"],
 input[type="password"],
 textarea,
 select 
{
	width: 95%;
	display: block;
	outline: none;
	margin: 15px auto;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding-left: 10px;
    color: var(--main-color);
	background: var(--white);
	font-family: 'Work sans', "Times New Roman", Times, serif;
}

 input[type="text"]:focus,
 input[type="date"]:focus,
 input[type="datetime"]:focus,
 input[type="file"]:focus,
 input[type="email"]:focus,
 input[type="number"]:focus,
 input[type="search"]:focus,
 input[type="time"]:focus,
 input[type="url"]:focus,
 input[type="password"]:focus,
 textarea:focus,
 select:focus 
{
    border:2px solid var(--hover);
    color: var(--black);
}

field > span{
	background: var(--black);
	display: block;
	padding: 5px;
	width: 100%;
	text-align: center;
	color: #C0C0C0;
	font-family: 'Work sans', Helvetica, sans-serif;
	font-size: 14px;
    line-height: 24px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

textarea{
	height:50px;
}

input[type="submit"]{
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #D2E2FF;
}

button [type="submit"]:hover{
	background: #6B9FFF;
	color:#fff;
}

@media(min-width:600px){
	.form-images,
	.required{
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	.form-images field,
	.required field{
		margin-bottom: 0;
		min-width: 48%;
		max-width: 50%
	}

/* 
	div.required{
		display: flex;
		flex-direction: row;
	}
 */

}
