form {
    display: grid;
    position: relative;
    gap: 20px;
    max-width: 450px;

    &:hover {
        input {
            background-color: var(--light-accent);
            transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        select {
            background-color: var(--light-accent);
            transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }

    input {
        font-size: clamp(19px, 3.5vw, 24px);
        padding: .5em 1em;
        outline: none;
        border: none;

        background-color: var(--page);
        border-left: 2px solid var(--black);
        border-bottom: 2px solid var(--black);
        border-bottom-left-radius: 5px;
        appearance: none;
    }

    input::placeholder {
        font-style: italic;
    }

    label {
        grid-column: span 2;
        font-size: clamp(22px, 7vw, 36px);
    }


    select {
        appearance: none;
        outline: none;
        box-shadow: none;

        color: rgb(129 129 129);
        border: none;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background-color: var(--page);
        flex: 1;
        padding: 0 1em;
        cursor: pointer;
    }

    /* Remove IE arrow */
    select::-ms-expand {
        display: none;
    }

    .select-container {
        position: relative;
        display: flex;
        height: 3em;
        overflow: hidden;

        border-left: 2px solid var(--black);
        border-right: 2px solid var(--black);

        border-bottom: 2px solid var(--black);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    /* Arrow */
    .select-container::after {
        content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 18L15.5 12L9.5 6' stroke='%23757575' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        color: #fff;
        position: absolute;
        padding-top: 3px;
        top: 0;
        right: 0;
        height: 100%;
        width: 18%;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--page);
        transition: .25s all ease;
        pointer-events: none;

        border-left: 2px solid var(--black);
    }

    /* Transition */
    .select-container:hover::after {
        background-color: var(--color);
    }
}

field {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 20px;
}