footer{
	background-color: #474747;
	margin-top:  var(--tight-space);
}

.site-footer inner-column{
	padding: var(--tight-space) 1rem;
}

footer nav{
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: var(--simple-big-space);
}


footer nav ul{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer nav ul li{
	color: var(--white);
	font-size: .9rem;
}

footer nav ul a{
	padding: var(--simple-small-space) var(--simple-space);
	
	color: var(--white);
}

footer nav ul a:hover{
	background-color: var(--highlight);
}

footer nav ul:last-of-type{
	width: 100%;
}

@media(min-width: 600px){

	footer nav ul{
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	footer nav{
		flex-direction: column;
	}

}
