footer {
	background-color: #474747;
	margin-top: var(--tight-space);
}


.site-footer inner-column {
	padding: var(--tight-space) 1rem;
}

span strong {
	text-transform: uppercase;
	letter-spacing: .1em;
}

footer nav {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	justify-content: center;

}

footer nav ul li {
	color: var(--white);
}

footer nav ul a {
	padding: var(--simple-small-space) var(--simple-space);
	font-size: clamp(1rem, 1.5vw, 1.1rem);

	color: var(--white);
}

footer nav ul a:hover {
	background-color: var(--highlight);
}

footer nav ul:last-of-type {
	width: 100%;
	text-align: center;
}

footer .socials,
footer .page-links {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--simple-small-space);
	text-align: center;
}

footer .socials li:first-of-type,
footer .page-links li:first-of-type {
	grid-column: span 2;
	pointer-events: none;
	text-decoration: underline;
}

@media(min-width:500px) {
	footer nav {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr auto;
		align-items: flex-start;
	}

	footer nav ul {
		grid-column: span 2;
	}

	footer nav ul:last-of-type {
		grid-row: 2;
		grid-column: span 4;

	}
}


@media(min-width:800px) {
	footer nav {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr auto auto;
		align-items: flex-start;
		gap: var(--simple-space);
	}

	footer nav ul {
		grid-column: span 4;
	}

	footer .socials,
	footer .page-links {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: var(--simple-small-space);
		text-align: center;
	}

	footer .socials li:first-of-type,
	footer .page-links li:first-of-type {
		grid-column: span 5;

	}


	footer nav ul:last-of-type {
		grid-row: 3;
		grid-column: span 4;
	}
}