header inner-column {
    padding-top: 1rem;
    padding-bottom: 5vh;
}

.logo {
    font-family: 'BioRhyme', serif;
    text-transform: uppercase;
    text-align: right;

}

nav.side-bar {
    display: none;
}

nav.side-bar ul {

    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 40px;
    top: 10vh;
    left: 10px;
    padding: 50px 0;

}

nav.side-bar li {
    display: block;
    width: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav.side-bar li a,
nav.side-bar li span {
    display: inline-block;
    vertical-align: top;
    transform: translate(0, 100%) rotate(-90deg);
    transform-origin: 0 0;
    white-space: nowrap;
    padding: 0 20px;
    font-size: clamp(.9rem, 2vw, 1rem);
    color: white;
    font-weight: 500;
}

nav.side-bar li a:after,
nav.side-bar li span:after {
    content: "";
    float: left;
    margin-top: 100%;
}

nav.main-menu button {
    cursor: pointer;
}

nav.main-menu ul {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.burger {
    display: none;
}

body.menu-open .burger {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fullHighlight);
}