app-header {
    width: 100%;
    display: block;

    padding: 15px 0 10px;

    background-color: var(--fade);
    border-bottom: 3px solid var(--fade);
}

app-header nav {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

app-header nav button {
    display: flex;
    justify-content: center;
}

app-header nav button:last-of-type {
    grid-column: 4;
}

app-header .logo {
    color: var(--white);
}

.circle {
    border-radius: 50%;
    background-color: #f4f4f4;
    padding: 5px;
}

@media (min-width: 500px) {
    app-header {
        border-left: 3px solid var(--fade);
        border-right: 3px solid var(--fade);
    }
}