about-card{
	width: 100%;
	display: block;
	color: var(--ink);
}


about-card .intro{
	margin-bottom: var(--tight-space);
	padding-bottom: 0;
}

about-card p{
	padding-bottom: 25px;
}

about-card p+ a{
	padding-bottom: 25px;
	text-decoration: underline;
	color: var(--highlight);
	font-weight: 500;
}

about-card .image-container{

	position: relative;
}

about-card .about-image:nth-of-type(2){
	position: absolute;
	right: 0;
	bottom: -20px;
}

.about>section+section inner-column{
	padding-top: var(--tight-space);

}

.home .about-card{
	background-color:var(--gray);
	
}

.about about-card{
	color: var(--ink);
}

.about-image{
	aspect-ratio: 5 /6;
	max-width: 350px;
}

.about-image img{
	filter: brightness(80%);
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.home about-card .about-image:first-of-type{
	display: none;
}

.home about-card .image-container{
	display: none;
}

@media(min-width: 650px){
	about-card .about-image:nth-of-type(2){

		right: 5%;
	}

}
@media(min-width: 750px){


	about-card{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: var(--simple-space);
	}

	about-card h2,
	about-card p{

		grid-column: 1 / span 3;
	}

	about-card text-content{
		grid-column: 1 / span 2;

	}

	about-card .image-container{
		grid-column: 3 /span 2;

	}

	about-card .about-image:first-of-type{
		position: absolute;
		top: -7%;
	}

	about-card .about-image:nth-of-type(2){
		right: 0;
		bottom: 0;
	}

	.home about-card .about-image:first-of-type{
		top: -123px;
	}

	.home about-card .image-container{
		display: block;
		justify-self: center;
	}

	.home about-card .about-image:nth-of-type(2){
		position: static;


	}
}

/*

@media(min-width: 1200px){
	about-card .about-image:nth-of-type(2){

		right: -50px;

	}
}
*/
