about-card{
	width: 100%;
	display: block;
	color: var(--ink);
}

about-card .intro{
	margin-bottom: 3vh;
	padding-bottom: 0;
}

about-card p{
	padding-bottom: 25px;
}

about-card p+ a{
	padding-bottom: 25px;
	text-decoration: underline;
	color: var(--highlight);
	font-weight: 500;
}

.about>section+section inner-column{
	padding-top: 3vh;

}

.home .about-card{
	background-color:var(--gray);
	
}

.about about-card{
	color: var(--ink);
}

@media(min-width: 900px){


	about-card{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 20px;
	}

	about-card h2,
	about-card p{

		grid-column: 1 / span 5;
	}

	about-card text-content{
		grid-column: 2 / 4;

	}


}
