item-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 2px solid var(--black);
    text-align: center;
    border-radius: 5px;

    h4 {
        font-weight: 400;
        text-transform: capitalize;
    }

    .remove-btn {
        padding: 0;
        margin-right: 45px;
        margin-left: auto;
    }

    .complete-btn {
        background-color: var(--white);
        border: 2px solid var(--black);
        border-radius: 50px;
        color: var(--white);
        cursor: pointer;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1;
        padding: .5rem .8rem;
        text-align: center;
        text-decoration-thickness: auto;
        background-color: var(--black);
        transition: all .4s cubic-bezier(.4, 0, .2, 1);

        &:hover {
            background-color: var(--white);
            color: var(--black)
        }
    }

}

item-card.chest {
    background-color: var(--pink-lavender);
}

item-card.back {
    background-color: var(--uranian-blue);

}

item-card.legs {
    background-color: var(--nadeshiko-pink);
}

item-card.shoulders {
    background-color: var(--baby-blue-eyes);
}

item-card.cardio {
    background-color: var(--orchid-pink);

}