label,
input,
input::placeholder,
button,
field {
    font-family: 'Inter', sans-serif;
    font-size: clamp(.9rem, 2vw, 1.1rem);
    resize: none;
    width: 100%;
    display: block;
    font-weight: 600;
}

field {
    margin-bottom: 30px;
}

label {
    margin-bottom: 50px;
}

input,
button {
    padding: 8px;
    border: none;
    border-radius: none;
    outline: none;

}

input::placeholder {
    font-weight: 500;
}

input:focus {
    background-color: black;
    color: white;
    border: none;
    border-radius: none;
    outline: none;
}