label,
input,
input::placeholder,
button,
field {
    font-family: 'Inter', sans-serif;
    font-size: clamp(.9rem, 2vw, 1.1rem);
    resize: none;
    width: 100%;
    display: block;

}

field {
    margin-bottom: 30px;
}

label {
    margin-bottom: 40px;
    font-weight: 600;
}

input {
    padding: 10px;
    border: none;
    border-radius: none;
    outline: none;
    border: 1px solid #18181a;


}

input::placeholder {
    font-weight: 500;
}

input:focus {
    background-color: black;
    color: white;
    border: none;
    border-radius: none;
    outline: none;
    transition: background-color 600ms;
}

input:focus::placeholder {
    color: rgba(255, 255, 255, 0.707);
}