.landing-block inner-column {
	max-width: 980px;
	padding: var(--landing-space) 1rem;
}

landing-block {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
}

landing-block .intro {
	color: var(--second-gray);
}

landing-block action-links {
	display: flex;
	justify-content: center;
	gap: var(--simple-gap)
}