diptech {
    width: 100%;
    display: grid;
    gap: var(--simple-space);
}

diptech.flipped text-content {
    order: 2;
}

diptech picture {
    margin-bottom: var(--simple-space);
}

diptech h3 {
    padding-bottom: var(--simple-space);

}