/* Should we pull in @fonts here? */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	font-size: 105.5%;
}

/* needs clamp for screen sizes :) */

.roar-voice{
	font-size: clamp(2.9rem, 11vw, 8rem);
	font-weight: 700;
	letter-spacing: .01em;

	text-transform: uppercase;
	transition: all .5s;
}

.yell-voice{
	font-size: clamp(2.5rem, 9vw, 4rem);
	font-weight: 600;
	letter-spacing: .01em;
	text-transform: uppercase;
}

.loud-voice	{
	font-size: clamp(2.2rem, 9vw, 3.5rem);
}

.attention-voice{
	font-size: clamp(1.8rem, 7vw, 2.2rem);
	font-weight: 500;
}

.chant-voice{
	font-size: clamp(1.5rem, 7vw, 2rem);
}

.stict-voice{
	font-size: clamp(1.25rem, 5vw, 1.6rem);
}

.calm-voice, p, li, a {
	
	font-size: clamp(1rem, 2vw, 1.2rem);
	line-height: 1.4;
}

small,
.small-voice{
	font-size: clamp(0.9rem, 1vw, 1rem);
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
