
html {
	box-sizing: border-box;
	scroll-behavior: smooth;

	--simple-space:  20px;
	--simple-big-space:  40px;

	--general-space:  5vh;
	--tight-space:  3vh;

	--thin:  3px;
	--thick:  5px;
	--Xthick: 9px;

	background-color: rgb(255,255,255);
}

html {

	--gray: #ebebeb;
	--darkgray: #474747;
	--white: #fff;
	--black: #000;


	--highlight:rgb(67, 111, 156);
	--highlightOP:  rgb(82 122 163 /.3);
	--darkhighlight: #2e4359;

	--accentone: #e37842;
	--accenttwo: rgb(232 207 194) ;
	
	--ink:  rgb(10 5 5);
	--page:  rgb(250, 249, 250);
	--pageCompliment: #E3EBF8;
}
