.detail-header {
    background-color: var(--accent-color);
    padding: 20px 1rem;
    text-align: center;
    color: var(--white);

    inner-column {
        padding: 0;
    }
}

.detail-page {
    position: relative;
    z-index: 0;

    inner-column {
        padding-top: 3vh;
    }
}

fighter-page {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 30px;

    em {
        display: block;

        text-align: center;
    }

    h2 {
        text-align: center;
    }
}


.data-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;

}

@media (min-width: 850px) {
    fighter-page {
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;

        .container {
            position: sticky;
            top: 20px;
        }

        .specials {
            gap: 35px;
            justify-content: center;
        }

    }

    .edit-page fighter-page {
        grid-template-columns: 1fr;
    }


    .edit-page inner-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        justify-content: center;
        align-items: baseline;
    }

    .data-buttons {
        grid-template-columns: 1fr;
    }
}