about-card {
	width: 100%;


	text-content {
		grid-column: 1/-1;
	}

	p.about-content {
		margin-bottom: 20px;
	}

	.about-image {
		aspect-ratio: 5 /6;
		max-width: 350px;
		margin: 0 auto;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

	}

	.small-image-support {
		display: none;
	}

	.image-container {
		position: relative;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		grid-column: 1/-1;

		@media(min-width:500px) {
			+.image-container {
				padding-left: 20px;

			}
		}

		img {
			animation: FadeInOut 8s ease-in-out infinite;
			position: absolute;
		}

		img:nth-of-type(1) {
			// 8s
			z-index: 10;
		}

		img:nth-of-type(2) {
			//10s
			animation-delay: 2s;
			z-index: 8;
		}

		img:nth-of-type(3) {
			//12s
			animation-delay: 4s;
			z-index: 6;
		}

		img:nth-of-type(4) {
			//14s
			animation-delay: 6s;
			z-index: 4;
		}
	}

	action-links {
		margin-bottom: var(--intro-space);
		grid-column: 2/-1;
	}

}

@media(min-width: 500px) {
	about-card .image-container {

		grid-column: 2/-1;
	}

	about-card .small-image-support {
		grid-column: 1;
		display: block;

		img {
			animation: FadeInOut 8s ease-in-out infinite;
			position: absolute;
		}

		img:nth-of-type(1) {
			// 8s
			animation-delay: 2s;
			z-index: 10;
		}

		img:nth-of-type(2) {
			//10s
			animation-delay: 4s;
			z-index: 8;
		}

		img:nth-of-type(3) {
			//12s
			animation-delay: 6s;
			z-index: 6;
		}

		img:nth-of-type(4) {
			//14s
			animation-delay: 8s;
			z-index: 4;
		}
	}
}

@media(min-width: 750px) {
	about-card {
		.small-image-support {
			display: none;
		}

		.about-image {
			margin: 0;
			max-width: initial;
			width: 100%;
			max-height: 300px;

			img {
				position: static;
				aspect-ratio: 5/25;
			}
		}

		.image-container {
			picture {
				display: flex;
				gap: 10px;
			}

			img {
				animation: initial;
			}

			+.image-container {
				padding-left: 0;
			}
		}
	}
}

@media (min-width: 1200px) {
	about-card .about-image {

		max-height: 360px;
	}
}