grid-blog li:nth-of-type(even) {
	support-bar {
		left: initial;
		right: 0;
	}

	blockquote svg {
		margin-left: auto;
		transform: scale(-1, 1);
	}
}

blog-card {
	display: block;
	width: 100%;

	picture {
		position: relative;
		background-color: var(--black-mute);
		overflow: hidden;
		box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.2);

		img {
			opacity: .25;
			transition: filter 1s;
		}
	}

	text-content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: white;
		padding: 15px;
		background-color: transparent;

		h4 {
			font-weight: 500;
			margin-bottom: 20px;
		}

	}

	support-bar {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: var(--thick);
		background-color: var(--color);
		transition: background-color .2s ease-in-out;
	}

	a:hover+support-bar {
		background-color: var(--color-dark);

	}

	@media(min-width:750px) {

		picture.blog-thumbnail {
			grid-column: 1/span 2;
			aspect-ratio: 4/3;
		}

		support-bar {
			bottom: 41.8px;
			top: initial;
			height: var(--thick);
			width: 100%;
		}
	}
}

@media(min-width:750px) {
	grid-blog li:nth-of-type(even) {
		blockquote {
			grid-column: 1/span 2;
			grid-row: 1;
		}

		picture.blog-thumbnail {
			grid-column: 3/span 1;
		}

		a.action-link {
			grid-column: 1/span 2;

		}
	}
}



.podcast {
	color: var(--grey);
	text-transform: uppercase;
	letter-spacing: .1em;
	padding-top: 40px;
}

.blockquote {
	padding: 15px;
}

.blockquote svg {
	max-width: 30px;

	* {
		fill: var(--color);
	}
}

.quote {
	font-size: 1.4rem;
	max-width: 400px;
	line-height: 1.4;
	font-style: italic;
}

.author {
	float: right;
	font-size: 1.1rem;
	font-weight: bold;
}

.quote-icon {
	margin-bottom: 10px;
}

.blockquote hr {
	margin-top: 50px;
}


.blog-thumbnail {
	aspect-ratio: 4/3;
}

.blog-thumbnail img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@media(min-width:400px) {


	.blog-thumbnail {
		aspect-ratio: 16/8;
	}

	blog-card text-content {
		transform: translateY(18%);
	}

	blockquote svg {
		height: auto;
	}

	.blockquote {
		padding-bottom: 25px;
	}
}