contact-form {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	max-width: 450px;
	position: relative;

	text-content {
		grid-column: 1/-1;
	}

	form {
		grid-column: 1/-1;
		display: grid;
		grid-template-columns: 1fr 2fr;
		row-gap: 20px;
	}

	button {
		grid-column: 2/-1;
		justify-self: flex-end;
		cursor: pointer;

	}
}