.has-contact-form {
	min-height: 80vh;
	overflow: hidden;
}

.cube-sphere-container {
	opacity: 0;
	position: absolute;
	pointer-events: none;

	* {
		pointer-events: none;
	}
}

p.contact-confirm {
	padding-top: 30px;
	grid-column: 1/-1;
	grid-row: 4;
	max-width: 60ch;
}

contact-form {
	width: 100%;
	position: relative;
	scroll-margin-top: 100px;

	form {
		row-gap: 20px;

		big-field {
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			width: 100%;
			grid-column: 1/-1;
		}

		textarea {
			height: 125px;
		}
	}


	button {
		grid-column: 2/-1;
		justify-self: flex-end;
		cursor: pointer;
	}
}

@media(min-width:750px) {
	contact-form {
		form {

			row-gap: 20px;


			big-field {
				flex-direction: row;

				column-gap: 15px;
			}
		}

		button {
			grid-column: 2/-1;
			justify-self: flex-end;
			cursor: pointer;

		}

		p.contact-confirm {

			grid-column: 2/span 2;
		}

	}


	.cube-sphere-container {
		opacity: 1;

		top: 40px;
		right: 40%;
		z-index: -10;
		opacity: .5;
	}
}

@media(min-width:900px) {
	contact-form {
		form {

			row-gap: 20px;
			grid-column: 2/span 2 !important;
		}
	}
}

@media(min-width:1200px) {
	contact-form {
		button {
			grid-column: 3/-1;
		}


	}

	.cube-sphere-container {
		zoom: 1.1;
	}
}