.has-contact-form {
	min-height: 70vh;
}

contact-form {
	width: 100%;
	position: relative;

	form {
		row-gap: 20px;

		big-field {
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			width: 100%;
			grid-column: 1/-1;
		}

		textarea {
			height: 125px;
		}
	}


	button {
		grid-column: 2/-1;
		justify-self: flex-end;
		cursor: pointer;
	}

	.cube-sphere-container {
		opacity: 0;
		position: absolute;
	}
}

@media(min-width:750px) {
	contact-form {
		form {

			row-gap: 20px;

			big-field {
				flex-direction: row;

				column-gap: 15px;
			}
		}

		button {
			grid-column: 2/-1;
			justify-self: flex-end;
			cursor: pointer;

		}

		.cube-sphere-container {
			opacity: 1;

			top: 0;
			right: 40%;
			z-index: -10;
			opacity: .5;
		}
	}
}

@media(min-width:1200px) {
	contact-form {
		button {
			grid-column: 3/-1;
		}
	}
}