form-grid {
	width: 100%;

	text-content {
		grid-column: 1/-1;
	}

	form {
		row-gap: 20px;

		button {
			grid-column: 2/-1;
		}
	}

	form-field {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	ul {
		display: flex;
		flex-direction: column;
		row-gap: 200px;
		margin-top: 50px;
		grid-column: 1/-1;
	}

	.action-link {
		max-width: 100%;
	}

	.form-select {
		position: relative;
		grid-column: 2/-1;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
	}

	text-content+label {
		grid-column: 2/-1;
		padding-bottom: 10px;
	}

	@media(min-width:750px) {

		.form-select,
		text-content+label {
			grid-column: 4/-1;
		}

		ul {
			grid-column: 2/-1;
		}
	}

}

div.codepen-container {
	grid-column: 1/-1;
	padding: 200px 0 60px;

	scroll-margin: -160px;

	body {
		border: none;
	}

	text-content {
		display: flex;
		flex-direction: column;
		row-gap: 25px;
		margin-bottom: 25px;
	}
}

form-box {
	width: 100%;
	display: block;
	border-radius: 5px;
	padding: 20px 15px;
	scroll-margin-top: 100px;
	padding-bottom: 40px;
	border: var(--thin) solid var(--color-mute);
	box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);


	sub-heading {
		display: block;
		width: 100%;
		grid-column: 1/-1;
	}

	h3 {
		font-weight: 500;
		text-transform: uppercase;
	}

	form {
		scroll-margin-top: 80px;
	}

}

@media(min-width:750px) {
	div.codepen-container {
		grid-column: 2/-1;
	}
}

@media(min-width:1200px) {
	form-grid form {
		button {
			grid-column: 3/-1;
		}
	}
}