.feedback {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	background-color: var(--color-mute);

	position: absolute;
	top: 100%;
	z-index: 200;
	width: calc(100% + 6px);
	left: -3px;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: none;
	opacity: 0;
	transition: opacity .3s ease-out;


	p {
		max-width: none;
		text-align: center;
	}
}

div.confirmation.feedback {
	display: flex;
	opacity: 1;
}

form.none button {
	opacity: .1;
	pointer-events: none;
}


div.change-form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 1rem;
	margin-bottom: var(--simple-big-space);

	input {
		margin: 0;
		max-width: 100px;
	}

	span {
		font-weight: 500;
	}
}

@media(min-width:1200px) {
	form-box {
		display: grid;
		grid-template-columns: 1fr 1fr 2fr;

		form.support-grid {
			grid-column: 1/span 2;
		}

		div.feedback {
			top: initial;
			right: 0;
			height: 100%;
			left: initial;
			width: 40%;
			border-radius: 0;
			place-content: center;
		}
	}
}