form-grid {
	width: 100%;
	display: grid;

	grid-template-columns: 1fr 2fr;

	text-content {
		grid-column: 1/-1;
	}

	form {
		display: grid;
		grid-template-columns: 1fr 2fr;
		row-gap: 20px;

		button {
			grid-column: 2/-1;
		}
	}

	form-field {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 13vh;
		margin-top: 10vh;
		grid-column: 1/-1;
	}

	.action-link {
		max-width: 100%;
	}

	.custom-select {
		position: relative;
		grid-column: 2/-1;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
	}

	.custom-select select {
		display: none;
	}

	.select-selected {
		background-color: var(--color-soft);
	}

	.select-selected:after {
		position: absolute;
		content: "";
		top: 14px;
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: var(--color-dark) transparent transparent transparent;
		transition: all .4s ease-in-out;
	}

	/* Point the arrow upwards when the select box is open (active): */
	.select-selected.select-arrow-active:after {
		border-color: transparent transparent #fff transparent;
		top: 7px;
	}

	/* style the items (options), including the selected item: */
	.select-items div,
	.select-selected {
		color: var(--black);
		padding: 10px 15px;
		border: 1px solid transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		cursor: pointer;
	}

	/* Style items (options): */
	.select-items {
		position: absolute;
		background-color: var(--color-soft);
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
	}

	/* Hide the items when the select box is closed: */
	.select-hide {
		display: none;
	}

	.select-items div:hover,
	.same-as-selected {
		background-color: rgba(0, 0, 0, 0.1);
	}

}

form-box {
	width: 100%;
	display: block;
	border-radius: 5px;
	padding: 20px 15px;
	border: var(--thin) solid var(--color-mute);
	box-shadow: 0px 69px 100px -120px var(--color-soft);

	sub-heading {
		display: block;
		width: 100%;
		grid-column: 1/-1;
	}

	h3 {
		font-weight: 500;
		text-transform: uppercase;
	}

	div.feedback {
		position: absolute;
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: var(--color);
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

@media(min-width: 500px) {
	form-grid ul {

		grid-template-columns: repeat(4, 1fr);

		li:nth-of-type(even) {
			grid-column: 3 /span 2;
		}

		li:nth-of-type(odd) {
			grid-column: 1 /span 2;
		}
	}
}

@media(min-width:900px) {
	form-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding-top: var(--tight-space);


		nav {
			grid-column: span 4;
			order: 3;
		}

		text-content {
			order: 1;
			grid-column: span 3;
		}
	}

}