.has-landing-heading {
	min-height: 100vh;
}

landing-heading {
	position: relative;
	margin-top: 90px;

	place-items: center;

	.roar-voice {
		font-size: var(--step-5);
	}


	text-content {
		grid-row: 1;
		width: 100%;
		z-index: 2;
		padding-bottom: 200px;
		animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) .8s backwards;
	}

	p.details {
		font-weight: 500;
		max-width: 90%;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	}


	picture {
		margin-top: 100px;
		grid-row: 1;
		grid-column: 2;
		align-self: flex-end;
		justify-self: flex-end;
		animation: image-in .5s cubic-bezier(0.5, 0, 0.1, 1) 1s backwards;
		box-shadow: 10px 30px 40px rgba(0, 0, 0, 0.08);
		transition: margin .5s ease-in-out;
		max-width: 840px;
		background-color: var(--page);


		@media (prefers-color-scheme: dark) {
			.overlay {
				display: none;
			}
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			opacity: .5;
		}

	}

	a {
		margin-top: 20px;
		grid-column: 2/-1;
		animation: image-in .6s cubic-bezier(0.5, 0, 0.1, 1) 1.2s both;
	}
}

@media(min-width:500px) {
	landing-heading {
		.roar-voice {
			font-size: var(--step-6);
		}

		picture {
			margin-top: 0;
		}

		p.details {

			max-width: 70%;
		}
	}
}

@media(min-width:750px) {


	landing-heading {
		text-content {
			padding-bottom: 0;
		}

		picture {
			grid-column: 3/-1;
		}

		p.details {
			max-width: 40%;
		}

		a.action-link {
			grid-column: 4/-1 !important;
		}
	}
}

@media(prefers-color-scheme: dark) {

	.landing-image img {
		filter: brightness(60%);

		@media(min-width:750px) {
			filter: brightness(65%);
		}

	}
}