.has-landing-heading {
	min-height: 100vh;
}

landing-heading {
	position: relative;
	margin-top: 90px;

	place-items: center;

	.roar-voice {
		font-size: var(--step-5);
	}


	text-content {
		grid-row: 1;
		width: 100%;
		z-index: 2;
		padding-bottom: 200px;
		animation: outer-left 1.6s cubic-bezier(0.5, 0, 0.1, 1) both;
		mix-blend-mode: color-burn;

		div {
			mix-blend-mode: normal;
			display: flex;
			flex-direction: column;
		}
	}

	p.details {
		font-weight: 500;
		max-width: 90%;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	}

	h1,
	p.intro {
		display: inline-block;
	}

	picture {
		margin-top: 100px;
		grid-row: 1;
		grid-column: 2;
		align-self: flex-end;
		justify-self: flex-end;
		animation: image-in .5s cubic-bezier(0.5, 0, 0.1, 1) 1s backwards;
		box-shadow: 10px 30px 40px rgba(0, 0, 0, 0.08);
		transition: margin .5s ease-in-out;
		max-width: 840px;



		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--overlay);
			z-index: 1;
		}

		@media (prefers-color-scheme: dark) {
			.overlay {
				display: none;
			}
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}

	}

	a {
		margin-top: 20px;
		grid-column: 2/-1;
		animation: image-in .8s cubic-bezier(0.5, 0, 0.1, 1) 1.25s both;
	}
}

@media(min-width:500px) {
	landing-heading {
		.roar-voice {
			font-size: var(--step-6);
		}

		text-content {
			mix-blend-mode: normal;
		}

		picture {
			margin-top: 0;
		}

		p.details {

			max-width: 60%;
		}
	}
}

@media(min-width:750px) {


	landing-heading {
		text-content {
			padding-bottom: 0;
		}

		picture,
		a {
			grid-column: 3/-1;
		}

		p.details {
			max-width: 38%;
		}
	}
}

@media(min-width:1200px) {
	landing-heading.grid-template {
		a.action-link {
			grid-column: 4/-1;
		}
	}
}

@media(prefers-color-scheme: dark) {

	landing-heading {
		text-content {
			mix-blend-mode: normal;
		}
	}

	.landing-image img {
		filter: brightness(50%);

		@media(min-width:750px) {
			filter: brightness(50%);
		}

	}
}