.has-landing-heading {
	min-height: 100vh;
}

landing-heading {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 90px;

	.roar-voice {
		font-size: var(--step-5);
	}

	@media(min-width:650px) {

		.roar-voice {
			font-size: var(--step-6);
		}
	}

	text-content {
		grid-column: 1 / -1;
		grid-row: 1;
		width: 100%;
		z-index: 2;
		padding-bottom: 200px;
		animation: outer-left 1.6s cubic-bezier(0.5, 0, 0.1, 1) both;
		mix-blend-mode: color-burn;

		div {
			mix-blend-mode: normal;
		}
	}

	p.details {
		font-weight: 500;
		max-width: 90%;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	}

	h1,
	p.intro {
		display: inline-block;
	}

	picture {
		margin-top: 100px;
		grid-row: 1;
		grid-column: 2;
		margin-left: -2rem;
		align-self: flex-end;
		animation: image-in .5s cubic-bezier(0.5, 0, 0.1, 1) 1s backwards;
		box-shadow: 10px 30px 40px rgba(0, 0, 0, 0.08);

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--overlay);
			z-index: 1;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}

	}

	a {
		margin-top: 20px;
		grid-column: 2/-1;
		animation: image-in .8s cubic-bezier(0.5, 0, 0.1, 1) 1.25s both;
	}
}



// 		h1 {
// 			margin-bottom: var(--general-space);
// 		}

// 		text-content {
// 			grid-column: 1/ span 3;
// 			text-align: left;
// 			align-self: center;
// 			position: absolute;
// 			z-index: 1;
// 		}

// 		text-content p.details {
// 			max-width: 65%
// 		}

// 		p {
// 			padding-left: 1.2rem;
// 		}
// 	}

// 	.landing-image {

// 		grid-column: 3/ 5;
// 		justify-self: flex-end;
// 		margin: 0;

// 		img {
// 			filter: brightness(100%);
// 			z-index: 1;

// 		}
// 	}

// }

@media(prefers-color-scheme: dark) {

	landing-heading {
		text-content {
			mix-blend-mode: normal;
		}
	}

	.landing-image img {
		filter: brightness(70%);

	}
}