.has-missing-heading {
	height: 80vh;
	overflow: hidden;

	.cube-sphere-container {
		right: initial;
		left: 15%;
		top: 15%;
	}
}

missing-heading {
	width: 100%;
	display: block;
	text-align: center;
	position: relative;
	height: 100%;
	animation: upFadeIn .5s forwards;
	opacity: 0;
	animation-delay: .3s;

	p {
		max-width: 400px;
		margin: 0 auto;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 20px
	}


	.action-link {
		max-width: none;
	}
}

missing-heading {
	nav {
		grid-column: span 4;
	}

	text-content {
		grid-column: span 4;
	}


}

@media(min-width: 500px) {
	missing-heading nav ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
	}

}

@media(min-width:750px) {
	.has-missing-heading {
		inner-column {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			place-items: center;
		}
	}

	missing-heading {
		display: grid;
		grid-template-columns: 3rem 1fr 1fr 2fr;

		text-content {
			margin-top: 200px;
			grid-column: 4/-1;
		}

		nav {
			grid-column: 2/-1;
		}

	}
}