.card-design {
	display: block;
	width: 100%;
	height: 28rem;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	color: var(--black);
	box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
	transition: box-shadow .5s ease-in;
	background-color: #c1bfbf;

	&:hover {
		box-shadow: 0 10px 30px -5px var(--color-soft);
	}

	picture {
		width: 100%;
		height: 100%;
	}

	img {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.5;
		transition: opacity .2s ease-out;
	}

	h3 {
		text-transform: uppercase;
		font-weight: 600;
	}

	.span-title {
		width: fit-content;
		position: absolute;
		transition: opacity .3s ease-out, transform .3s ease-in-out;
		top: 30px;
		right: 25px;
		transform: translateY(-200%);
		z-index: 50;
		text-transform: uppercase;
		font-size: var(--step-4);
		color: rgb(var(--color-rgb), .9);
		font-family: 'Lato';
		font-weight: 700;
		filter: blur(1px);
	}

	text-content {
		position: absolute;
		max-width: 80%;
		transition: opacity .3s ease-out, transform .3s ease-in-out;

		bottom: 30px;
		left: 20px;

		display: flex;
		flex-direction: column;
		row-gap: 20px;
		transform: translateY(80%);
		z-index: 100;

		* {
			transition: opacity .3s ease-out;
		}

		p {
			font-weight: 500;
		}

		p,
		.action-link {
			opacity: 0;
		}

		.action-link {
			background-color: var(--cube-color);
			border: none;

			&:hover {
				background-color: var(--cube-line);
			}
		}

	}

	@media(hover: none) {
		text-content {
			transform: none;

			p,
			.action-link {
				opacity: 1;
			}
		}


		.span-title {
			transform: none;
		}
	}

	@media(min-width:500px) {
		text-content {
			max-width: 88%;
		}
	}
}

project-card.card-design {
	max-width: 90%;
}

@media(hover: hover) {
	project-card:hover {

		text-content {
			transform: none;

			p,
			.action-link {
				opacity: 1;
			}
		}

		.span-title {
			transform: none;
		}

		img {
			transition: opacity .3s ease-in;
		}
	}


}

teaser-card.card-design {
	grid-column: 4/-1;
	height: 8rem;
	align-self: flex-end;
	justify-self: flex-end;


	text-content {
		pointer-events: none;
	}

	&:hover {
		box-shadow: 10px 10px 30px -5px var(--color-soft);
	}

	.span-title {
		top: 10px;
	}

	@media(hover: hover) {
		&:hover {

			.span-title {
				transform: none;
			}
		}
	}

	text-content {
		bottom: 50px;
	}

	button {
		appearance: none;
		width: 100%;
		background: transparent;
		outline: none;
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		padding: 0;
		cursor: pointer;
		z-index: 300;
	}
}

teaser-card.second {
	display: none;
}

teaser-card.third {
	display: none;
}

@media(min-width:750px) {
	teaser-card.second {
		display: block;
	}

	teaser-card.third {
		display: block;
	}
}