project-card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	z-index: 10;

	// background-color: rgb(var(--color-rgb), .05);
	min-height: 480px;
	border-radius: 5px;
	padding: 30px 25px;
	border: var(--thin) solid var(--color-mute);
	box-shadow: 0px 69px 100px -120px var(--color-soft);

	text-align: left;

	span {
		position: absolute;
		top: -20px;
		right: 0;
		font-size: var(--step-4);
		color: rgb(var(--color-rgb), .2);
		font-family: 'Lato';
		z-index: -200;
		filter: opacity(70%) blur(1px);
	}

	h3 {
		font-weight: 600;
	}

	p {
		line-height: 1.4;
	}

	p.project-detail {
		// font-size: var(--step--1);
		flex-grow: 1;
	}

	picture {
		aspect-ratio: 6/4;
	}

	.action-link {
		margin-top: auto;
		// width: 82.76%;
		// align-self: flex-end;
	}

	.skills {
		position: absolute;
		left: 25px;
		top: 0;
		display: flex;
		text-transform: uppercase;
		flex-wrap: wrap;
		gap: 5px;
		background-color: var(--color-mute);
		color: white;
		padding: 5px 15px;
		// border-bottom-left-radius: 5px;
		// border-bottom-right-radius: 5px;

		p {
			font-weight: 500;
		}

		p:after {
			content: ',';
		}

		p:last-of-type:after {
			content: '';
		}
	}
}

// .project-detail {
// 	margin-top: var(--simple-space);
// }

// project-card .span-title {
// 	font-size: 3rem;
// 	font-weight: 600;
// 	align-self: flex-end;

// 	position: absolute;
// 	bottom: 0;
// 	right: 0;
// 	color: var(--cube-color);
// 	z-index: 1;
// 	filter: opacity(70%) blur(1px);
// }

// @media(min-width:600px) {

// 	project-card {
// 		display: grid;
// 		grid-template-columns: repeat(4, 1fr);

// 		column-gap: var(--simple-space);
// 		position: relative;
// 	}

// 	project-card text-content {
// 		grid-column: span 4;
// 	}

// 	project-card .projects-action {
// 		grid-column: span 1;
// 		max-width: none;
// 		align-self: flex-end;
// 		margin: 0;
// 	}

// 	project-card .project-thumbnail {
// 		aspect-ratio: 16/9;
// 		grid-column: span 3;

// 		filter: brightness(90%);
// 	}

// 	project-card .span-title {
// 		right: 25vw;
// 	}

// 	project-card .project-detail {
// 		color: var(--white);
// 		margin-top: var(--simple-space);
// 		grid-column: 3 / span 2;
// 		position: absolute;
// 		grid-row: 2;
// 		padding: 10px;
// 		background-color: rgba(0, 0, 0, 0.8);
// 	}


// }

// @media (min-width: 850px) {

// 	project-card {
// 		column-gap: var(--simple-big-space);
// 	}

// 	project-card .project-thumbnail {
// 		filter: brightness(100%);
// 	}

// 	project-card .project-detail {
// 		background-color: transparent;
// 		color: inherit;
// 		text-shadow: none;
// 	}

// 	project-card:first-of-type .project-detail {
// 		position: static;
// 		margin-top: 0;
// 		padding: 0;
// 	}

// 	project-card:first-of-type text-content {
// 		grid-column: 3 / span 2;
// 	}

// 	project-card:first-of-type .project-thumbnail {
// 		grid-column: 1/ span 2;
// 		grid-row: 1 / span 3;
// 	}

// 	project-card:first-of-type .span-title {
// 		right: 0;
// 		bottom: 0;
// 	}

// 	project-card:first-of-type .action-link {
// 		margin-top: 0;
// 		grid-row: 3;
// 		text-shadow: none;
// 	}

// 	project-card:first-of-type .projects-action {
// 		grid-column: 4 /span 1;
// 		grid-row: 3;
// 		max-width: none;

// 	}

// 	project-card:not(:first-of-type) .span-title {
// 		right: 0;
// 	}

// 	project-card:not(:first-of-type) {
// 		grid-template-rows: 70px auto auto auto;
// 		row-gap: var(--simple-space);
// 	}

// 	project-card:not(:first-of-type) .project-thumbnail {
// 		grid-column: span 4;
// 	}

// 	project-card:not(:first-of-type) text-content {
// 		grid-column: span 4;
// 	}

// 	project-card:not(:first-of-type) .project-detail {

// 		padding: 0;
// 		margin: 0;
// 		position: static;
// 		grid-row: 3;
// 		grid-column: span 4;
// 		text-shadow: none;
// 	}

// 	project-card:not(:first-of-type) .action-link {
// 		grid-column: 3/span 2;
// 	}

// }