project-section {
	width: 100%;
	display: block;

	project-card {
		grid-column: 1/-1;
	}

	button.next-btn {

		z-index: 10;
		border: none;
		position: absolute;
		top: 50%;
		right: 0;
		cursor: pointer;
		outline: none;
		border-radius: 50%;
		width: 55px;
		height: 55px;
		background-color: rgb(107 107 107);
		display: flex;
		place-items: center;
		justify-content: center;
		transition: background-color .3s cubic-bezier(0.165, 0.84, 0.44, 1), color .3s cubic-bezier(0.165, 0.84, 0.44, 1);

		svg {
			pointer-events: none;
			fill: var(--white-mute) !important;
			transition: fill .3s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&:hover {
			background-color: var(--white-mute);
			outline: 2px solid var(--color);

			svg {
				fill: var(--color) !important;
			}
		}


		@media(min-width:750px) {
			top: 55%;
			right: initial;
			left: 45%;
		}

	}


}

@media(min-width:500px) {
	project-section {

		button.action-link {
			margin-top: 40px;
		}
	}
}

@media(min-width:750px) {
	project-section {
		project-card {
			grid-column: 2/span 2;
		}

		button.action-link {
			grid-column: 4/-1;
		}
	}
}

@media(min-width:1200px) {
	project-section {


		button.action-link {
			grid-column: 4/-1;
		}
	}
}

card-container {
	display: none;
	opacity: 0;
}

teaser-card.card-design {

	img {

		opacity: 0.7;
	}

	a {
		height: 100%;
	}


	text-content {
		pointer-events: none;
	}

	.span-title {
		top: 10px;
	}

	@media(hover: hover) {
		&:hover {

			.span-title {
				transform: none;
			}
		}
	}

	text-content {
		bottom: 50px;
	}

	button {
		appearance: none;
		width: 100%;
		background: transparent;
		outline: none;
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		padding: 0;
		cursor: pointer;
		z-index: 300;
	}
}

@media(min-width:750px) {
	card-container {
		display: block;
		opacity: 1;
		height: 28rem;


		.teasers-container {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			padding: 10px;

			teaser-card {
				flex-grow: 1;
				aspect-ratio: 1/1;
			}
		}


	}
}