project-section {
	width: 100%;
	display: block;
	margin-bottom: 50px;

	card-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		align-self: flex-end;
	}

	project-card {
		grid-column: 1/-1;
	}

	button.action-link {
		margin-top: 20px;
		grid-column: 2/-1;
		color: var(--white);
		border: none;
		position: relative;
		text-align: left;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		font-weight: 600;
		cursor: pointer;
		outline: none;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

		span {
			display: flex;
			place-items: center;
			justify-content: space-between;
			padding-right: 15px;
			padding-left: 15px;
			position: absolute;
			height: 100%;
			right: 0;
			top: 0;
			transition: background-color .3s ease-out;
			pointer-events: none;
			color: var(--white);
			background-color: var(--cube);

			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;

		}

		&:hover {
			span {
				background-color: var(--color);
			}
		}
	}


}

@media(min-width:500px) {
	project-section {

		button.action-link {
			margin-top: 40px;
		}
	}
}

@media(min-width:750px) {
	project-section {
		project-card {
			grid-column: 2/span 2;
		}

		button.action-link {
			grid-column: 4/-1;
		}
	}
}

@media(min-width:1200px) {
	project-section {


		button.action-link {
			grid-column: 4/-1;
		}
	}
}