resume-card {
	display: flex;
	flex-direction: column;

	grid-column: 1/-1;
	margin: 40px 0;
	gap: 20px;

	text-content {
		display: flex;
		flex-direction: column;
	}

	.skills {
		display: flex;
		gap: 10px;

		p {
			font-weight: 600;

		}

		p:before {
			content: '·';
			padding-right: 10px;

		}

		li:first-of-type p:before {
			content: '';
			padding-right: 0;
		}
	}
}

@media(min-width:750px) {
	resume-card {
		grid-column: 2/span 2;
	}

	resume-card:nth-of-type(even) {
		grid-column: 4/-1;
	}

	resume-card:nth-of-type(odd) {
		padding-right: 100px;
	}

	resume-card:last-of-type {
		grid-row: 6;
	}
}