resume-card,
resume-section {
	display: block;
	width: 100%;
}

resume-section {
	h4 {
		grid-column: 1/-1;
		text-align: right;
		font-weight: 500;
		width: fit-content;
		border-bottom: var(--thin) solid var(--cube-line);
		justify-self: flex-end;
	}
}