resume-card {
	display: flex;
	flex-direction: column;

	grid-column: 1/-1;
	margin: 40px 0;
	gap: 20px;

	text-content {
		display: flex;
		flex-direction: column;
	}

	.skills {
		display: flex;
		gap: 10px;

		p {
			font-weight: 600;
			font-style: oblique;
		}

		p:before {
			content: '·';
			padding-right: 10px;

		}

		li:first-of-type p:before {
			content: '';
			padding-right: 0;
		}
	}
}