resume-card,
resume-section {
	display: block;
	width: 100%;
}

resume-section {
	h4 {
		width: 100%;
		grid-column: 2/-1;
		text-align: right;
		font-weight: 500;
		border-bottom: var(--thin) solid var(--cube-line);
		justify-self: flex-end;
	}
}