case-block {
	width: 100%;
	row-gap: 110px;

	>* {
		grid-column: 1/-1;
	}

	p em {
		font-weight: 600;
	}

	article {
		display: flex;
		flex-direction: column;
		gap: 30px;

		h4 {
			font-weight: 500;
		}
	}
}