section.sign-up{
	position: relative;

    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
	background: url(../../images/basketball.jpg);
}

call-to-action {
	display: block;
	/*border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 7vh 0;

}

call-to-action .button {
	margin-top: 20px;
	background-color: var(--paper);
	color: var(--ink);
}

call-to-action .button:hover{
	color: var(--paper);
}


section.sign-up{
	position: relative;
}

