section.sign-up{
	position: relative;
	background: url(../../images/basketball.jpg)no-repeat;
    background-position:center;
    background-size: cover;

}

section.get-involved .button:hover{
	background-color: var(--color);
	color: var(--white);
}

call-to-action {
	display: block;
	/*border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 7vh 0;

	color: var(--white);

}

call-to-action .button {
	margin-top: 20px;
	background-color: var(--white);
	color: var(--ink);
}

call-to-action .button:hover{
	color: var(--paper);
}


section.sign-up{
	position: relative;
}

