output-block {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;

    h3 {
        font-family: 'Lobster', serif;
        letter-spacing: 2px;
        max-width: fit-content;
        color: var(--darktextaccent);
        padding-bottom: 20px;
    }

    input[type="number"],
    label,
    span {
        padding-top: 5px;
        padding-bottom: 5px;
        border: none;
        font-size: 22px;
    }

    label {
        color: var(--textaccent);
        line-height: 1.4;
    }

    input[type="number"]:focus {
        border-color: var(--accent);
        outline: 0;
    }


    input[type="number"] {
        font-size: 48px;
        color: var(--ink);
        font-weight: 300;
        border-radius: 2px;
        margin: 0;
        border: none;
        border: 2px solid var(--darktextaccent);
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.182);
        transition: border-color 0.2s ease, margin-top 0.2s ease;
        overflow-x: hidden;
        /* Hack to make "rows" attribute apply in Firefox. */
    }

    .split-container {
        min-height: 105px;
    }

    .range-container {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 20px;
    }

    .percentage {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 80px;
            font-family: monospace;
        }

        p:after {
            content: '%';
        }
    }
}