.big-button {
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 25px;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration-thickness: auto;
    transition: background-position .4s cubic-bezier(.4, 0, .2, 1), height 1ms;

    user-select: none;
    touch-action: manipulation;

    background-size: 500% 100%;
    background-image: radial-gradient(circle, gray, black);
}

.big-button:hover {
    background-position: 80% 0;
    transition: background-position 0.3s ease-in-out;

    color: var(--page);
}

@media (min-width: 768px) {
    .big-button {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

.big-button:disabled,
.big-button[disabled] {
    pointer-events: none;
    border: var(--line) solid var(--gray);
    background-color: var(--dark);
    color: var(--dark-gray);
}


.remove-btn {
    text-decoration: none;
    background: transparent;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    height: 50px;
    pointer-events: all;

    span {
        pointer-events: none;
    }

    .inner {
        display: block;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            content: "";
            position: absolute;
            height: 2px;
            width: 40px;
            background-color: black;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            transition: ease-out .2s all;
            pointer-events: none;
        }

        &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 40px;
            background-color: black;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            transition: ease-out .2s all;
            pointer-events: none;
        }
    }

    .label {
        color: black;
        opacity: 0;
        transition: linear .3s all;
        pointer-events: none;
    }

    &:hover,
    &:focus {
        .inner {
            &:before {
                transform: translate(-50%, 0%) rotate(0);
                top: 25%;
            }

            &:after {
                transform: translate(-50%, 0%) rotate(0);
                top: 76%;
            }
        }

        .label {
            opacity: 1;
        }
    }
}