button {
    background-color: var(--page);
    border: 2px solid rgba(0, 0, 0, 0.387);
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--ink);
    cursor: pointer;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 1px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: var(--ink);
    color: var(--page);
}

@media (min-width: 768px) {
    button {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

button:disabled,
button[disabled] {
    pointer-events: none;
    border: var(--line) solid var(--gray);
    background-color: var(--dark);
    color: var(--dark-gray);
}

// Select


select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: darkgray;
    background-image: none;
    cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

.select-container {
    position: relative;
    display: flex;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.select-container::after {
    content: '\25BC';
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}

/* Transition */
.select-container:hover::after {
    color: #f39c12;
}