html {
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	background-color: var(--page);
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

main {
	flex-grow: 1;
}

inner-column {
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 2rem 1rem;
	max-width: 1000px;
}

article-grid,
action-block,
text-content,
label,
input,
field,
button {
	display: block;
	width: 100%;
}

/* display elements */

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p {
	line-height: 1.4;

	a {
		display: inline-block;
		text-decoration: underline;
		color: var(--highlight);
		font-weight: 500;
	}
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}


/* images */

picture {
	display: block;
}

picture img {
	display: block;
	height: auto;
	width: 100%;
}

svg {
	display: block;

}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}