@import '_reset';
@import '_variables';
@import '_setup';
@import '_typography';
@import '_modules';
@import '_components';

form,
field {
    display: grid;
    gap: 20px;
}

form input {
    font: inherit;
    padding: .5em 1em;
}

main {
    inner-column {
        display: grid;
        gap: 20px;
    }

    output,
    ul {
        display: grid;
        gap: 10px;
    }
}

action-block {
    display: grid;
    gap: 10px;
}

.complete {
    opacity: .4;
}

div.trash {
    position: fixed;
    top: 10px;
    right: 10px;
}