@import '_reset';
@import '_variables';
@import '_setup';
@import '_typography';
@import '_modules';
@import '_components';

.main-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 8vh;
    position: relative;
}