@import 'css/reset.css';
@import 'css/setup.css';
@import 'css/typography.css';
@import 'css/modules.css';
@import 'css/variables.css';
@import 'css/components.css';

body {
    max-width: 500px;
    margin: 0 auto;
}


.logo {
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: .2em;
    font-size: 22px;
}


output {
    display: block;
    border: 2px dashed green;
    height: 100%;
    padding: 1rem;
}


@media (min-width: 500px) {
    main {
        border-left: 3px solid var(--fade);
        border-right: 3px solid var(--fade);
    }
}