@import 'css/reset.css';
@import 'css/setup.css';
@import 'css/typography.css';
@import 'css/modules.css';
@import 'css/variables.css';
@import 'css/components.css';

body {
    max-width: 500px;
    margin: 0 auto;
}

main {
    position: relative;
}


.logo {
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: .2em;
    font-size: 22px;
}


output {
    display: block;
    border: 2px dashed green;
    height: 100%;
    padding: 1rem;
}

.hide {
    display: none;
}

aside {
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: rgb(33 33 33);
    color: rgb(210 210 211);
    padding: 15px 0;
}

h2 {
    border-bottom: 3px solid var(--lightFade);
    padding-bottom: 10px;
}

aside ul li {
    padding: 8px 0;
}

aside ul li:before {
    content: '#';
    margin-right: 20px;
}


@media (min-width: 500px) {
    main {
        border-left: 3px solid var(--menus);
        border-right: 3px solid var(--menus);
    }
}