.doc-header{
    background-color:var(--main-color);
    color: var(--white);
}

.doc-header inner-column{
    padding: 0;
}

.site-menu {
    display: flex;

}

.site-menu a{
    padding: 3vh 5vw;
}

.site-menu a:hover{
    background-color: var(--hover);
}

@media(min-width:400px){
    .site-menu a{
        padding: 3vh 3vw;
    }
}

