@import 'reset.css';
@import 'setup.css';

/* $Structure  */
body{
    background-color: rgb(227, 227, 227);
}

inner-column{
    max-width: 1000px;
    padding: 5vh 3vw;
}

inner-column.big{
    max-width: 1150px;
}

inner-column.tight{
    max-width: 400px;
    padding: 0;
}

main {
    background-color: rgba(30, 143, 255, 0.2);
}

header{
    background-color: rgba(30, 143, 255, 0.6);
}

.more-voice {
    font-size: 1.9rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.loud-voice{
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.attention-voice{
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.calm-voice{
    font-size: .8rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 1rem;
    max-width: 80ch;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

/* $Header */

header inner-column{
    padding: 1rem;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    padding: 1vh 1vw;
}

header{
    font-size: 1.7rem;
    box-shadow: 0 2px 2px -2px lightgray;
    color: white;

    z-index: 20;
}

nav span:first-of-type{
    font-size: 2rem;
}

nav>h2{
    font-weight: 900;
    letter-spacing: 5px;
    transition: 500ms;
    transition-delay: 150ms;
}

nav>h2:hover{
    color: rgb(243, 148, 25);
    letter-spacing: 20px;
}

nav img {
    max-width: 30vh;
}

header .logo-color{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    margin: 0;
	font: inherit;
	cursor: inherit;
	outline: inherit;
    color: rgb(243, 148, 25);
    letter-spacing: inherit;
}

@media (min-width: 700px){

}

/* $Landing */

.landing{

    padding-bottom: 8vh;

    text-align: center;
}

.landing inner-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 69vh;

    position: relative;
}

div.landing-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;


    width: 100%;
    padding-bottom: 2vh;
    z-index: 10;

}

div.landinglink{
    width: 40%;
    padding-bottom: 2vh;

    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 30;

    color: white;
    text-shadow: black 2px 1px 10px,
        black -2px -1px 10px;

    border-left: 10px solid transparent;

}

.link-one,
.link-two{
    margin-bottom: 30px;
}

.link-one,
.link-two,
.link-three,
.link-four{
    border-radius: 5px;
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow:  rgba(0, 0, 0, 0.4) 4px 4px 10px,
    rgba(0, 0, 0, 0.4) -4px -4px 10px;
    padding: 5px;
}

.landing-background{
    position: absolute;
    padding: inherit;
    left: 0;
    bottom: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    background: url(../images/overwatch-landing.jpg);
    background-size: cover;
    background-position: right;
}

@media (min-width:1000px){
    .landing{
        padding-left: 0;
    }
}

/* $Landing background change items */

.landing-background{
    transition: all 1s ease-out;
}

.link-one:hover,
.link-two:hover,
.link-three:hover,
.link-four:hover,
.link-one:focus,
.link-two:focus,
.link-three:focus,
.link-four:focus{
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.7);
    border-left: 10px solid rgba(30, 143, 255, 0.8);
    transition: all 400ms ease-in-out;
}

.link-one:hover,
.link-one:active{
    background-color: transparent;
}

.link-one:hover~.landing-background,
.link-one:focus~.landing-background{
    background: url(../images/overwatch-two.jpg);
    background-size:cover;
    background-position: center;
    transition: 1s;
}

.link-two:hover~.landing-background,
.link-two:focus~.landing-background{
    background: url(../images/new-hero.jpg);
    background-size: cover;
    background-position: 35%;
}

.link-three:hover~.landing-background,
.link-three:focus~.landing-background{
    background: url(../images/genji.jpg);
    background-size: cover;

}

.link-four:hover~.landing-background,
.link-four:focus~.landing-background{
    background: url(../images/gamplay.jpg);
    background-size: cover;
    background-position: center;
}

@media (min-width:800px){

    div.landing-grid{
        flex-wrap: none;
    }

    div.landinglink{
        width: 22%;
    }

    .link-one,
    .link-two{
        margin-bottom: 0;
    }
}

/* $about */

section.about inner-column{
    border-left: 10px solid rgb(243, 148, 25);
    overflow: hidden;
}

.about h1{
    padding-bottom: 2vh;
}

.about p{
    padding-bottom: 6vh;
}

.about p a{
    color: #4a4c4e;
}

.about p a:hover{
    color:rgb(243, 148, 25);
}

.menulinks{
    margin-left: auto;

    width: 60%;
    margin-top: 10vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);

}

.menulinks-list{
    position: sticky;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);

    z-index: 10;
}

div.blue-image{
    min-height: 60vh;
    position: relative;

}

div.about-image{
    max-width: 70%;
    min-height: 60vh;
    z-index: 0;
    position: absolute;

    left: 0;
    top: -80px;
}

.about ul li a{
    display: flex;
    justify-content: space-between;

    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    padding: 10px;
}

.about ul li{
    position: relative;
}

.about ul li:after{
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;

    background-color: white;
    position: absolute;
}

.about ul li:hover:after {
    display: none;
}

.about ul li a:hover{
    border-bottom:3px solid rgb(243, 148, 25);
    color: rgb(243, 148, 25);
    border-left: 3px solid rgb(243, 148, 25);
}

section.about {
    margin-bottom: 7vh;
}

/* $Insights */

.insights{
    margin-bottom: 7vh;
}
section.insights inner-column{
    border-left: 10px solid slateblue;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 35px;
}

.insights a{
    max-width: 50ch;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;

    text-decoration: underline;
    letter-spacing: 3px;
}

.insights a:hover{
    color:rgb(243, 148, 25);
}

div.info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


@media (min-width:800px){
    section.insights inner-column{
        flex-direction: row;
        align-items: center;
    }

    .insights p{
        max-width: 40ch;
    }

    div.info-wrapper:last-of-type {
        margin-top: auto;
    }

}

/*  $maps */

section.maps inner-column{
    display: flex;
    flex-direction: column;
    gap: 50px;


    padding: 2vh 2vw;
    margin-bottom: 10vh;
    border-left: 10px solid rgb(243, 148, 25);
}

section.maps img{
    object-fit: fill;

}

figcaption{
    background-color: rgb(0 0 0 /.6);
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1vh 1vw;
    font-size: small;
}


@media (min-width:800px){
    section.maps inner-column{
        flex-direction: row;
    }


}

/* $footer */

footer{
    background-color: rgba(111, 134, 156, 0.397);
    color: white;
    letter-spacing: 1px;
}

footer a:hover{
    color: dodgerblue;
}

footer inner-column{
    padding-left: 2vw;
    padding-right: 2vw;
}

inner-column.tight div{
    border-bottom: 2px solid rgb(180, 180, 180);
}

div.social-icons{
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: center;
}

div.social-icons a{
    padding: 10px;
}

div.social-icons a:hover img{
    filter: invert(100%);
}

div.social-icons picture{
    width: 30px;
    height: auto;
}

div.more-info{
    font-size: 1.05rem;
    font-family: 'Montserrat', sans-serif;
    padding: 4vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

div.legal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    font-size: .9rem;
    padding: 2vh 0;
}

inner-column.tight div.page-footer{
    border: none;
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:700px){

    div.blue-image{
        min-height: auto;
    }

    inner-column.tight{
        max-width: 1000px;
    }

    div.more-info{
        flex-direction: row;
    }

    inner-column.tight div{
        padding: 3vh 0;
        gap: 60px;
    }
    
}