footer {
    background-color: var(--hover);
    color: var(--white);
    text-transform: uppercase;

    inner-column {
        padding: 1vh 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }

    a:hover {
        background-color: var(--main-color);
    }
}