big-heading {
    display: block;
    width: 100%;

    background-color: var(--accent-color);
    color: var(--white);
    position: relative;

    inner-column {
        background: url('images/logo.webp') no-repeat;

        background-position: center 10px;
        background-size: contain;
        min-height: 400px;
        max-width: 1000px;

        padding-top: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    h1 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: var(--small-height);
        font-weight: 900;
        letter-spacing: 3px;
        word-spacing: 5px;
        text-shadow: -2px 2px 5px rgb(0 0 0 /.2);
        transition: text-align 5s;
        max-width: 320px;
    }

    picture {

        max-width: 400px;
        margin: 2vh auto;

    }
}

@media(min-width: 575px) {
    big-heading {
        inner-column {
            background-position: 110%;
            background-size: contain;
            align-items: flex-start;
        }

        h1 {
            text-align: left;
            margin-right: auto;
        }

        .action {
            margin-left: 50px;
        }
    }


}


.action {
    text-align: center;
    position: relative;

    a {

        padding: 15px 30px;
        background: linear-gradient(to right, var(--hover), var(--hover));
        background-color: var(--main-color);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position: left;
        font-size: 1.3rem;
        font-weight: 500;
        border: 3px solid transparent;
        color: var(--white);
        border-radius: 2px;
        transition: all .2s;
    }

    a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background: transparent;
        border: 3px solid transparent;
        border-radius: 5px;
    }

    a::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background: transparent;
        border: 3px solid transparent;

        border-radius: 5px;
    }


}


.action a:hover::before {
    animation: animate .4s linear forwards;
}


.action a:hover::after {
    animation: animates .4s linear forwards;
}

.action a:hover {
    background-size: 100% 100%;
}