output {
    display: grid;
    gap: 20px;
}

action-block {
    display: grid;
    gap: 10px;
}

.complete {
    opacity: .4;
}

div.trash {
    position: fixed;
    top: 10px;
    right: 10px;
}

list-container {
    border: 2px solid var(--color);
    border-radius: 5px;
    display: grid;
    gap: 10px;

    ul {
        display: grid;
        gap: 20px;
        padding: 10px;
    }

    h3 {
        padding: 10px;
        background-color: var(--light-color);
        border-bottom: 2px solid var(--color);
        font-family: 'Londrina Outline', cursive;
        text-transform: uppercase;
        letter-spacing: .15em;
    }
}