output {
    display: grid;
    gap: 20px;
}

action-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

item-card.complete {
    opacity: .4;
    transition: all 1s ease;

    h4 {
        text-decoration: line-through;

    }
}

div.trash {
    position: fixed;
    top: 10px;
    right: 10px;
}

list-container {
    border: 2px solid var(--black);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    &:nth-of-type(even) {
        ul {
            background-color: var(--accent);
        }
    }

    &:nth-of-type(odd) {
        ul {
            background-color: var(--color);
        }
    }

    ul {
        display: grid;
        gap: 20px;
        padding: 20px;
        height: 100%;
        align-items: flex-start;

        li {
            width: 100%;
        }

    }

    h3 {
        padding: 10px;
        color: var(--white);
        background-color: var(--black);
        border-bottom: 2px solid var(--black);
        font-family: 'Abril Fatface', cursive;

        text-transform: uppercase;
        letter-spacing: .15em;
    }

}

@media(min-width:550px) {
    output {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    list-container ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}


@media(min-width:950px) {
    output {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }

    list-container {

        gap: 0px;

        ul {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}