/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--white);
  color: var(--ink);
}

main {
  flex-grow: 1;
}

inner-column {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--med-height) 1rem;
  max-width: 1100px;
}

article-grid,
text-content,
action-links,
label,
input,
field,
button {
  display: block;
  width: 100%;
}

/* display elements */
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

a p {
  display: inline;
}

p a {
  display: inline-block;
  text-decoration: underline;
  color: var(--highlight);
  font-weight: 500;
}

p {
  max-width: 57ch;
}

/* images */
picture {
  display: block;
}

picture img {
  display: block;
  height: auto;
  width: 100%;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* $accesibility */
.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@-moz-document url-prefix() {
  .remove-me {
    border: 1px solid red;
    position: absolute;
    right: 0;
    top: 0;
  }
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --xs-height: 1vh;
  --xs-width: 1vw;
  --small-height: 2vh;
  --small-width: 2vw;
  --med-height: 5vh;
  --med-width: 5vw;
  --large-height: 8vh;
  --large-width: 8vw;
  --xlarge-height: 11vh;
  --xlarge-width: 11vw;
  background-color: rgb(255, 255, 255);
  --thin: 3px;
  --thick: 5px;
  --Xthick: 9px;
}

html {
  --gray: #e5e5e5;
  --darkgray: #474747;
  --fade: rgb(5 5 5 / .16);
  --white: rgb(251, 248, 243);
  --black: rgb(32, 29, 28);
  --error: rgb(105, 47, 91);
  --errorBG: rgb(215, 99, 188);
  --main-color: rgb(47 79 105);
  --accent-color: #B3792F;
  --hover: #B5422E;
  --shade: rgb(255 255 255 /.2);
  --shadow: rgb(10 10 10 /.2);
  --darkshade: rgb(77 74 73);
}

/* $animations*/
@-webkit-keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes drop-in {
  from {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes drop-in {
  from {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slide-in {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes smooth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotateAnimation {
  from {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  to {
    -webkit-transform: rotateY(225deg);
            transform: rotateY(225deg);
  }
}
@keyframes rotateAnimation {
  from {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
  to {
    -webkit-transform: rotateY(225deg);
            transform: rotateY(225deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: rotate3d(1, 0, 360deg);
            transform: rotate3d(1, 0, 360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: rotate3d(1, 0, 360deg);
            transform: rotate3d(1, 0, 360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
            transform: rotateY(360deg) rotateX(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
            transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
            transform: rotateY(360deg) rotateX(360deg);
  }
}
@-webkit-keyframes circular {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes circular {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes alertIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes alertIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes upFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes upFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes rightFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes rightFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@-webkit-keyframes animates {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--white);
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--white);
    border-left-color: var(--white);
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--white);
    border-left-color: var(--white);
  }
}
@keyframes animates {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--white);
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--white);
    border-left-color: var(--white);
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--white);
    border-left-color: var(--white);
  }
}
@-webkit-keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--white);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--white);
    border-right-color: var(--white);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: var(--white);
    border-right-color: var(--white);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--white);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--white);
    border-right-color: var(--white);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: var(--white);
    border-right-color: var(--white);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
:is(.calm-voice, p, li) em {
  font-style: italic;
}

:is(.calm-voice, p, li) strong {
  font-weight: 700;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* typography */
.roar-voice {
  font-size: clamp(32px, 10vw, 64px);
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}

.yell-voice {
  font-size: clamp(26px, 7vw, 56px);
}

.loud-voice {
  font-size: clamp(22px, 7vw, 48px);
  font-weight: 600;
  letter-spacing: 0.02em;
}

.strict-voice {
  font-size: clamp(20px, 4vw, 32px);
}

.another-voice {
  font-size: clamp(19px, 3.5vw, 24px);
}

.attention-voice {
  font-size: clamp(18px, 3.5vw, 22px);
}

.calm-voice,
p,
li {
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.4;
}

a {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1.4;
}

.small-voice {
  font-size: clamp(14px, 1.5vw, 16px);
}

.tiny-voice {
  font-size: 14px;
}

footer {
  background-color: var(--hover);
  color: var(--white);
  text-transform: uppercase;
}
footer inner-column {
  padding: 1vh 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-size: 14px;
}
footer a {
  font-size: 14px;
}
footer a:hover {
  background-color: var(--main-color);
}

.site-header {
  background-color: var(--main-color);
  color: var(--white);
}
.site-header inner-column {
  padding: 0;
}

.site-menu {
  display: flex;
}

.site-menu a {
  padding: 20px 5vw;
}
.site-menu a.active {
  background-color: var(--shadow);
}
.site-menu a:hover {
  background-color: var(--hover);
}

@media (min-width: 400px) {
  .site-menu a {
    padding: 20px 3vw;
  }
}
big-heading {
  display: block;
  width: 100%;
  background-color: var(--accent-color);
  color: var(--white);
  position: relative;
}
big-heading inner-column {
  background: url("images/logo.webp") no-repeat;
  background-position: center 10px;
  background-size: contain;
  min-height: 400px;
  max-width: 1000px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
big-heading h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: var(--small-height);
  font-weight: 900;
  letter-spacing: 3px;
  word-spacing: 5px;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: text-align 5s;
  max-width: 320px;
}
big-heading picture {
  max-width: 400px;
  margin: 2vh auto;
}

@media (min-width: 575px) {
  big-heading inner-column {
    background-position: 110%;
    background-size: contain;
    align-items: flex-start;
  }
  big-heading h1 {
    text-align: left;
    margin-right: auto;
  }
  big-heading .button {
    margin-left: 50px;
  }
}
playstyle-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  min-height: 250px;
  position: relative;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
playstyle-card h3 {
  font-weight: 500;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
playstyle-card a {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
  transition: border 0.5s;
  background-color: var(--white);
  z-index: 5;
}
playstyle-card p {
  padding: 5px 10px;
}
playstyle-card p:before {
  content: "";
  height: 250px;
  width: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -5px;
  right: -5px;
}
playstyle-card p:after {
  content: "";
  height: 2px;
  width: 275px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -5px;
  right: -5px;
}

playstyle-card:nth-of-type(even) p:before,
playstyle-card:nth-of-type(even) p:after {
  top: 3vh;
  left: 0px;
}
playstyle-card:nth-of-type(even) p:after {
  display: none;
}

playstyle-card:hover {
  border-left: 2px solid var(--hover);
  border-right: 2px solid var(--hover);
  border-bottom: 2px solid var(--hover);
  transition: border 0.5s;
}
playstyle-card:hover a {
  background-color: var(--hover);
  color: var(--white);
  border-bottom: 2px solid transparent;
}
playstyle-card:hover p:after,
playstyle-card:hover p:before {
  background-color: transparent;
}

@media (min-width: 550px) {
  playstyle-card {
    min-height: 485px;
  }
}
fighter-card {
  display: flex;
  flex-direction: column;
}
fighter-card picture {
  min-height: 250px;
  background-size: cover;
  background-position: center;
}
fighter-card h2 {
  background-color: var(--shade);
  padding: 1vh 0;
}
fighter-card a {
  cursor: alias;
}

fighter-card:hover h2 {
  background-color: var(--hover);
}

@media (min-width: 350px) {
  fighter-card picture {
    min-height: 180px;
  }
}
general-diptech {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
general-diptech text-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
general-diptech text-content p {
  max-width: 65ch;
  padding-left: 1rem;
  border-left: 3px solid var(--main-color);
}
general-diptech text-content p:last-of-type {
  padding-left: 0;
  border-left: 3px solid transparent;
}
general-diptech .portrait {
  box-shadow: 0 0 0 3px var(--main-color);
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.809);
}
general-diptech .portrait img {
  max-height: 500px;
}
general-diptech .audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 500px) {
  audio {
    height: 50px;
    width: 280px;
    border-radius: 50px;
    border: 2px solid var(--main-color);
    font-family: arial;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
  }
}
info-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
info-block .costumes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 15px 10px;
  align-items: center;
  max-width: 500px;
}
info-block .costumes picture {
  max-width: 180px;
  box-shadow: 0 0 0 3px var(--accent-color);
  background-color: rgba(255, 255, 255, 0.809);
}
@media (min-width: 800px) {
  info-block .costumes {
    gap: 20px;
    max-width: none;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
  info-block .costumes picture {
    max-width: 250px;
  }
}

div.specials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
div.specials picture {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 0 auto;
}
div.specials img {
  max-height: 100px;
  min-height: 80px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
div.specials article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 3px solid var(--main-color);
  padding-bottom: 5px;
  min-height: 150px;
  max-height: 150px;
  width: 100%;
}
div.specials article a {
  width: 100%;
  height: 100%;
}
div.specials article h3 {
  background-color: var(--darkshade);
  color: var(--white);
  padding: 1vh 6px;
  width: 100%;
  text-align: center;
}

@media (min-width: 500px) {
  div.specials {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  div.specials article {
    justify-content: space-between;
  }
}
ally-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
ally-container .relation {
  text-align: center;
  background-color: var(--shado);
  border: 5px solid var(--darkshade);
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: var(--black);
  justify-content: space-between;
  transition: color 0.6s ease-out;
}
ally-container .relation h3 {
  text-transform: uppercase;
}
ally-container .relation picture {
  max-width: 200px;
  margin: 0;
  position: relative;
  transition: all 0.5s ease-out;
  flex-shrink: 2;
}
ally-container .relation picture img {
  margin: 0;
}
ally-container .relation .container {
  margin-right: 12%;
}
ally-container .enemy {
  cursor: crosshair;
}
ally-container .friend {
  cursor: alias;
}
ally-container .friend:hover {
  border-color: var(--main-color);
  background-color: rgb(91, 147, 193);
  color: var(--white);
}
ally-container .friend picture::before {
  content: "";
  opacity: 0;
  width: 80%;
  height: 90%;
  background-color: transparent;
  border: 10px solid var(--accent-color);
  outline: 1px solid var(--white);
  box-shadow: 0px 0px 5px #fff;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-55%, 5%);
          transform: translate(-55%, 5%);
  transition: all 0.5s ease-out;
}
ally-container .friend picture {
  position: relative;
  mix-blend-mode: multiply;
}
ally-container .friend:hover picture::before {
  opacity: 100%;
}
ally-container .enemy picture:before,
ally-container .enemy picture:after {
  opacity: 0;
  width: 10px;
  height: 106%;
  background-color: black;
  content: "";
  outline: 1px solid var(--white);
  position: absolute;
  transition: all 0.5s ease-out;
}
ally-container .enemy picture:before {
  bottom: -5px;
  left: 0;
}
ally-container .enemy picture:after {
  bottom: -5px;
  right: 0;
}
ally-container .enemy:hover {
  border-color: var(--error);
  color: var(--white);
}
ally-container .enemy:hover picture:before {
  opacity: 100%;
  -webkit-transform: translate(900%) rotate(45deg);
          transform: translate(900%) rotate(45deg);
  border-radius: 20px;
}
ally-container .enemy:hover picture:after {
  opacity: 100%;
  -webkit-transform: translate(-900%) rotate(-45deg);
          transform: translate(-900%) rotate(-45deg);
  border-radius: 20px;
}
ally-container .enemy:hover picture {
  mix-blend-mode: multiply;
}
ally-container .enemy:hover {
  background-color: var(--errorBG);
}

playstyle-grid {
  display: grid;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  grid-template-columns: 1fr;
}
playstyle-grid h2 {
  text-align: center;
  font-weight: 600;
}

@media (min-width: 550px) {
  playstyle-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  playstyle-grid h2 {
    grid-column: span 2;
  }
}
.create h1 {
  text-align: center;
  padding: 4vh 1rem;
  background-color: var(--accent-color);
  color: var(--white);
}

.create-page inner-column {
  padding-top: 3vh;
}

form .error {
  outline-color: var(--errorBG);
  color: var(--errorBG);
}

span a {
  display: inline;
  text-decoration: underline;
  padding-left: 2px;
  padding-right: 2px;
}
span a a:hover {
  background-color: var(--hover);
  text-decoration: none;
  color: white;
}

.asterisk {
  color: red;
  display: inline;
}

.form-images,
.required {
  display: flex;
  flex-direction: column;
  justify-content: space-betwwen;
  align-items: stretch;
  gap: 30px;
  margin-bottom: 0;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;
  background: var(--white);
  border-radius: 2px;
  font-family: "Inter";
}
form h4 {
  text-align: center;
  margin-bottom: 30px;
}

field {
  display: block;
  border: 2px solid var(--shadow);
  border-radius: 3px;
  width: 100%;
}
field h4 {
  color: var(--main-color);
  background-color: var(--white);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.2);
}

label {
  text-shadow: -1px 2px 5px rgba(0, 0, 0, 0.2);
}

.specials field {
  max-width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}

form > field:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}

label {
  max-width: 55%;
  display: block;
  float: left;
  margin-top: -10px;
  margin-left: 10px;
  background: var(--white);
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-family: "Inter", Helvetica, sans-serif;
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=file],
input[type=email],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
input[type=password],
textarea,
select {
  width: 95%;
  display: block;
  outline: none;
  margin: 15px auto;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding-left: 10px;
  color: var(--main-color);
  background: var(--white);
  font-family: "Inter", "Times New Roman", Times, serif;
}

input[type=text],
textarea,
select {
  border-left: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

input[type=text]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=file]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  border: 2px solid var(--hover);
  color: var(--black);
}

field > span {
  background: var(--black);
  display: block;
  padding: 5px;
  outline: 2px solid var(--black);
  width: 100%;
  text-align: center;
  color: #C0C0C0;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

textarea {
  height: 50px;
}

@media (min-width: 600px) {
  .form-images,
.required {
    flex-direction: row;
    justify-content: space-between;
  }
  .form-images field,
.required field {
    margin-bottom: 0;
    min-width: 48%;
    max-width: 50%;
  }
}
.detail-header {
  background-color: var(--accent-color);
  padding: 20px 1rem;
  text-align: center;
  color: var(--white);
}
.detail-header inner-column {
  padding: 0;
}

.detail-page {
  position: relative;
  z-index: 0;
}
.detail-page inner-column {
  padding-top: 3vh;
}

fighter-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
fighter-page em {
  display: block;
  text-align: center;
}
fighter-page h2 {
  text-align: center;
}

.data-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
}

@media (min-width: 850px) {
  fighter-page {
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
  }
  fighter-page .container {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
  fighter-page .specials {
    gap: 35px;
    justify-content: center;
  }
  .edit-page fighter-page {
    grid-template-columns: 1fr;
  }
  .edit-page inner-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: baseline;
  }
  .data-buttons {
    grid-template-columns: 1fr;
  }
}
.playstyle-menu {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5vh 1rem;
  color: var(--white);
}
.playstyle-menu nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  align-items: center;
  gap: 20px;
  max-width: 480px;
}
.playstyle-menu nav a {
  text-align: center;
  background-color: transparent;
  border-bottom: 2px solid var(--white);
  transition: box-shadow 0.2s;
  font-weight: 500;
}
.playstyle-menu nav a:hover {
  text-decoration: none;
  color: var(--white);
  background-color: var(--hover);
  border-bottom: 2px solid transparent;
}
.playstyle-menu nav a.filter {
  border-bottom: 2px solid transparent;
  color: var(--main-color);
}
.playstyle-menu nav a:last-of-type {
  grid-column: span 2;
}
.playstyle-menu h1 {
  text-align: center;
}

@media (min-width: 492px) {
  .playstyle-menu nav {
    margin: auto;
  }
  .playstyle-menu nav a:last-of-type {
    grid-column: span 4;
  }
}
.list-grid inner-column {
  max-width: 840px;
}

.fighters-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px 15px;
  text-align: center;
}
.fighters-list .fighter {
  max-width: 300px;
  max-height: 290px;
  background-color: var(--black);
  color: var(--white);
  box-shadow: 0 0 0 3px var(--accent-color);
}
.fighters-list .fighter:hover {
  box-shadow: 0 0 0 3px var(--hover);
}

.fighter:not(.selected) {
  pointer-events: none;
}
.fighter:not(.selected) picture {
  background-color: rgba(10, 10, 10, 0.5);
  mix-blend-mode: multiply;
}
.fighter:not(.selected) h2 {
  color: var(--shade);
}

.edit-page inner-column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-content: center;
  align-items: baseline;
}
.edit-page inner-column h4 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 650px) {
  .edit-page inner-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .edit-page inner-column form {
    max-width: none;
    margin: 0;
  }
}
.button {
  padding: 15px 30px;
  background: linear-gradient(to right, var(--hover), var(--hover));
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: left;
  font-size: 1.3rem;
  font-weight: 500;
  border: 3px solid transparent;
  color: var(--white);
  border-radius: 2px;
  transition: all 0.2s;
}

.button:hover {
  background-size: 100% 100%;
}
