grid-things{
	display: block;
	width: 100%;
}

grid-things ul{
	margin-top: 3vh;
	margin-bottom: 3vh;
}

grid-things li{
	margin: 5vh 0;
}

grid-things li text-content{
	padding: 20px 10px;
	border-top: 3px solid var(--darkgray);
	background-color: var(--gray);
	color: var(--ink);
}

grid-things .skills{
	padding: 0;
	color: var(--page);
}

iframe{
	width: 100%;
}

div.blog{
	margin: 5vh auto;
}
