@import '_reset';
@import '_setup';
@import '_modules';
@import '_variables';
@import '_typography';
@import '_case';


@-moz-document url-prefix() {
	.remove-me {
		border: 1px solid red;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.strong {
	font-weight: 800;
}

.intro {
	margin-bottom: var(--tight-space);
	color: var(--highlight);
	font-weight: 500;
	font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.intro p {
	font-weight: 500;

}

.skills {
	display: flex;
	text-transform: uppercase;
	flex-wrap: wrap;
	gap: 5px;
	color: var(--highlight);
}

.skills p:after {
	content: ',';
}

.skills p:last-of-type:after {
	content: '';
}

.action-link{
	transition: all .4s;
	letter-spacing: .1em;
	font-weight: 600;
	background-color: transparent;
	border: 3px solid var(--highlight);
}

.action-link:hover{
	background-color: var(--highlight);
}

#menu-toggle:checked ~ .menu a:hover{
	background-color: var(--accent);
	
}


p a:hover,
p+a:hover {
	background-color: var(--highlight);
	transition: all .4s;
	color: white;
}

body{
	overflow-x:hidden;
}

.container {
	scroll-snap-type: y mandatory;
	height:100vh;
	overflow-y: scroll;
}

section{
	width: 100%;
	height: 100vh;


	background-size:cover;
	background-position:center;

	scroll-snap-align:start;
}

section inner-column{
	padding-top: 100px;
}

.row-container {
	scroll-snap-type: x mandatory;
	height:100vh;
	overflow-y: scroll;
	
	display: flex;
	align-items:center;
}

aside{
	width: 100vw;
	min-width: 100vw;
	height: 100vh;
	
	background-size:cover;
	background-position:center;

	
	scroll-snap-align:start;
}


