header {
	z-index: 900;
	width: 100%;
	position: sticky;
	top: 0;
	background-color: rgba(242, 228, 217, 0.95);


	inner-column {
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			padding-top: 7px;

			z-index: 2;
			transition: color 500ms ease-in-out;
			transition-delay: 100ms;
			will-change: color;
			font-size: 1.2rem;
			font-weight: 500;

			position: relative;

			.save-date {
				transition: color 500ms ease-in-out;
				transition-delay: 100ms;
				width: 200%;
				font-family: "Delicious Handrawn", cursive;
				font-size: var(--step-1);
				position: absolute;
				right: -34%;
				top: -40%;
				rotate: 4deg;
				color: var(--purple);
				text-align: end;
			}
		}
	}
}

nav.site-menu {
	width: 100%;
	height: 100%;
	display: grid;
	padding: 1rem;
	padding-top: 140px;

	position: fixed;
	top: 0;
	left: 0;

	transform: translateY(100%);
	opacity: 0;

	transition: transform 500ms cubic-bezier(.4, 0, .2, 1), opacity 500ms cubic-bezier(.4, 0, .2, 1);

	z-index: 1;
	background-color: var(--black-soft);

	ul {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 10px;
		color: var(--white-soft);
		font-weight: 600;
		text-align: center;

		a {

			text-transform: uppercase;
			padding: 10px 20px;
			letter-spacing: .1em;
		}

		h3 {
			padding-bottom: 50px;
			letter-spacing: .1em;
			font-weight: 500;
		}
	}

	figure {
		padding: 10px 20px;
		position: relative;
		height: fit-content;

	}

	picture {
		display: block;
		aspect-ratio: 3/4;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

}

header.open-menu {
	inner-column {

		p {
			color: var(--white-mute);

			.save-date {
				color: var(--blue);
			}
		}
	}

	nav.site-menu {
		transform: translateY(0%);
		opacity: 1;
		bottom: 0;

	}
}

@media(min-width:500px) {
	header {
		.not-mobile-menu {
			font-weight: 500;

			ul {
				display: flex;
				flex-direction: row;
				gap: 10px;

				a {
					padding: 10px;
				}

				a:hover {
					background-color: rgb(98, 15, 47, .2);
				}
			}
		}

		.burger-btn {
			display: none;
		}
	}
}