.feedback {
	margin-top: var(--tight-space);
}

results {
	display: block;
	width: 100%;

	.chant-voice {
		margin-bottom: var(--tight-space);
	}

}

form-box {
	display: grid;
	column-gap: var(--simple-big-space);

	field {
		margin-bottom: var(--general-space);
	}

}

label {
	padding-bottom: 15px;
	font-size: clamp(1.1rem, 2vw, 1.3rem);
}

@media(min-width: 600px) {
	form-box {
		grid-template-columns: repeat(4, 1fr);

		text-content {
			grid-column: 1 /span 2;


		}

		form {
			grid-column: 1 /span 2;
		}

		.feedback {
			grid-column: 3 / span 2;
			grid-row: 1;
			justify-self: center;
			margin: 0;
			text-align: center;
		}

	}
}