/* $Header */

/* body *{outline: 2px solid red;} */

header{
    box-shadow: 0 2px 10px rgb(0 0 0/.5);

    position: sticky;
    top: 0%;

    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(0 0 0/0.3)
}

header inner-column {
    padding: var(--small-height) var(--small-width);

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    padding-left: var(--med-width);
    animation: drop-in 1s;
    transition: gap 1s ;
}


header nav a{
    transition: all ease-in .2s ;
    position: relative;

    padding-top: var(--small-height);
    padding-bottom: var(--small-height);
}

header nav a:before{
    z-index: 5;
    content:"";
    width: 100%;
    position: absolute;
    bottom: -10px;
    height: 3px;
    left: 0;
    display: block;
    background-color: var(--coffee);
    transform: translate3d(0,5px,0);
    transition: all ease-in .2s;
    opacity: 0;

    pointer-events: none;
}

header nav a:hover{
    transition: all ease-in .2s ;
}

header nav a:hover::before{
    opacity: 1;
}

header nav span{
    font-weight: 500;
    font-size: clamp(1.2rem,1.8vw,1.3rem);
}

@media (min-width:800px){
    header nav{
        gap: 80px;

    }
}
