/* $Header */

header{
    box-shadow: 0 4px 15px rgb(0 0 0 / 10%);
}

header inner-column {
    padding: var(--small-height) var(--small-width);

    display: flex;
    align-items: flex-start;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding-left: var(--med-width);
    animation: drop-in 1s;
}


header nav a{
    box-shadow: 0 0 0 3px var(--coffee);
    background-color: var(--faded);
    border-radius: 3px;

    width: 30px;
    height: 30px;

    transition: all ease-in .2s ;
    overflow: hidden;
}

header nav a:hover{
    box-shadow: 0 0 0 2px var(--link);
    transition: all ease-in .2s ;

    background-color: var(--link);

    transform: scale(1.2);
}

header nav a:hover >img{
    filter: invert(1);
}
