/* $Header */

header{
    box-shadow: 0 4px 15px rgb(0 0 0 / 10%);
}

header inner-column {
    padding: 3vh var(--med-width);

    display: flex;
    align-items: flex-start;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    animation: drop-in 1s;
}

header nav a{
    box-shadow: 0 0 0 4px var(--faded);
    background-color: var(--faded);
    border-radius: 5px;

    transition: all ease-in .2s ;
    overflow: hidden;
}

header nav a:hover{
    box-shadow: 0 0 0 2px var(--link);
    transition: all ease-in .2s ;

    background-color: var(--link);

    transform: scale(1.2);
}

header nav a:hover >img{
    filter: invert(1);
}

@media (min-width:600px){
    header nav{
        gap: var(--small-width);
    }
}