
/* body *{
    outline: 2px solid red;
} */

section.projects div.info-wrapper{
    padding-left: var(--med-width);
}

section.projects article{
    padding-bottom: var(--xlarge-height);
}

section.projects span{
    font-weight: 300;
}


div.project-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    padding-right: var(--xs-width);
    padding-bottom: var(--xs-height);
    max-width: 52ch;
}


.project-links a{
    padding: 20px 20px;
    max-width: fit-content;
    font-weight: 500;

    color: var(--black);

    background-color: var(--faded);
    box-shadow: 3px 3px 0 0 var(--ink);
    border: 3px solid var(--coffee);
    border-radius: 5px;

    transition: all ease-in .2s ;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}


.project-links a:hover {
    background-color: var(--link);
    transform: translate(0.2em, 0.2em);
    box-shadow: 0 0 0 1px transparent;
    color: var(--ink);

    border: 3px solid transparent;
    
    cursor: pointer;
}

/* $Project Images */

.project-image{
    margin-top: var(--med-width);
}



