
html {
    --ink: rgb(244, 240, 240);

    --faded: rgb(255 255 255 / .8);
    --accent-ink: rgb(79 39 26/ .7);
    --link: rgb(49, 76, 183);
    --black: rgb(0 0 0/.8);
    --coffee: rgb(130, 135, 183);


    --xs-height: 1vh;
    --xs-width:1vw;
    --small-height: 2vh;
    --small-width:2vw;
    --med-height: 5vh;    
    --med-width:5vw;
    --large-height: 8vh;    
    --large-width:8vw;
    --xlarge-height: 11vh;    
    --xlarge-width: 11vw;

    background-color: black;
    /* for some reason the html needs a background color so that the mix blend will work. */
}

body{
    color: var(--ink);
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;

    background-image: url(../images/paper-texture-2.jpg);
    background-size: cover;
    isolation: isolate;
}

div.overlay{
  position: relative;
  width: 100%;
  height: auto;

  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  display: flex;	
  flex-direction: column;	
  min-height: 100vh;

}

div.overlay::after{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: radial-gradient(circle at 0% 0,
  hsl(4deg 58% 20%) 0%,
  hsl(7deg 57% 20%) 9%,
  hsl(9deg 57% 20%) 13%,
  hsl(137deg 15% 18%) 30%,
  hsl(7deg 26% 13%) 52%,
  hsl(5deg 19% 12%) 57%,
  hsl(0deg 12% 10%) 61%,
  hsl(0deg 5% 8%) 65%,
  hsl(0deg 5% 8%) 70%,
  hsl(20deg 6% 10%) 74%,
  hsl(45deg 7% 11%) 78%,
  hsl(60deg 8% 12%) 83%,
  hsl(137deg 15% 18%) 87%,
  hsl(100deg 12% 15%) 91%,
  hsl(120deg 13% 17%) 96%,
  hsl(137deg 15% 18%) 100%);
  mix-blend-mode: multiply;

}

/* 
Under Development!!

@media (prefers-color-scheme:light){
  div.overlay::after{
    background: radial-gradient(circle at 0% 0,
    rgb(204, 225, 240) 0%,
    rgb(232, 248, 249) 18%,
    rgb(245, 216, 216) 30%,
    rgb(238, 217, 223) 52%,
    rgb(241, 213, 231) 61%,
    rgb(209, 232, 251) 65%,
    rgb(183, 216, 244) 70%,
    rgb(238, 221, 228) 83%,

    rgb(187, 222, 250) 96%,
    rgb(246, 237, 240) 100%);
  }

  html{
    --ink: rgb(16, 16, 16);
    
    --faded: rgb(0 0 0 / .8);
    --accent-ink: blue;
    --link: rgb(85, 201, 201);
    --black: white;
    --coffee: rgb(10, 121, 121);
  }

  header inner-column{
    background-color: rgba(244, 241, 241, 0.3);
  }

} */

inner-column{
  max-width: 1100px;
  padding: var(--med-height) var(--small-width);
  
}


article-grid{
  margin-top: var(--large-height);
}

div.info-wrapper{
  padding-left: var(--med-width);
  animation: slide-in 1000ms;

  margin-right: auto;
}

a:hover{
  color: var(--coffee);
  box-shadow: 0 0 0 0;

}

/* Font-size styles */

.loud-voice{
    font-weight: 800;
    font-size: clamp(2.7rem,12vw,11rem);
    letter-spacing: 4px;
}

.attention-voice{
  font-weight: 700;
  font-size: clamp(2.3rem,9vw,8rem);

  margin-bottom: var(--small-height);
}

.calm-voice{
  font-weight: 500;
  font-size: clamp(1.6rem,5vw,2.5rem);
}

h3.calm-voice{
  margin-bottom: var(--small-height);
}

p{
    font-weight:400;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    margin-bottom: var(--small-height);
    line-height: 1.6;
}

span{
  font-weight: 300;
  font-size: 1.2rem;
}



@keyframes drop-in {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}

@keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
