@import 'reset.css';
@import 'setup.css';
@import 'structure.css';
@import 'header.css';

body *{
    outline: 2px solid red;
}

/* $Main Page Content */
/* $landing */

section.landing{
    position: relative;
}

.landing inner-column div.info-wrapper{
    padding-left: var(--large-height);
    animation: slide-in 1000ms;
}

.landing span{
    display: block;
    font-style: italic;
    margin-bottom: var(--med-height);

    color: var(--faded);
    font-weight: 200;
}

.landing-actions{
    display: flex;
    flex-direction: row;

    padding-top:var(--small-height);
    padding-bottom: var(--small-height);
    padding-right: var(--small-width);

    gap: var(--med-width);

    justify-content: flex-start;
    align-items: center;

}

.landing-actions a {
    width: 150px;
    padding: var(--small-height) var(--small-width);
    text-align: center;
    font-weight: 500;

    color: var(--accent-ink);
    background-color: var(--faded);
    box-shadow: 3px 3px 0 0 var(--ink);

    font-size: clamp(1rem, 1.5vw, 1.5rem);
    transition: all ease-in .2s ;
}


/* $article $connect */

article{
    box-shadow: 3px 3px 0 0 transparent;
    padding-left: var(--large-height);

    padding-top: var(--med-height);
    padding-bottom: var(--med-height);

    display: flex;
    flex-direction: column;
    transition: all .5s ease-in;
}

article.three{
    margin-bottom: 0;
}

article p{
    font-weight: 300;
    font-style: oblique;
}

article a{
    font-weight: 500;
    padding-top: var(--small-height);
    padding-bottom: var(--small-height);
    padding-right: var(--small-width);

    max-width: fit-content;
    text-decoration: underline;

}

article a:hover{
    transform: scale(1.1);
}

article.two{
    box-shadow: 
    0 -3px 0 0 var(--ink),
    0 3px 0 0 var(--ink);
}



@media (min-width:800px) and (max-width:1160px){
    inner-column.connect{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    article{
        margin: 0;
        align-items: center;
        justify-content: space-evenly;
        height: 250px;
        padding-left: 0;

        position: relative;
        width: 100%;
    }

    article p{
        height: 100px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        max-width: 25ch;
    }

    article a{
        padding: var(--small-height) var(--small-width);
        position: absolute;
        bottom: 0;
    }

    article.two,
    article.three{
        padding: 0;
    }

    article.two{
        box-shadow: 
        -3px 0 0 0 var(--ink),
        3px 0 0 0 var(--ink);
    }
}

@media (min-width:1160px){
    inner-column.connect{
        padding: 0;
    }

    article {
        position: absolute;
        padding: var(--small-height) var(--small-width);

        box-shadow: 3px 3px 0 0 var(--accent-ink);
        max-width: 275px;
        height: 200px;

        align-items: center;
        justify-content: center;

    }

    article p,
    article a{
        font-size: 1rem;
    }

    article a{
        padding: 1vh;
    }

    article.one{
        right: 270px;
        top: 41vh;

        color: black;
        border: 4px solid #f4f4d1;
        background-color: #feff9c;

        z-index: 1;
    }    
    
    article.two{
        right: 1vw;
        top: 250px;

        color: black;
        border: 4px solid #cdf4f5;
        background-color: #7afcff;

        z-index: 3;
    }    
    
    article.three{
        right: 10vh;
        top: 63vh;

        color: black;
        border: 4px solid #efd8a0;
        background-color: #f4B416;
        
        z-index: 2;
    }

    /*svg arrow idea! dont forget*/

}



