@import 'reset.css';
@import 'setup.css';
@import 'structure.css';
@import 'header.css';
@import 'projects.css';

/* $Main Page Content */
/* $landing */

section.landing{
    position: relative;
}

.landing inner-column div.info-wrapper{
    padding-left: var(--large-height);
    animation: slide-in 1000ms;
}

.landing span{
    display: block;
    font-style: italic;
    margin-bottom: var(--med-height);

    font-size: 1.2rem;
    color: var(--faded);
    font-weight: 200;
}

.landing-actions{
    display: flex;
    flex-direction: row;

    padding-top:var(--small-height);
    padding-bottom: var(--small-height);
    padding-right: var(--small-width);

    gap: var(--med-width);

    justify-content: flex-start;
    align-items: center;

}

.landing-actions a {
    width: 150px;
    padding: var(--small-height) var(--small-width);
    text-align: center;
    font-weight: 500;

    color: var(--accent-ink);
    background-color: var(--faded);
    box-shadow: 3px 3px 0 0 var(--ink);

    font-size: clamp(1rem, 1.4vw, 1.3rem);
    transition: all ease-in .2s ;
}

.landing-actions a:hover{
    background-color: var(--link);
    transform: translate(0.2em, 0.2em);
    box-shadow: 0 0 0 1px transparent;
    color: var(--ink);
    
    cursor: pointer;
}


.landing h1{
    animation: smooth 1s linear forwards;
    margin-bottom: var(--small-height);
}

/*  $connect */

.landing article{
    box-shadow: 3px 3px 0 0 transparent;
    margin-left: var(--large-height);

    padding-top: var(--med-height);
    padding-bottom: var(--med-height);

    display: flex;
    flex-direction: column;
    transition: all .5s ease-in;
}

.landing article.three{
    margin-bottom: 0;
}

.landing article p{
    font-weight: 300;
    font-style: oblique;
}

.landing article a{
    font-weight: 500;
    padding-top: var(--small-height);
    padding-bottom: var(--small-height);
    padding-right: var(--small-width);

    max-width: fit-content;
    text-decoration: underline;

    transition: all 250ms ;

}

.landing article a:hover{
    transform: scale(1.05) translate(.3em, 0.2em);
}

.landing article.two{
    box-shadow: 
    0 -3px 0 0 var(--ink),
    0 3px 0 0 var(--ink);
}


.landing inner-column.connect{
    margin: var(--med-height) auto;

}


@media (min-width:800px) and (max-width:1160px){
    inner-column.connect{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .landing article{
        margin: 0;
        align-items: center;
        justify-content: space-evenly;
        height: 250px;
        padding-left: 0;

        position: relative;
        width: 100%;
    }

    .landing article p{
        text-align: center;
        height: 100px;
        position: absolute;
        top: 40%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        max-width: 25ch;
    }

    .landing article a{
        padding: var(--small-height) var(--small-width);
        position: absolute;
        bottom: 0;
    }

    .landing article a:hover{
        transform: scale(1.05);
    }
    
    .landing article.two,
    .landing article.three{
        padding: 0;
    }

    .landing article.two{
        box-shadow: 
        -3px 0 0 0 var(--ink),
        3px 0 0 0 var(--ink);
    }
}

@media (min-width:1160px){

    p.connect {
        visibility: hidden;
    }
    inner-column.connect{
        padding: 0;
    }

    .landing inner-column.connect{
        margin: 0;
    
    }

    .landing article {
        position: absolute;
        padding: var(--small-height) var(--small-width);

        box-shadow: 3px 3px 0 0 var(--accent-ink);
        max-width: 275px;
        height: 200px;
        margin-bottom: 0;

        align-items: center;
        justify-content: center;

        border-radius: 3px;
        backdrop-filter: blur(10px);
    }

    .landing article p,
    .landing article a{
        font-size: 1rem;
    }

    .landing article a{
        padding: var(--xs-height);
    }

    .landing article.one{
        right: 270px;
        top: 41vh;


        transform: skew(-2deg);



        color: black;
        border: 3px solid var(--accent-ink);
        background-color: rgba(255, 255, 255, 0.7);

        z-index: 1;
    }    
    
    .landing article.two{
        right: var(--xs-width);
        top: 250px;

        color: black;
        border: 4px solid var(--accent-ink);
        background-color: rgba(255, 255, 255, 0.8);;

        transform: skewX(2deg);
        z-index: 3;

        box-shadow: 3px 3px 0 0 var(--accent-ink);
    }    
    
    .landing article.three{
        right: 10vh;
        top: 63vh;

        transform: skew(2deg);

        color: black;
        border: 4px solid var(--accent-ink);
        background-color: rgba(255, 255, 255, 0.9);
        
        z-index: 2;
    }

    /*svg arrow idea! dont forget*/

}