@import '../templates/components/article-card/style.css';
@import '../templates/components/client-card/style.css';
@import '../templates/components/subscribe-block/style.css';
@import '../templates/components/email-input/style.css';


.site-header .log {
    padding: 8px 22px;
    background: var(--highlight);
    border-radius: 5px;
    color: var(--page);
}

landing-block a {
    padding: 15px 24px;
    font-weight: 500;
}

landing-block a:nth-of-type(1) {
    background: var(--highlight);
    color: var(--page);
}

landing-block a:nth-of-type(2) {
    background: var(--page);
    color: var(--highlight);
    border: 1px solid var(--highlight);
}

call-to-action a {
    padding: 15px 12px;
    color: var(--page);
    background-color: var(--highlight);
    font-weight: 500;
}

.template-two call-to-action a:nth-of-type(2) {
    background: var(--page);
    color: var(--highlight);
    border: 1px solid var(--highlight);
}

.template-two call-to-action a:nth-of-type(2) .arrow path {
    stroke: var(--highlight);
}

@media(min-width:800px) {
    landing-block a {
        padding: 15px 50px;
    }

    call-to-action a {
        padding: 15px 35px;

    }

}