/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --line: 1px;
  --thin: 3px;
  --thick: 5px;
  --Xthick: 9px;
  --white: #fff;
  --black: rgb(10 15 15);
  --fade: rgb(10 10 10 / .3);
  --lightFade: rgb(220 220 220 / .3);
  --gray: #999999;
  --dark-gray: #4c4c4c;
  --dark: #212121;
  --light: #cccccc;
}

html {
  --color: rgba(206, 198, 237);
  --accent: rgba(137, 173, 226);
  --support: rgba(133, 227, 225);
  --light-color: rgba(206, 198, 237, 0.3);
  --light-accent: rgba(137, 173, 226, 0.3);
  --off-support: rgba(133, 227, 225, 0.3);
  --ink: rgb(23 23 23);
  --page: #f4f3f0;
  --pink-lavender: #cdb4dbff;
  --orchid-pink: #ffc8ddff;
  --nadeshiko-pink: #ffafccff;
  --uranian-blue: #bde0feff;
  --baby-blue-eyes: #a2d2ffff;
}

@keyframes squeeze {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.4, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes drop-in {
  0% {
    transform: translateY(-40px) scale(5);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(500px) scale(2, 2);
    opacity: 0;
  }
  50% {
    transform: translateX(-50px) scale(0.4, 2);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0) scale(1, 1);
    opacity: 1;
  }
}
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  background-color: var(--page);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

main {
  flex-grow: 1;
}

inner-column {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem 1rem;
  max-width: 1000px;
}

article-grid,
action-block,
text-content,
label,
input,
field,
button {
  display: block;
  width: 100%;
}

/* display elements */
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.4;
}
p a {
  display: inline-block;
  text-decoration: underline;
  color: var(--highlight);
  font-weight: 500;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* images */
picture {
  display: block;
}

picture img {
  display: block;
  height: auto;
  width: 100%;
}

svg {
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Should we pull in @fonts here? */
:is(.calm-voice, p, li) em {
  font-style: italic;
}

:is(.calm-voice, p, li) strong {
  font-weight: 700;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* typography */
.roar-voice {
  font-size: clamp(32px, 10vw, 64px);
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}

.yell-voice {
  font-size: clamp(26px, 7vw, 56px);
  font-weight: 600;
}

.loud-voice {
  font-size: clamp(22px, 7vw, 48px);
  font-weight: 600;
  text-transform: capitalize;
}

.strict-voice {
  font-size: clamp(20px, 4vw, 32px);
}

.another-voice {
  font-size: clamp(19px, 3vw, 24px);
}

.attention-voice {
  font-size: clamp(18px, 3vw, 22px);
}

.calm-voice,
p,
li {
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.4;
}

a {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1.4;
}

.small-voice {
  font-size: clamp(14px, 1.5vw, 16px);
}

.tiny-voice {
  font-size: 14px;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
code {
  font-family: monospace;
  font-size: 1.1em;
  color: green;
}

body {
  overflow-x: hidden;
}

header inner-column {
  padding-top: 0;
  padding-bottom: 1rem;
  position: relative;
}
header h1 {
  display: grid;
  grid-template-columns: 9% 1fr;
}
header h1 span:nth-of-type(1) {
  padding-top: 3rem;
  padding-left: 1rem;
  margin-left: -1rem;
  background-color: var(--light-color);
  font-family: "Abril Fatface", cursive;
  letter-spacing: 0.06em;
}
header h1 span:nth-of-type(2) {
  grid-column-start: 2;
  grid-row: 2;
  background-color: var(--light-accent);
  font-family: "Londrina Outline", cursive;
  letter-spacing: 0.05em;
  margin-right: -1rem;
  font-weight: 900;
}
header dumbell {
  display: block;
  width: 80px;
  position: absolute;
  top: 15%;
  right: 5%;
}
header dumbell svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(4px 6px 20px var(--gray));
}

form {
  display: grid;
  position: relative;
  gap: 20px;
  max-width: 450px;
  /* Remove IE arrow */
  /* Arrow */
  /* Transition */
}
form:hover input {
  background-color: var(--light-accent);
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
form:hover select {
  background-color: var(--light-accent);
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
form input {
  font-size: clamp(19px, 3.5vw, 24px);
  padding: 0.5em 1em;
  outline: none;
  background-color: var(--page);
  border: 2px solid var(--black);
  border-radius: 5px;
  appearance: none;
}
form input::placeholder {
  font-style: italic;
}
form label {
  grid-column: span 2;
  font-size: clamp(22px, 7vw, 36px);
}
form select {
  appearance: none;
  outline: none;
  box-shadow: none;
  color: rgb(129, 129, 129);
  border: none;
  background-color: var(--page);
  flex: 1;
  padding: 0 1em;
  cursor: pointer;
}
form select::-ms-expand {
  display: none;
}
form .select-container {
  position: relative;
  display: flex;
  height: 3em;
  border: 2px solid var(--black);
  border-radius: 5px;
  overflow: hidden;
}
form .select-container::after {
  content: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 18L15.5 12L9.5 6' stroke='%23757575' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  color: #fff;
  position: absolute;
  padding-top: 3px;
  top: 0;
  right: 0;
  height: 100%;
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--page);
  transition: 0.25s all ease;
  pointer-events: none;
  border-left: 2px solid var(--black);
}
form .select-container:hover::after {
  background-color: var(--color);
}

field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

output {
  display: grid;
  gap: 20px;
}

action-block {
  display: grid;
  gap: 10px;
}

.complete {
  opacity: 0.4;
}

div.trash {
  position: fixed;
  top: 10px;
  right: 10px;
}

list-container {
  border: 2px solid var(--black);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
list-container ul {
  display: grid;
  gap: 20px;
  padding: 20px;
}
list-container h3 {
  padding: 10px;
  color: var(--white);
  background-color: var(--black);
  border-bottom: 2px solid var(--black);
  font-family: "Londrina Outline", cursive;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@media (min-width: 550px) {
  output {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 950px) {
  output {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  list-container {
    gap: 0px;
  }
  list-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
item-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border: 2px solid var(--black);
  text-align: center;
  border-radius: 5px;
}
item-card h4 {
  font-weight: 400;
  text-transform: capitalize;
}
item-card .remove-btn {
  padding: 0;
  margin-right: 45px;
  margin-left: auto;
}
item-card .complete-btn {
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.5rem 0.8rem;
  text-align: center;
  text-decoration-thickness: auto;
  background-color: var(--black);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
item-card .complete-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

item-card.chest {
  background-color: var(--pink-lavender);
}

item-card.back {
  background-color: var(--uranian-blue);
}

item-card.legs {
  background-color: var(--nadeshiko-pink);
}

item-card.shoulders {
  background-color: var(--baby-blue-eyes);
}

item-card.cardio {
  background-color: var(--orchid-pink);
}

.big-button {
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 25px;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration-thickness: auto;
  transition: background-position 0.4s cubic-bezier(0.4, 0, 0.2, 1), height 1ms;
  user-select: none;
  touch-action: manipulation;
  background-size: 500% 100%;
  background-image: radial-gradient(circle, gray, black);
}

.big-button:hover {
  background-position: 130% 0;
  transition: background-position 0.3s ease-in-out;
  color: var(--page);
}

@media (min-width: 768px) {
  .big-button {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
.big-button:disabled,
.big-button[disabled] {
  pointer-events: none;
  border: var(--line) solid var(--gray);
  background-color: var(--dark);
  color: var(--dark-gray);
}

.add-btn {
  border-radius: 50%;
  padding: 15px 10px;
  color: black;
  outline: none;
  border: 2px solid var(--black);
  background-color: var(--white);
  max-width: fit-content;
}

.remove-btn {
  text-decoration: none;
  background: transparent;
  box-shadow: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  pointer-events: all;
}
.remove-btn span {
  pointer-events: none;
}
.remove-btn .inner {
  display: block;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove-btn .inner:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 40px;
  background-color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: ease-out 0.2s all;
  pointer-events: none;
}
.remove-btn .inner:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 40px;
  background-color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: ease-out 0.2s all;
  pointer-events: none;
}
.remove-btn .label {
  color: black;
  opacity: 0;
  transition: linear 0.3s all;
  pointer-events: none;
}
.remove-btn:hover .inner:before, .remove-btn:focus .inner:before {
  transform: translate(-50%, 0%) rotate(0);
  top: 16%;
}
.remove-btn:hover .inner:after, .remove-btn:focus .inner:after {
  transform: translate(-50%, 0%) rotate(0);
  top: 76%;
}
.remove-btn:hover .label, .remove-btn:focus .label {
  opacity: 1;
}

.main-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 6vh;
  position: relative;
}
