header inner-column{
    padding: 2vh 1rem;
}

header h1{
    text-align: center;
    padding: 10px;
}

.site-menu ul{
    display: flex;
    gap:  5px 10px;
    flex-wrap: wrap;
}

.site-menu a{
    padding: 10px;
}