
graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;

}

graphic-diptych text-content h1{
	padding: 1rem;
	padding-top: 20px;
}

graphic-diptych text-content p{
	padding: 1rem;
	padding-bottom: 30px;
}

.dash{
	background-color: var(--ink);
    width: 55px;
    height: 7px;
    margin: 10px 1rem;
	transition: width .8s;
}

.slash {
    height: 13px;
    width: 12px;
    margin-right: 0.3em;
    position: relative;
    top: 0.1em;
	filter: var(--invert);
}

graphic-diptych picture{
	max-height: 95vh;
	overflow:hidden;
}

section.welcome inner-column{
	position: relative;
	padding: 0;

}

graphic-diptych label{
	background-color: var(--color);
	padding:3vh 1rem;

	letter-spacing: 2px;
	display: flex;
}

@media (min-width:  700px) {

	graphic-diptych :is(picture, text-content) {
		flex-basis: 50%;
	}

}

@media (min-width:  900px) {
	graphic-diptych text-content{
		position: absolute;
		bottom: 5vh;
		right: 40px;
		max-width: 35%;
		max-height: 65%;
		background-color: var(--paper);
		padding:0;

	}

	.dash{

		margin: 1em 1rem;
	}

	graphic-diptych text-content h1{
		padding: 15px;
		
	}

	graphic-diptych text-content p{
		background-color: var(--paper);
		padding: 1rem;
		margin: 0;
	}

	graphic-diptych label{
		background-color: var(--color);
		padding:2vh 1rem;
		font-size: .8rem;
		letter-spacing: 2px;
	}

}
