
html {
	box-sizing: border-box;
	scroll-behavior: smooth;

	--simple-small-space:  5px;
	--simple-space:  20px;
	--simple-big-space:  40px;

	--general-space:  5vh;
	--tight-space:  2.6vh;

	--thin:  3px;
	--thick:  5px;
	--Xthick: 9px;

	background-color: rgb(255,255,255);
/*
	zoom: .9;*/
}

html {

	--gray: rgb(196 193 190);
	--darkgray: #474747;
	--white: #fff;
	--black: #000;


	--highlight:rgb(67, 111, 156);
	--highlightOP:  #cbdbf5;
	--darkhighlight: #2e4359;

	--accentone: #e37842;
	--accenttwo: rgb(234 197 177) ;
	
	--ink:  rgb(10 5 5);
	--page:  #f4f4f4;
	--pageCompliment: #bbd3fa;
	--menu-bar:  #5a7aad;

	--landing-text:#f4f4f4;


	--cube-color: rgb(66 147 227 /.5);;
	--cube-line: rgb(194 209 232/.5);

}

@media( min-width:  1600px){

	html{
		--general-space:   3vh;
		--tight-space:  1.7vh;
	}
}

@media(prefers-color-scheme:  dark){
	html{

		--gray:  #474747;
		--darkgray: rgb(196 193 190) ;
		--landing-text: rgb(10 5 5) ;
		--page:  #135b80;
		--ink: #f4f4f4 ;

		--highlight:  #e37842;
		--highlightOP:#f0dfd5;

		--accentone:  #E3EBF8;

		--pageCompliment: rgb(234 197 177) ;
		--menu-bar: #e37842;

		--cube-color: rgb(227 120 66 /.7);
		--cube-line: rgb(232 207 194 /.7);
	}

}

/* $animations*/

@keyframes drop-in {
	from {
		transform: translateY(-200px);
	}
	to {
		transform: translateY(0%);
	}
}

@keyframes slide-in {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes smooth {
	0% { opacity: 0;}
	100% { opacity: 1;}
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}

@keyframes rotate{
	0%{
		transform:  rotate3d(0, 0, 0, 0);
	}
	100%{
		transform: rotate3d(, 1, 0, 360deg);
	}
}


@keyframes spin {
	0% {
		transform: rotateY(0deg) rotateX(0deg);
		
	}

	100% {
		transform: rotateY(360deg) rotateX(360deg);
	}

} 

@keyframes circular {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes alertIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes upFadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	} 
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes rightFadeIn {
	from {
		opacity: 0;
		transform: translateX(20px);
	} 
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
