grid-blog{
	display: block;
	width: 100%;
}

grid-blog ul{
	margin-top: var(--tight-space);
	margin-bottom: var(--tight-space);
}

grid-blog li{
	margin: var(--general-space) 0;
}

grid-blog li text-content{
	padding: var(--simple-space) 10px;
	border-top: 3px solid var(--darkgray);
	background-color: var(--gray);
	color: var(--ink);
}

grid-blog .skills{
	padding: 0;
	color: var(--page);
}

iframe{
	width: 100%;
}

div.blog{
	margin: var(--general-space) auto;
}
