@import 'reset.css';
@import 'setup.css';


/* $Header styles */

header inner-column,
footer inner-column{
    padding: var(--small-height) var(--med-width);
}

h1{
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: clamp(1.8rem, 2.5vw, 2.8rem);
    color: var(--white);
}

header{
    background-color: var(--gray);
}

footer{
    background-color: var(--black);
}

/* $Article Card styles */

aside.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(min-width: 720px){
    aside.container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        min-height: 510px;
    }

    div.info-wrapper{
        width: 40%;
    }

    picture{
        width: 500px;
    }
    
    div.info-wrapper > h2,
    div.info-wrapper > p{
        text-align: center;
    }

}

section{
    position: relative;
}

section > * {
    padding: var(--small-height) var(--med-width);
    color:var(--black);
}

picture{
    max-width: 500px;
}

.details{
    background:linear-gradient(to right, var(--white), var(--faded) 20%, var(--white) 95%);
    padding-bottom: var(--med-height);
    border-bottom: 1px solid var(--gray);

}

details > summary {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
}

details > p{
    line-height: 2;
    padding-left: var(--small-width);
}

details > ul{
    padding-left: var(--small-width);
}

details li{
    padding-top: 5px;
    padding-bottom: 15px;
    list-style: circle;
}

h2{
    font-weight: 500;
    color:var(--black);
    font-size: clamp(1.5rem, 2vw, 2.2rem);
    margin-bottom: var(--xs-height);

}

h4{
    font-weight: 400;
    color:var(--black);
    font-size: clamp(1.2rem, 1.9vw, 1.6rem);
    border-bottom: 1px solid var(--gray);
}

h3{
    text-align: center;
    color:var(--black);
    font-size: clamp(1.3rem, 1.5vw, 1.4rem);
    margin: var(--small-height) auto;
}

button{
    height: 2rem;
    font-size: 1rem;
    width: 100%;
    background-color: var(--gray);
    color: var(--white);
    border: none;
    display: block;
    border-radius: 3px;
    margin-top: var(--xs-height);
}

/* $Colors */

ul.colors{
    margin: var(--small-height) auto;
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}


ul.colors li{
    background-color: var(--faded);
    padding: 20px;
    border-radius: 3px;
    width: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 48%;
}

.sale{
    color: var(--sale);
}