landing-heading {
	text-align: center;
	position: relative;
}


landing-heading h1 {
	text-shadow: 1px 1px 3px var(--fade);
	opacity: 0;
	animation: upFadeIn 0.5s forwards ease-in-out;
	animation-delay: 0.3s;
}

landing-heading p {
	font-size: clamp(1.2rem, 2vw, 1.3rem);
}

landing-heading .intro {
	opacity: 0;
	animation: upFadeIn 0.5s forwards ease-in-out;
	animation-delay: 0.6s;
}

.landing-image {
	position: relative;
	max-width: 500px;

	margin-right: auto;
	margin-left: auto;

	opacity: 0;
	animation: upFadeIn 0.5s forwards ease-in-out;
	animation-delay: 0.9s;
}

.details {
	position: absolute;
	top: 30%;
	width: 100%;
	max-width: 450px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	color: var(--white);
	text-align: center;
	padding: 10px 10px;
	font-weight: 500;

	opacity: 0;
	animation: upFadeIn 0.5s forwards ease-in-out;
	animation-delay: 0.9s;

}

.landing-image img {
	filter: brightness(50%) grayscale(20%);
	z-index: 1;

}

@media(min-width:700px) {
	landing-heading {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: var(--simple-space);

		position: relative;
	}

	landing-heading h1 {
		margin-bottom: var(--general-space);
	}

	landing-heading text-content {
		grid-column: 1/ span 3;
		text-align: left;
		align-self: center;
		position: absolute;
		z-index: 1;
	}

	landing-heading text-content p.details {
		max-width: 65%
	}

	.landing-image {

		grid-column: 3/ 5;
		justify-self: flex-end;
		margin: 0;

	}

	.landing-image img {
		filter: brightness(100%);
		z-index: 1;

	}

	.details {
		position: static;

		width: 100%;
		max-width: none;

		margin: 0;
		color: var(--ink);
		text-align: left;
		text-shadow: none;
		padding: 0;
	}

}

@media(prefers-color-scheme: dark) {

	.landing-image img {
		filter: brightness(70%);

	}
}