.tuesday picture{
    max-width: 75px;
    padding-bottom: 5px;
}

.tuesday p{
    max-width: 65ch;
}

.tuesday li{
    padding-top: 35px;
}

.tuesday li:last-of-type{
    padding-bottom: 35px;
}

.tuesday module{
    padding: 3vh 0;
}

.tuesday module-footer{
    position: relative;
    padding-top: 15px;
    padding-bottom: 30px;
}

.tuesday module-footer:before{
    content: '';
    display: block;
    width: 60%;
    position: absolute;
    height: var(--thin);
    background-color: var(--square);
    top: 0;
    left: 0;
}

.circle{
    fill:var(--circle);
    stroke:var(--ink);
    stroke-width:var(--xthick);
}

.square{
    fill:var(--square);
    stroke:var(--ink);
    stroke-width:var(--xthick);
}

@media(min-width:800px){
    .tuesday module{
        background-color: var(--color);
    }

    .tuesday .articles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px 15px;
        margin-bottom:40px;
    }

    .tuesday li{
        max-width: 48%;
    }

    .tuesday module-header{
        max-width: 60%;
    }

    .tuesday li{
        padding: 30px;
        border: var(--thin) solid var(--ink);
    }

    .tuesday module-footer:before{
        display: none;
    }

    .tuesday module-footer{
    background-color: var(--square);
    max-width: 35%;
    padding: 20px;
    color: var(--color);
    }
}