button {
    background-color: var(--accent);
    border: var(--line) solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--support);
    cursor: pointer;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none var(--support) solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: var(--support);
    color: var(--white);
}

@media (min-width: 768px) {
    button {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

button:disabled,
button[disabled] {
    pointer-events: none;
    border: var(--line) solid var(--gray);
    background-color: var(--dark);
    color: var(--dark-gray);
}

//removes scroll from numbe input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
}

input {
    padding: 15px;
    font-size: 2rem;
    font-family: monospace;
}

input[type=range] {
    padding: 0;
    appearance: none;
    transform: rotate(270deg);
    transform-origin: top left;
    border: none;
    border-radius: 3px;
    height: 5px;
    width: 115px;

    align-self: flex-end;
    justify-self: flex-start;
}


input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    width: 5px;
    background: var(--textaccent);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--support);
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--light);
}

input:focus {
    outline-color: var(--green-shadow);
}