@import '_reset';
@import '_variables';
@import '_setup';
@import '_typography';
@import '_modules';
@import '_components';

#home {
    display: none;
}

output-block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    field {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

action-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.receipt {
    display: block;
}