@import '_reset';
@import '_variables';
@import '_setup';
@import '_typography';
@import '_modules';
@import '_components';

@media(min-width:600px) {
    main {
        >inner-column {
            padding: 0;
            max-width: 1000px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    header inner-column {
        padding: 1.5rem;
        padding-bottom: 3rem;
    }
}

action-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    button.custom-btn {
        grid-column: span 2;
    }
}

.range-container+action-block {
    justify-content: center;
}