.header-button {
    background-color: var(--color);
    border: none;
    border-radius: 12px;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    padding: .7em 1.3em;
    text-align: center;
    text-decoration-thickness: auto;

    &:hover {
        transition: background-color, color .3s cubic-bezier(.4, 0, .2, 1);
        background-color: var(--off-color);
        color: var(--black);
    }
}

.action-link {
    background-color: var(--color);
    border: none;
    border-radius: 50px;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    padding: .9em 1.3em;
    text-align: center;
    text-decoration-thickness: auto;

    &:hover {
        transition: background-color, color .3s ease-in-out;
        background-color: var(--off-color);
        color: var(--black);

        svg {
            fill: black;
        }
    }
}