small-grid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);

}

small-grid text-content p{
	max-width: 60ch;
}

@media(min-width: 700px){

	small-grid{
		grid-template-columns: repeat(4, 1fr);
		column-gap: var(--simple-big-space);
	}

	small-grid text-content{
		grid-column: span 4;
	}

	small-grid project-card:nth-of-type(even){
		grid-column: 3 /span 2;
	}

	small-grid project-card:nth-of-type(odd){
		grid-column: 1 /span 2;
	}
}
