contact-form {
	display: block;
	width: 100%;
	padding-top: var(--general-space);
	padding-bottom: var(--general-space);
}

label,
input,
button,
select,
textarea {
	font-family: 'Poppins', sans-serif;
	font-size: clamp(1rem, 3vw, 1.2rem);
	resize: none;
	width: 100%;
}

input,
textarea {
	padding: var(--simple-space) var(--simple-small-space);
	border-radius: 0;
	border: 0;
}

textarea {
	min-height: 150px;
}

label {
	margin-bottom: 5px;
}

input {
	height: 1.6rem;
	margin-bottom: 25px;
}

select {
	height: 1.6rem;
	text-align: center;
}

.message input {
	height: 10rem;
}


form button {
	margin-left: auto;
	margin-right: auto;
	max-width: fit-content;
}

contact-form button {
	max-width: none;
}

button {
	outline: none;
	padding: var(--simple-space) var(--simple-big-space);
	border: var(--thick) solid var(--highlight);
	background-color: var(--highlight);
	margin-top: var(--simple-big-space);
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	cursor: pointer;
}

.fade {
	opacity: 0;
	grid-column: 3/ span 2;
	scale: .9;

}

@media(min-width:400px) {
	contact-form text-content {
		grid-column: 1/ span 2;
		max-width: 70%;
	}

}



@media(min-width: 800px) {

	contact-form {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: var(--simple-big-space);
		position: relative;
	}

	contact-form text-content {
		grid-column: 1/ span 4;
		max-width: 41ch;
	}

	contact-form form {
		grid-column: 1 / span 2;
	}

	.fade {
		display: block;
		animation: rightFadeIn 1.5s forwards;

	}

	contact-form .cube-sphere {

		order: 3;
		display: block;
		z-index: 1;
		margin: 0;

		animation: circular 10s infinite linear;

	}

}