@import 'reset.css';
@import 'setup.css';

html{
    background-color: antiquewhite;
}

/* structure */
body{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

inner-column{
    display: block;
    max-width: 500px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* document header */
.doc-header {
    position: sticky;
    top: 0;
    background-color: royalblue;
}

.doc-header inner-column{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 5px
}

.doc-header inner-column a{
    display: block;
    color: whitesmoke;
}


.page-content{
    background-image:url(https://images.unsplash.com/photo-1613310023042-ad79320c00ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-position: center;
    background-size: cover;
    flex-grow: 1; /* true */
};


/* site section */
header{
    /* background-color: dodgerblue; */
    background-color: transparent;
    padding: 5px;
}

main{
    background-color: dodgerblue;
    padding: 5px;
}

section{
    /* background-color: rgb(206, 87, 87); */
    background-color: transparent;
    padding: 5px;
    color: white;
}

footer{
    background: darkgray;
    color: white;
}

/* site general styles */

h1{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

p{
    font-size: 18px;
    line-height: 1.7;
}

h1+p,
p+p{
    margin-top: 30px;
}