.has-landing-heading {
	inner-column {
		overflow-x: hidden;
	}
}

landing-heading {
	display: grid;
	width: 100%;

	row-gap: 70px;

	h1 {
		position: relative;
	}


	text-content {
		display: flex;
		flex-direction: column;
		gap: 3vh;

		p {
			font-weight: 500;
		}
	}


	span.roar-voice {
		font-family: 'Abril Fatface', cursive;
	}

	.floating-square {
		position: absolute;
		z-index: -4;
	}

	.green {
		background-color: var(--blue);
		width: 70.1%;
		height: 220px;
		left: -2rem;
		top: 60px;
		opacity: .6;

		filter: blur(.9px);
	}

	.orange {
		background-color: var(--orange);
		width: 100%;
		height: 150px;
		left: calc(70% - 2rem);
		top: 160px;
		opacity: 0.6;

		filter: blur(0.9px);
	}

	.blue {

		background-color: var(--purple);
		width: 100%;
		height: 200px;
		left: calc(70% - 2rem);
		top: 310px;
		opacity: 0.6;

		filter: blur(0.9px);
	}

	.purple {
		background-color: var(--green);
		width: 70.1%;
		height: 100px;
		left: -2rem;
		top: 280px;
		opacity: .6;
		filter: blur(.9px);
	}

	.yellow {
		background-color: var(--yellow);
		width: 100%;
		height: 80px;
		left: calc(70% - 2rem);
		top: 80px;
		opacity: 0.6;

		filter: blur(0.9px);
	}

	figure {

		max-width: 500px;
		margin: 0 auto;
	}


	picture {
		box-shadow: 0 0 0 2px var(--purple);
		border: 5px solid var(--white-mute);
		border-bottom: 7px solid var(--white-mute);
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		overflow: hidden;
		max-height: 600px;

		pointer-events: none;
	}

	figcaption {
		background-color: var(--purple);
		color: var(--white-mute);
		text-align: center;
		padding: 5px;
		box-shadow: 0 0 0 2px var(--purple);
		cursor: pointer;
		transition: background-color .3s cubic-bezier(0.23, 1, 0.320, 1), color .3s cubic-bezier(0.075, 0.82, 0.165, 1);

		p {
			pointer-events: none;
			font-weight: 600;
		}

		&:hover {
			background-color: rgba(98, 15, 47, 0.808);

		}
	}

	@media(min-width:700px) {
		figure {
			margin: initial;
		}
	}

}

.contains-ring {
	position: absolute;
	/* top: 5px; */
	left: 72%;
	width: 100px;
	height: 100px;
	bottom: 45%;
	z-index: -1;
	rotate: 10deg;
	transform: scaleX(-1);

	svg path:first-of-type {
		fill: var(--purple);
		stroke: white;
		stroke-width: 40px;
	}

	svg path:not(:first-of-type) {
		fill: var(--orange);
		stroke: white;
		stroke-width: 60px;
	}
}

@media(min-width:650px) {
	.contains-ring {

		top: -15px;
		left: 0;

		rotate: -20deg;

	}
}

.aurora-bg {

	&:before {
		position: absolute;
		content: "";
		z-index: -5;
		top: -5%;
		filter: blur(.4px);
		bottom: 0;
		width: 80%;
		right: 0;
		background: url(../images/grain.webp) repeat, linear-gradient(83.21deg, rgb(169, 16, 75) 0%,
				rgb(205, 155, 196) 100%);
		background-blend-mode: overlay;

		-webkit-mask-image: radial-gradient(rgba(0, 0, 0, .4), transparent 70%);
		mask-image: radial-gradient(rgba(0, 0, 0, .5), transparent 70%);

	}
}