landing-heading {
	display: grid;
	width: 100%;

	row-gap: 70px;


	text-content {
		display: flex;
		flex-direction: column;
		gap: 3vh;

		p {
			max-width: 16ch;
			font-weight: 500;
		}
	}


	span.roar-voice {
		font-family: 'Abril Fatface', cursive;
	}

	.floating-square {
		position: absolute;
		z-index: -1;
	}

	.green {
		background-color: rgb(107, 109, 30);
		width: 63%;
		height: 220px;
		left: -1rem;
		top: 60px;
		opacity: .6;
		filter: blur(.8px);
	}

	.orange {
		background-color: rgb(202, 78, 39);

		width: 100%;
		height: 153px;
		left: 67%;
		top: 14%;
		opacity: 0.6;
		z-index: -2;
		filter: blur(0.8px);
	}

	figure {
		padding-top: 20px;
	}


	picture {
		outline: 2px solid rgb(98, 15, 47);
		border: 5px solid var(--white-mute);
		border-bottom: 7px solid var(--white-mute);
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		overflow: hidden;
	}

	figcaption {
		background-color: rgb(98, 15, 47);
		color: var(--white-mute);
		text-align: center;
		padding: 5px;
		outline: 2px solid rgb(98, 15, 47);
	}

}

.aurora-bg {

	&:before {
		position: absolute;
		content: "";
		z-index: -5;
		top: -5%;
		filter: blur(.4px);
		bottom: 0;
		width: 150%;
		right: -50%;
		background: url(../images/grain.webp) repeat, linear-gradient(83.21deg, rgb(169, 16, 75) 0%,
				rgb(205, 155, 196) 100%);
		background-blend-mode: overlay;

		-webkit-mask-image: radial-gradient(rgba(0, 0, 0, .4), transparent 70%);
		mask-image: radial-gradient(rgba(0, 0, 0, .5), transparent 70%);

	}
}