
graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;

}

graphic-diptych text-content h1{
	padding: 1rem;
	padding-top: 20px;
}

graphic-diptych text-content p{
	padding: 1rem;
	padding-bottom: 20px;
}

.dash{
	background-color: var(--ink);
    width: 48px;
    height: 7px;
    margin: 10px 1rem;
	transition: width .8s;
}

graphic-diptych picture{
	max-height: 95vh;
	overflow:hidden;
}

section.welcome inner-column{
	position: relative;
	padding: 0;

}

label{
	background-color: var(--color);
	padding:1rem;
}

@media (min-width:  700px) {

	graphic-diptych :is(picture, text-content) {
		flex-basis: 50%;
	}

}

@media (min-width:  900px) {
	graphic-diptych text-content{
		position: absolute;
		bottom: 5vh;
		right: 40px;
		max-width: 30%;
		max-height: 65%;
		background-color: var(--paper);
		padding:0;

	}

	.dash{

		margin: 1em 1rem;
	}

	graphic-diptych text-content h1{
		padding: 15px;
		
	}

	graphic-diptych text-content p{
		background-color: var(--paper);
		padding: 1rem;
		margin: 0;
	}

}
