.site-footer {
	background-color: rgba(0, 0, 0, 0.464);
	color: var(--white);

	inner-column {
		padding: 3rem 1rem;
	}

	nav {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: flex-start;
		justify-content: stretch;

		ul {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			column-gap: 50px;

			li {
				width: 30%;
			}

		}

		p a {
			background-color: inherit;
		}
	}

	div.footer-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	h4 {
		padding-bottom: 20px;


		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			background-color: var(--color);
			height: var(--thin);
			width: 25%;
		}
	}

	a {
		padding: 10px 5px;
		font-size: var(--step--1);
		font-weight: 500;
		transition: color .3s ease-in-out;
		color: var(--white);
	}

	a:hover {
		background-color: var(--color-mute);
	}
}

@media(min-width: 750px) {
	.site-footer {
		nav {
			display: grid;
			grid-template-columns: 3rem 1fr 1fr 2fr;
			gap: 0;
			row-gap: 20px;

			.footer-wrapper:first-of-type {
				grid-column: 2/span 2;
			}

			.footer-wrapper:last-of-type {
				grid-column: 4/-1;
			}

			p {
				grid-column: 2/-1;
			}

		}
	}
}