form-grid {
	width: 100%;
	display: block;
	padding-top: var(--tight-space);
}

.form form-grid {
	border-top: var(--thin) solid var(--cube-line);
}

form-box {
	width: 100%;
	display: block;
}

form-grid ul {
	display: grid;
	column-gap: var(--simple-big-space);
	row-gap: var(--simple-space);
}

form-grid ul li {
	transition: all 1s;
}

form-grid a {
	padding: var(--simple-space);
	border: var(--thick) solid var(--highlight);
	background-color: var(--highlight);
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
}

.js {
	display: none;
}

div.change-form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 1rem;
	margin-bottom: 30px;

}

div.change-form input {
	margin: 0;
	max-width: 100px;
}

div.change-form span {
	font-weight: 500;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: var(--highlight);
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

@media(min-width: 500px) {
	form-grid ul {

		grid-template-columns: repeat(4, 1fr);

	}

	form-grid ul li:nth-of-type(even) {
		grid-column: 3 /span 2;
	}

	form-grid ul li:nth-of-type(odd) {
		grid-column: 1 /span 2;
	}
}

@media(min-width: 1050px) {

	form-grid ul {

		row-gap: 0;
	}

	form-grid ul li:nth-of-type(even) {
		grid-column: 3 /span 1;
	}


	form-grid ul li:nth-of-type(odd) {
		grid-column: 1 /span 1;
	}

	form-grid nav li:nth-of-type(3),
	form-grid nav li:nth-of-type(7) {
		grid-column: 2
	}

	form-grid nav li:nth-of-type(4) {
		grid-column: 4;
	}

	form-grid nav li:nth-of-type(8) {
		grid-row: 5;
	}


}