@import 'reset.scss';
@import 'setup.scss';
@import 'variables.scss';
@import 'typography.scss';
@import 'components.scss';
@import 'modules.scss';
@import 'case.scss';

// section>inner-column>*>text-content {
// 	padding-top: 30px
// }

portfolio-grid {
	display: block;
	scroll-snap-type: y mandatory;
	width: 100%;
	position: absolute;
	top: -70px;
	left: 0;
	margin-top: 70px;
	height: 100vh;
	overflow-y: scroll;

	section {
		width: 100%;
		height: 90%;
		background-size: cover;
		background-position: center;
		scroll-snap-align: start;
	}
}


.intro {
	margin-bottom: var(--intro-space);
	color: var(--color);
	font-weight: 500;
	font-size: var(--step-1);

	p {
		font-weight: 400;
	}
}


.skills {
	display: flex;
	text-transform: uppercase;
	flex-wrap: wrap;
	gap: 5px;
	color: var(--highlight);

	p:after {
		content: ',';
	}

	p:last-of-type:after {
		content: '';
	}

}

.action-link {
	letter-spacing: .03em;
	font-weight: 500;
	width: 100%;
	border: var(--thin) solid var(--color);
	color: var(--ink);
	text-align: center;
	text-transform: uppercase;
	padding: 12px 20px;
	background-color: rgb(var(--color-rgb), .2);
	transition: background-color .3s ease-in-out;
}

.action-link:hover {

	background-color: var(--highlight);
	color: var(--white);
}

#menu-toggle:checked~.menu a:hover {
	background-color: var(--accent);

}

.gs_reveal {
	opacity: 0;
	visibility: hidden;
	will-change: transform, opacity;
}