article-card {
    width: 100%;
    display: flex;
    gap: 22px;
    padding: 10px;
}

article-card text-content {
    gap: 16px;
    margin: 0;
}


article-card .circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 15px;
    background-color: var(--support);
}

article-grid .circle svg {
    width: 30px;
    height: 30px;
}

article-card .number {
    padding: 16px 24px 15px 24px;

}

article-card .number svg {
    width: 12px;
    height: 29px;
}

article-card:first-of-type .number svg {
    width: 8px;
    height: 29px;
}



.template-two h4 {
    font-weight: 600;
}

.template-two article-card {
    padding: 25px;
    border: 1px solid var(--light);
    border-radius: 10px;

}

.template-two article-card text-content {
    text-align: left;
    align-items: flex-start;
}

@media(min-width:652px) {
    .template-two article-card {
        display: flex;
        flex-direction: column;

    }
}