manga-list {
    display: block;
    width: 100%;
}

manga-list h3 {
    padding-bottom: 40px;
}

manga-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 2fr));
    gap: 20px;
}