@import 'style.css';


.goals article{
    margin-bottom: var(--med-height);

    padding-top: var(--med-height);
    padding-bottom: var(--med-height);

    max-width: 65ch;
    box-shadow:
    0 3px 0 0 var(--coffee);
}

.goals article-grid{
    margin: 0;
}

.goals li{
    font-weight:300;
    font-size: clamp(1.1rem, 1.2vh, 1.5rem);
    line-height: 1.5;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;

}

.goals li::before{
    border-radius: 50%;
    background-color: var(--coffee);
    width: 10px;
    height: 10px;
    display: block;
    content: '';
    position: absolute;
    left: -20px;
    top: 22px;

}


li:last-of-type{
    padding-bottom: 0;
}


