main header.list-intro{
    background-color: var(--accent-color);
    padding: 5vh 1rem;
}

.list-intro nav{
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
gap: 10px 15px;
max-width: 800px;
margin: 0 auto;
}

.list-intro h1{
    text-align: center;
    padding: 2vh 0;
}

.list-intro nav *{
    padding: 5px;
}

.list-intro nav a{
    min-width: 40px;
    text-decoration: underline;
    background-color: transparent;
}

.list-intro nav a:hover{
    text-decoration: none;
    color: var(--white);
    background-color: var(--hover);
}

.fighters-list{
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 20px 10px;


    text-align: center;
}

.fighters-list .fighter{
    max-width: 300px;
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 0 0 3px var(--accent-color);
}

.fighters-list .fighter:hover{
    box-shadow: 0 0 0 3px var(--hover);
}

.fighter h2{
    background-color: var(--shade);
    padding: 1vh 0;
}

.fighter:hover h2{
    background-color: var(--hover);
}

.fighter a{
    cursor: alias;
}

.fighter:not(.selected) {
    pointer-events: none;
}

.fighter:not(.selected)  picture{
    background-color: rgb(10, 10, 10 /.5);
    mix-blend-mode: multiply;
}

.fighter:not(.selected) h2{
    color: var(--shade);
}

@media(min-width:500px){
    .list-intro nav{
        justify-content: center;
    }
}
