detail-card {
    width: 100%;
    display: block;
}

.detail-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

detail-card h2 {
    padding-bottom: 50px;
}

detail-card text-content {
    padding-bottom: 30px;
    text-align: left;
}