contact-form {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	max-width: 450px;
	position: relative;

	text-content {
		grid-column: 1/-1;
	}

	input,
	textarea,
	select {
		width: 100%;
		font-family: "Montserrat", sans-serif;
		padding: 10px 15px;
		font-size: var(--step-0);
		border: 2px solid var(--black);
		outline: none;
		resize: none;
	}

	input:focus,
	textarea:focus {
		border: 2px solid var(--color);
	}

	textarea {
		min-height: 100px;
	}

	form {
		grid-column: 1/-1;
		display: grid;
		grid-template-columns: 1fr 2fr;
		row-gap: 20px;
	}

	button {
		grid-column: 2/-1;
		justify-self: flex-end;

	}
}

form-field {
	grid-column: 1 / -1;
	padding: 5px 8px;
	width: 100%;
	position: relative;

	div {
		width: 85%;
	}

	&:hover {
		background-color: rgba(var(--color-rgb), 0.3);
	}

	&:hover :is(input, textarea, select) {
		border-color: var(--color-soft);
	}

}

@media(min-width:400px) {
	contact-form text-content {
		grid-column: 1/ span 2;
		max-width: 80%;
	}

}

@media(min-width: 800px) {

	contact-form {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: var(--simple-big-space);
		position: relative;

		text-content {
			grid-column: 1/ span 2;
			max-width: 50ch;
		}

		form {
			grid-column: 1 / span 2;
			max-width: none;
			margin: 0;
		}

		.fade {
			display: block;
			animation: rightFadeIn 1.5s forwards;
			position: absolute;
			top: 20px;
			margin-left: 3%;

		}


		.cube-sphere {

			order: 3;
			display: block;
			z-index: 1;
			margin: 0;

			animation: circular 10s infinite linear;

		}

	}


}