project-card{
	display: block;
	width: 100%;
	padding: 20px 0;
	position: relative;
	background-color: transparent;
	z-index: 10;
}

project-card span{
	font-size: 4rem;
	transform: rotate(-90deg);

	position: absolute;
	width: fit-content;

	left: 0;
	filter: opacity(25%) blur(2px);
	z-index: -1;
}

/*@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	project-card span{
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba(255, 255, 255, 0.5);
	}
}*/
