@import '_reset';
@import '_variables';
@import '_setup';
@import '_typography';
@import '_modules';
@import '_components';

output-block {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 4vh;
    position: relative;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}