landing-block {
    width: 100%;
    display: block;
}

.landing inner-column {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

text-content {
    text-align: center;
}

landing-block h1 {
    font-weight: 800;
    transition: all .5s ease-out;
}

landing-block p {
    font-weight: 500;
    transition: all .5s ease-out;
    transition-delay: .2s;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
}

landing-block em {
    font-weight: 400;
}

landing-block span {
    font-weight: 700;
    display: block;
    padding-right: 5rem;
}

landing-block text-content:hover h1 {
    text-shadow: -3px 3px 0px var(--highlight);
}

landing-block text-content:hover p {
    text-shadow: none;
    color: var(--accent);
}