/**
 * Eric Meyer's Reset CSS v2.0 
(https://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
     display: block;
}
body {
     line-height: 1;
}
ol, ul {
     list-style: none;
}
blockquote, q {
     quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
     content: '';
     content: none;
}

table {
     border-collapse: collapse;
     border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/* End of Reset */

/* layout */
body {
    background-color: blanchedalmond;
}

.inner-column {
    max-width: 950px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 50px;
    border: 10px solid rgb(252, 209, 144);

}

nav + h2 {
    padding-top: 70px;
}

h2 +nav {
    padding-top: 30px;
    padding-bottom: 20px;
}

section {
    padding-bottom: 30px;
}

/* headings */

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    padding-bottom: 10px;
}

h1 {
    font-weight: 600;
    letter-spacing: 5px;
    font-size: clamp(25px, 3vw, 4vw);
}

h2 {
    font-size: 20px;
    border-top: 2px solid rgb(252, 209, 144);
    margin-top: 40px;
}

/* images */

.images {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
    margin-left: 10px;
}

img {
    width: 100%;
}

/* links */

a {
    display: block;
    border: 1px solid rgba(0,0,0,.2);
    padding: 15px;
    text-decoration: none;
    margin-right: 20px;
    width: 25%;
    float: right;
    text-align: center;
    color: rgb(165, 42, 42);
}

a:hover {
    color: rgba(0, 0, 0, 0.815);
    border: 2px solid brown;
}

@media (min-width: 900px){
    a {
        width: 33%;
    }
}

@media (max-width: 620px){

    .images {
        display: block;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        width: 100%;
        float: none;
    }
}