/* Should we pull in @fonts here? */

.loud-voice	{

	font-size: clamp(35px, 3vw, 45px);
	line-height: 100%;
}

@media (min-width: 600px) {
	.loud-voice {
		font-weight: 800; /* or variable font */
	}
}

.attention-voice	{
	font-size: clamp(25px, 3vw, 30px);
}

.strong-voice	{

	font-weight: 700;
	font-size:  1rem;
	text-align: center;
}

.calm-voice, p, li {

	font-family: 'PT Sans', Helvetica, sans-serif;
	font-size: 1.2rem;
	line-height: 1.4;
}

label{
	display: block;
	font-family: 'PT Sans', Helvetica, sans-serif;
	font-weight: 600;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */

h1,h2,h3,h4,h5,h6{
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	text-transform: uppercase;

	line-height: 1.3;
}

p + p {
	margin-top: 1em;
}

h1 + p{
	margin-top: .5em;
	margin-bottom: 1em;
}

h2 + p {
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
