<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vue Practice</title>
    <meta name='description' content="Vue Javascript is cool.👍🏼">
    <meta property="og:image" content="https://miro.medium.com/max/900/1*OrjCKmou1jT4It5so5gvOA.jpeg">

    <link rel="icon" href="data:;base64,iVBORwOKGO=" />

    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <main class="page-content ">
        <section>
            <inner-column>

                <div id='drive-app' :class="outputStyle">

                    <form autocomplete="off">

                        <h3 class="attention-voice">Driving Age</h3>
                        <field>
                            <label for='age'>What is your age?</label>
                            <input type='number' required min='0' v-model='age'>
                        </field>

                        <button type='submit' class="action-link" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>


            </inner-column>
        </section>

        <section>
            <inner-column>
                <div id="area-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Calculate Area <span>In Feet<span></h3>
                        <field>
                            <label for="length">What is the length of the room?</label>
                            <input type="number" required min='0' v-model='length'>
                        </field>
                        <field>
                            <label for="width">What is the width of the room?</label>
                            <input type="number" required min='0' v-model='width'>
                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>
        <section>
            <inner-column>
                <div id="count-string-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Count Letters in Phrase</h3>
                        <field>

                            <label for="x">Type a word? Or phrase?</label>
                            <input type="text" name='x' v-model="phrase">
                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>
        <section>
            <inner-column>
                <div id="interest-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Interest Calculator</h3>
                        <field>
                            <label for="">What's the principal investment?</label>
                            <input type="number" v-model='principal' required min='0' placeholder="$1000">
                        </field>

                        <field>

                            <label for="">What is the yearly interest?</label>
                            <input type="number" v-model='interest' required min='0' placeholder="10%" step=".01">
                        </field>

                        <field>

                            <label for="">How long do you want to invest for?</label>
                            <input type="number" v-model='time' required min='0' placeholder="5">
                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>

        <section>
            <inner-column>
                <div id="madlib-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Madlib</h3>
                        <field>
                            <label for="">Enter a noun.</label>
                            <input type="text" required v-model='noun'>
                        </field>

                        <field>
                            <label for="">Enter a verb.</label>
                            <input type="text" required v-model='verb'>

                        </field>


                        <field>
                            <label for="">Enter an adverb.</label>
                            <input type="text" required v-model='adverb'>

                        </field>

                        <field>
                            <label for="">Enter an adjective.</label>
                            <input type="text" required v-model='adjective'>
                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>
        <section>
            <inner-column>
                <div id='vue-app-context' :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Hello World</h3>
                        <field class='text'>
                            <label for='userName'>What is your name?</label>
                            <input autocomplete="off" id='userName' type='text' v-model='username'>
                        </field>

                        <button class='action-link' type='submit' v-on:click="update">Enter</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>
        <section>
            <inner-column>
                <div id="paint-app" :class="outputStyle">

                    <form autocomplete="off">

                        <h3 class="attention-voice">Paint Ceiling </h3>
                        <field>
                            <label for="length">What is the length of the room?</label>
                            <input type="number" required min='0' v-model='length'>
                        </field>
                        <field>
                            <label for="width">What is the width of the room?</label>
                            <input type="number" required min='0' v-model='width'>

                            <span>350 feet requires 1 gallon of paint.</span>

                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>
        <section>
            <inner-column>
                <div id="login-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Login Checker</h3>
                        <field>

                            <label for="">Enter username:</label>
                            <input type="text" v-model='username' autocomplete="off" required min='0'>

                            <span class="small-voice">*Hint: <em>JohnDoe </em></span>

                        </field>

                        <field>

                            <label for="">Enter password:</label>
                            <input type="password" v-model='password' autocomplete="off" required min='0'>

                            <span class="small-voice">*Hint: <em>1020World</em></span>

                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>
        <section>
            <inner-column>
                <div id="quote-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Quote Display</h3>
                        <field>
                            <label for="">Who is the author?</label>
                            <input type="text" name='author' v-model="author" required>
                        </field>

                        <field>
                            <label for="">What is your quote?</label>
                            <input type="text" name='quote' v-model="quote" required>
                        </field>


                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>
        <section>
            <inner-column>
                <div id="retire-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Retirement</h3>
                        <field>
                            <label for="">What is your age?</label>
                            <input type="number" inputmode=decimal required v-model="age" min="0">

                        </field>

                        <field>
                            <label for="">What age would you like to retire?</label>
                            <input type="number" inputmode=decimal required v-model="retireAge" min="0">

                        </field>


                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>

        <section>
            <inner-column>
                <div id="checkout-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Self Checkout</h3>
                        <div class="container">
                            <field>
                                <label for="">How many <em>Apples</em> are you taking?</label>
                                <input type="number" v-model='quantityOne' required min='0'>
                            </field>

                            <field>
                                <label for="">Whats the price of the <em>Apples</em>?</label>
                                <input type="number" v-model='priceOne' required min='0'>
                            </field>
                        </div>

                        <div class="container">
                            <field>
                                <label for="">How many <em>Oranges</em> are you taking?</label>
                                <input type=" number" v-model='quantityTwo' required min='0'>
                            </field>

                            <field>
                                <label for="">Whats the price of the <em>Oranges</em>?</label>
                                <input type="number" v-model='priceTwo' required min='0'>
                            </field>

                            <span class="small-voice"><em> Tax is 5.5% in this equation</em></span>
                        </div>


                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>
        <section>
            <inner-column>
                <div id="math-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Quick Math</h3>

                        <field>

                            <label for="">Enter a number.</label>
                            <input type="number" inputmode=decimal v-model='numOne' required min='1'>

                        </field>

                        <field>
                            <label for="">Enter a second number.</label>
                            <input type="number" inputmode=decimal v-model='numTwo' required min='1'>

                        </field>



                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>

        <section>
            <inner-column>
                <div id="pizza-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Pizza Party</h3>
                        <field>
                            <label for="people">How many people will attend the party?</label>
                            <input type="number" required min='0' v-model='people'>
                        </field>
                        <field>
                            <label for="pizza">How many pizzas do you have?</label>
                            <input type="number" required min='0' v-model='pizza'>
                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>

        <section>
            <inner-column>
                <div id="temp-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Temperature Converter</h3>
                        <field>
                            <h4>Convert Temperature from {{picked}}?</h4>
                            <div class="radio-btn-container">

                                <input type="radio" id="one" value="Fahrenheit" v-model="picked">
                                <label for="one">Fahrenheit</label>
                            </div>
                            <div class="radio-btn-container">
                                <input type="radio" id="two" value="Celsius" v-model="picked">
                                <label for="two">Celsius</label>
                            </div>
                        </field>
                        <field>
                            <label for="degree">What is the current tempature? <em>({{picked}})</em></label>
                            <input type="number" required min='0' v-model='degree'>
                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>


        <section>
            <inner-column>
                <div id="bmi-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">BMI Calculator</h3>
                        <field>
                            <h4 for="height">What is your height?</h4>
                            <div class="height-btn-container">
                                <label for="feet">Feet</label>
                                <input type="number" id="feet" required min='0' v-model="feet">

                            </div>
                            <div class="height-btn-container">
                                <label for="inches">Inches</label>
                                <input type="number" id="inches" required min='0' v-model="inches">

                            </div>
                        </field>
                        <field>
                            <label for="weight">What is your weight in pounds?</label>
                            <input type="number" id="weight" required min='0' v-model='weight'>
                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>

        <section>
            <inner-column>
                <div id="cali-tax-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">California Tax Calculator</h3>
                        <field>
                            <label for="amount">What is the order amount?</label>
                            <input type="number" required min='0' v-model='amount'>
                        </field>
                        <field>
                            <label for="amount">What county in California is this being purchased?</label>
                            <select v-model="selected">
                                <option v-for="option in options" :value="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>

        <section>
            <inner-column>
                <div id="calendar-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Number to Calendar Month</h3>
                        <field>
                            <label for="month"> Please enter the number of the month?</label>
                            <input type="number" required min='0' v-model='month'>
                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>


        <section>
            <inner-column>
                <div id="compare-app" :class="outputStyle">

                    <form autocomplete="off">
                        <h3 class="attention-voice">Get the Highest Number</h3>
                        <field>
                            <label for="number"> {{phrase}}</label>
                            <input type="number" required min='0' v-model.number="number">
                        </field>

                        <button class='action-link' type="submit" v-on:click="update">Calculate</button>
                    </form>

                    <output>{{message}}</output>

                </div>
            </inner-column>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="scripts/script.js"></script>
</body>

</html>