@import 'reset.css';
@import 'setup.css';
@import 'header.css';

inner-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

article.poke-card{
    width: 100%;
    height: 150px;
    border: 2px solid black;

    padding: var(--small-height) 1rem;

    position: relative;
}

@media (min-width: 400px){
    article.poke-card{
        width: 49.999%;
    }

}

@media (min-width: 650px){
    article.poke-card{
        width: 33%;
    }

}


div{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 5px;
    right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 1.2rem;
}

h2{
    font-size: 1.5rem;
    font-weight: 500;
}



.fire{
    background-color: rgb(230,94,76);
}

.water{
    background-color: rgb(109,172,248);
}

.grass{
    background-color: rgb(158,214,100);
}
    
.fighting{
    background-color:  rgb(158,90,77);
}

.normal{
    background-color:  rgb(189,188,176);
}

.flying{
    background-color: rgb(131,162,249);
}    

.poison{
    background-color:  rgb(159,97,158);
}

.ground{
    background-color:  rgb(231,203,106);
}

.rock{
    background-color: rgb(203,189,124);
}

.bug{
    background-color:  rgb(198,209,74);
}

.ghost{
    background-color:  rgb(122,116,208);
}

.electric{
    background-color: rgb(249,230,95);
}

.psychic{
    background-color:  rgb(233,111,179);
}

.ice{
    background-color:  rgb(170,239,252);
}

.dragon{
    background-color: rgb(134,118,246);
}

.dark{
    background-color:  rgb(131,100,84);
}

.steel{
    background-color: rgb(195,193,218);
}

.fairy{
    background-color:rgb(239,176,250);
}

