footer .logo {

    width: 211px;
    height: 53px;
}

.template-one footer {
    background-color: var(--highlight);
    color: var(--page);
}

.template-one footer .logo path {
    fill: var(--page);
}

footer .socials {
    gap: 15px;
}

footer .socials li {
    border-radius: 50%;
    padding: 7px 8px;
    border: 1.5px solid var(--page);
}