playstyle-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    min-height: 250px;

    position: relative;


    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;



    h3 {
        font-weight: 500;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    a {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
        transition: border .5s;
        background-color: var(--white);
        z-index: 5;
    }

    p {
        padding: 5px 10px;
    }

    p:before {
        content: '';
        height: 250px;
        width: 2px;
        background-color: var(--main-color);
        position: absolute;
        bottom: -5px;
        right: -5px;
    }

    p:after {
        content: '';
        height: 2px;
        width: 275px;
        background-color: var(--main-color);
        position: absolute;
        bottom: -5px;
        right: -5px;
    }
}

playstyle-card:nth-of-type(even) {

    p:before,
    p:after {
        top: 3vh;
        left: 0px;

    }

    p:after {
        display: none;
    }
}

playstyle-card:hover {
    border-left: 2px solid var(--hover);
    border-right: 2px solid var(--hover);
    border-bottom: 2px solid var(--hover);
    transition: border .5s;

    a {
        background-color: var(--hover);
        color: var(--white);
        border-bottom: 2px solid transparent;
    }

    p:after,
    p:before {
        background-color: transparent;
    }
}



@media(min-width: 550px) {
    playstyle-card {

        min-height: 485px;
    }

    // playstyle-card:nth-of-type(even) {

    //     p:before,
    //     p:after {
    //         top: 43.5px;
    //     }
    // }
}