@import 'reset.css';
@import 'setup.css';
@import 'typography.css';
@import 'modules.css';


ul,
module{
    display: flex;
    flex-direction: column;

}

h2{
    font-size: 27px;
    font-weight: 700;
}

h3{
    font-size: 20px;
    font-weight: 500;
}

h3 +p{
    margin-top: 20px;
}

p{
    font-size: 14px;

}

article-grid picture{
 
    margin-top: 15px;
    margin-bottom: 15px;
    width: fit-content;
    min-height: auto;
}

module-header{
    padding-bottom: 50px;
}

li article{
    border-top: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}


@media(min-width: 550px){

    module{
        background-color: pink;
    }

    ul{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    module-header{
        width: 100%;
    }

    module-header p{
        max-width: 65ch;
    }


    .articles li {
        width: 48%;
    }

    .boxes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0 15px;
        justify-content: space-between;
    }

    .boxes picture{
        max-width: 48%;
    }

}

@media(min-width: 900px){
    module{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        align-items: stretch;
        gap: 0 2%;
        justify-content: center;
    }

    module-header{
        width: 50%;
        margin-right: 50%;
        justify-self: flex-start;
    }

    .articles {
        max-width: 49%;
    }

    .boxes{
        max-width: 49%;
    }

    module {
        background-color: lightgreen;
    }

}