section.sign-up{
	position: relative;
	background: url(../../images/basketball.jpg)no-repeat;
    background-position:center;
	background-size: cover;

	background-color: black;
	box-shadow: 0px 1px 2px var(--neutral-stuffs), 0px -1px 2px var(--neutral-stuffs);

}

section.get-involved .button:hover{
	background-color: var(--color);
	color: var(--white);
}

call-to-action {
	display: block;
	/*border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10vh 0;

	color: var(--white);
}

call-to-action p{
	text-align: center;
	font-size: 25px;
}

call-to-action .button {
	margin-top: 20px;
	background-color: var(--white);
	color: var(--ink);
	font-size: 25px;
}

call-to-action .button:hover{
	color: var(--paper);
}


section.sign-up{
	position: relative;
}

