section.sign-up{
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/basketball.jpg') no-repeat;
    background-position:center;
	background-size: cover;

	background-color: black;

}

section.get-involved{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../images/BASKETBALL2.jpg') no-repeat;
	background-position:fixed;
	background-attachment: fixed;
}

call-to-action {
	display: block;
	/*border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10vh 0;

	color: var(--white);
}

call-to-action p{
	text-align: center;
	font-size: 23px;
	text-transform: uppercase;
}

call-to-action .button {
	margin-top: 20px;
	background-color: var(--white);
	color: var(--black);
	font-size: 18px;
}

call-to-action .button:hover{
	color: var(--white);
}


section.sign-up{
	position: relative;
}

