.specials-page{
    pointer-events: none;
}


.detail-header{
    background-color: var(--accent-color);
    padding: 20px 1rem;
    text-align: center;
    color: var(--white);
}

.detail-header inner-column{
    padding: 0;
}

.fighter-detail{
    position: relative;
    z-index: 0;
}

.fighter-detail inner-column{
    padding-top: 3vh;
}

audio{
    margin-bottom: 20px;
}

fighter-page{
    display: flex;
    flex-direction: column;
}

fighter-page .portrait{
    box-shadow: 0 0 0 3px var(--main-color);
    margin-bottom: 2vh;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.809);
}

fighter-page text-content {
    display: flex;
    flex-direction: column;
}

fighter-page em{
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

fighter-page text-content p,
fighter-page text-content div{
    margin: 10px 0;
    max-width: 65ch;
    padding-left: 1rem;
    border-left: 3px solid var(--main-color); 
}

text-content div p{
    padding: 0;
    border:none;
    margin: 0 0;

}

fighter-page h2{
    text-align: center;
}

.costumes{
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	grid-gap: 15px 10px;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;

    margin-bottom: 20px;
}

.costumes picture{
    max-width: 180px;
    box-shadow: 0 0 0 3px var(--accent-color);
    background-color: rgba(255, 255, 255, 0.809);
}

article-grid.specials{
    display: flex;
    flex-direction: column;

    margin: 10px auto 20px auto;
    gap: 10px;
}

.specials picture{
    max-width: fit-content;
    max-height: fit-content;
    margin: 0 auto;
}

.specials picture img{
    max-height: 100px;
    min-height: 80px;
    max-width: 100%;

    display: block;
    margin: 0 auto;
}

.specials article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    border: 3px solid var(--main-color);
    padding-bottom: 5px;
    min-height: 150px;
    max-height: 150px;
    width: 100%;

}

.specials article a{
    width: 100%;
    height: 100%;
}

.specials article h3{
    background-color: var(--darkshade);
    color: var(--white);
    padding: 1vh 6px;
    width: 100%;
    text-align: center;
}

 
/* ENEMY  \\ Ally */
.relation *{
    margin: 5px auto;
    padding: 0;
    border: none;
}

.relation h3{
    text-transform: uppercase;
}

.relation{
    max-width: fit-content;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: var(--shado);

    border: 5px solid var(--darkshade);
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: var(--black);
    justify-content: space-between;
    transition: color .6s ease-out;
}

.relation picture{
    max-width: 200px;
    margin: 0;
    position: relative;
    transition: all .5s ease-out;
}

.relation picture img{
    margin: 0;
}

.enemy{
    cursor:crosshair;
}

.friend{
    cursor: alias;
}

.friend:hover{
    border-color: var(--main-color);
    background-color: rgb(91, 147, 193);
    color: var(--white);
}

.friend picture::before{
    content: '';
    opacity: 0;
    width: 80%;
    height: 90%;
    background-color: transparent;
    border: 10px solid var(--accent-color);
    outline: 1px solid var(--white);
    box-shadow: 0px 0px 5px #fff;
    border-radius: 50%;
    position: absolute;
    transform: translate(-55%, 5%);
    transition: all .5s ease-out;
}

.friend picture {
    position: relative;
    mix-blend-mode: multiply;
}

.friend:hover picture::before{
    opacity: 100%;
}

.enemy picture:before,
.enemy picture:after{

    opacity: 0;
    width: 10px;
    height: 106%;
    background-color:black;
    content: '';
    outline: 1px solid var(--white);

    position: absolute;
    transition: all .5s ease-out;

}

.enemy picture:before{
    bottom: -5px;
    left: 0;
}

.enemy picture:after{
    bottom: -5px;
    right: 0;
}



.enemy:hover{
    border-color: var(--error);
    color: var(--white);
}


.enemy:hover picture:before{
    opacity: 100%;

    transform: translate(900%) rotate(45deg);
    border-radius: 20px;
}

.enemy:hover picture:after{

    opacity: 100%;
    transform: translate(-900%) rotate(-45deg) ;
    border-radius: 20px;
}

.enemy:hover picture{
    mix-blend-mode: multiply;
}

.enemy:hover {
    background-color: var(--errorBG);
}



@media(min-width:500px){
    article-grid.specials{
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .specials article{
        justify-content: space-between;
    }


}

@media (min-width: 850px){
    fighter-page{
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
    }

    fighter-page .container{
        position: sticky;
        top: 20px;
    }

    article-grid.specials{
        gap: 20px;
        justify-content: center;
    }
}

@media only screen and (min-width:500px){
    audio{
        height: 50px;
        width: 280px;
        border-radius: 50px;
        border: 2px solid var(--main-color);
        font-family: arial;
        color: white;
        font-size: 0.75em;
        overflow: hidden;
    }
    
    
    
}
