section.fighter-detail{
    position: relative;
z-index: 0;
}

section.fighter-detail inner-column{
    padding-top: 3vh;
}

inner-column> h2{
    text-align: center;
    margin-bottom: 6vh;
    text-transform: uppercase;
    z-index: 10;
    color: var(--white);
}

inner-column> h2::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 10vh;
    max-height: 150px;
    top: 0;
    left: 0;
    z-index: -1;

    background-color: var(--accent-color);

}


fighter-page{
    display: flex;
    flex-direction: column;

    
}

fighter-page picture.portrait{
    box-shadow: 0 0 0 3px var(--main-color);
    margin-bottom: 2vh;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.809);
}

fighter-page text-content {
    display: flex;
    flex-direction: column;
}

fighter-page text-content em{
    margin-bottom: 2vh;
    text-align: center;
}

fighter-page text-content p,
fighter-page text-content div{
    margin: 2vh 0;
    max-width: 50ch;
    padding-left: 1rem;
    border-left: 3px solid var(--main-color); 
}

text-content div p{
    padding: 0;
    border:none;
    margin: 0 0;

}

fighter-page text-content h2{
    text-align: center;
}

article-grid.costumes{
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	grid-gap: 15px 10px;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;

    margin-bottom: 2vh;
}

article-grid.costumes picture{
    max-width: 180px;
    box-shadow: 0 0 0 3px var(--accent-color);
    background-color: rgba(255, 255, 255, 0.809);
}

article-grid.specials{
    display: flex;
    flex-direction: column;

    margin: 3vh auto;
    gap: 10px;
}

article-grid.specials picture{
    max-width: fit-content;
    max-height: fit-content;
}

article-grid.specials picture img{
    max-height: 100px;
    min-height: 80px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

article-grid.specials article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    border: 3px solid var(--accent-color);
    padding-bottom: 5px;
    min-height: 140px;
    max-height: 140px;
    width: 100%;

}

article-grid.specials article h3{
    background-color: var(--darkshade);
    color: var(--white);
    padding: 1vh 6px;
    width: 100%;
    text-align: center;
}

@media(min-width:450px){
    article-grid.specials{
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    article-grid.specials article{
        justify-content: space-between;
    }


}

@media (min-width: 800px){
    fighter-page{
        flex-direction: row;
        gap: 30px;
    }

    inner-column>h2{

        margin-bottom: 6vh;
    }

    article-grid.specials{
        gap: 20px;
        justify-content: center;
    }
}
