playstyle-grid {
    display: grid;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    grid-template-columns: 1fr;

    h2 {
        text-align: center;
        font-weight: 600;

    }

}

@media(min-width: 550px) {
    playstyle-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        column-gap: 40px;

        h2 {
            grid-column: span 2;
        }
    }
}

.action {
    text-align: center;
    position: relative;
}

.action a {

    padding: 15px 30px;
    background: linear-gradient(to right, var(--hover), var(--hover));
    background-color: var(--main-color);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: left;
    font-size: 1.3rem;
    font-weight: 500;
    border: 3px solid transparent;
    color: var(--white);
    border-radius: 2px;
    transition: all .2s;
}

.action a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 3px solid transparent;
    border-radius: 5px;
}

.action a:hover::before {
    animation: animate .4s linear forwards;
}

.action a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 3px solid transparent;

    border-radius: 5px;
}

.action a:hover::after {
    animation: animates .4s linear forwards;
}

.action a:hover {
    background-size: 100% 100%;
}